<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

 version: $Id$
 -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console output -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender"> 
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="TRACE"/>
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/> 
		</layout> 
	</appender> 

	<!-- Use full DEBUG for all EJBCA classes -->
	<category name="org.ejbca" additivity="false">
		<priority value="TRACE"/>
		<appender-ref ref="console"/>
	</category>

	<category name="org.hibernate.tool.hbm2ddl" additivity="false">
		<priority value="INFO"/>
		<appender-ref ref="console"/>
	</category>

	<category name="org.hibernate" additivity="false">
		<priority value="WARN"/>
		<appender-ref ref="console"/>
	</category>

	<root> 
		<!-- Set basic limit for console -->
		<priority value="INFO" />
		<appender-ref ref="console"/>
	</root> 

</log4j:configuration>
