<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app >
   <description><![CDATA[EJBCA Administration web]]></description>
   <distributable/>

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

   <servlet>
      <servlet-name>AdminCertReq</servlet-name>
      <display-name>AdminCertReqServlet</display-name>
      <description><![CDATA[Used to retrive CA certificate request and Processed CA Certificates from AdminWeb GUI]]></description>
     <servlet-class>se.anatom.ejbca.webdist.cainterface.AdminCertReqServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>
   <servlet>
      <servlet-name>GetCRL</servlet-name>
      <display-name>GetCRLServlet</display-name>
      <description><![CDATA[Used to retrive CA certificate request and Processed CA Certificates from AdminWeb GUI]]></description>
     <servlet-class>se.anatom.ejbca.webdist.cainterface.GetCRLServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>
   <servlet>
      <servlet-name>EndEntityCert</servlet-name>
      <display-name>EndEntityCertServlet</display-name>
      <description><![CDATA[Returns the specified end entity certificate]]></description>
     <servlet-class>se.anatom.ejbca.webdist.cainterface.EndEntityCertServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>
   <servlet>
      <servlet-name>CACert</servlet-name>
      <display-name>CACertServlet</display-name>
      <description><![CDATA[Returns the specified CA certificate]]></description>
     <servlet-class>se.anatom.ejbca.webdist.cainterface.CACertServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>
   <servlet>
      <servlet-name>CACertReq</servlet-name>
      <display-name>CACertReqServlet</display-name>
      <description><![CDATA[Used to retrive CA certificate request and Processed CA Certificates from AdminWeb GUI]]></description>
     <servlet-class>se.anatom.ejbca.webdist.cainterface.CACertReqServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>

  <!--
  To use non XDoclet servlets, create a servlets.xml file that
  contains the additional servlets (eg Struts) and place it in your
  project's merge dir.  Don't include servlet-mappings in this file,
  include them in a file called servlet-mappings.xml and put that in
  the same directory.
  -->

   
<!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jasper.jspc.adminmenu_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.adminmenu_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.errorpage_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.errorpage_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.index_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.index_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.main_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.main_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.mypreferences_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.mypreferences_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.viewcertificate_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.viewcertificate_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.sysconfig.configuration_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.sysconfig.configuration_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.addendentity_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.addendentity_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.editendentity_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.editendentity_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.listendentities_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.listendentities_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.viewendentity_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.viewendentity_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.viewhistory_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.viewhistory_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ra.editendentityprofiles.editendentityprofiles_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ra.editendentityprofiles.editendentityprofiles_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.log.viewlog_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.log.viewlog_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.log.logconfiguration.logconfiguration_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.log.logconfiguration.logconfiguration_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.hardtoken.edithardtokenissuers_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.hardtoken.edithardtokenissuers_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.hardtoken.viewtoken_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.hardtoken.viewtoken_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.hardtoken.edithardtokenprofiles.edithardtokenprofiles_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.hardtoken.edithardtokenprofiles.edithardtokenprofiles_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ca.cafunctions_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ca.cafunctions_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ca.viewcainfo_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ca.viewcainfo_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ca.editpublishers.editpublishers_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ca.editpublishers.editpublishers_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ca.editcertificateprofiles.editcertificateprofiles_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ca.editcertificateprofiles.editcertificateprofiles_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.ca.editcas.editcas_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.ca.editcas.editcas_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.banners.foot_005fbanner_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.banners.foot_005fbanner_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.banners.head_005fbanner_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.banners.head_005fbanner_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jasper.jspc.administratorprivileges.administratorprivileges_jsp</servlet-name>
        <servlet-class>org.apache.jasper.jspc.administratorprivileges.administratorprivileges_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.adminmenu_jsp</servlet-name>
        <url-pattern>/adminmenu.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.errorpage_jsp</servlet-name>
        <url-pattern>/errorpage.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.index_jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.main_jsp</servlet-name>
        <url-pattern>/main.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.mypreferences_jsp</servlet-name>
        <url-pattern>/mypreferences.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.viewcertificate_jsp</servlet-name>
        <url-pattern>/viewcertificate.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.sysconfig.configuration_jsp</servlet-name>
        <url-pattern>/sysconfig/configuration.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.addendentity_jsp</servlet-name>
        <url-pattern>/ra/addendentity.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.editendentity_jsp</servlet-name>
        <url-pattern>/ra/editendentity.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.listendentities_jsp</servlet-name>
        <url-pattern>/ra/listendentities.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.viewendentity_jsp</servlet-name>
        <url-pattern>/ra/viewendentity.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.viewhistory_jsp</servlet-name>
        <url-pattern>/ra/viewhistory.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ra.editendentityprofiles.editendentityprofiles_jsp</servlet-name>
        <url-pattern>/ra/editendentityprofiles/editendentityprofiles.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.log.viewlog_jsp</servlet-name>
        <url-pattern>/log/viewlog.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.log.logconfiguration.logconfiguration_jsp</servlet-name>
        <url-pattern>/log/logconfiguration/logconfiguration.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.hardtoken.edithardtokenissuers_jsp</servlet-name>
        <url-pattern>/hardtoken/edithardtokenissuers.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.hardtoken.viewtoken_jsp</servlet-name>
        <url-pattern>/hardtoken/viewtoken.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.hardtoken.edithardtokenprofiles.edithardtokenprofiles_jsp</servlet-name>
        <url-pattern>/hardtoken/edithardtokenprofiles/edithardtokenprofiles.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ca.cafunctions_jsp</servlet-name>
        <url-pattern>/ca/cafunctions.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ca.viewcainfo_jsp</servlet-name>
        <url-pattern>/ca/viewcainfo.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ca.editpublishers.editpublishers_jsp</servlet-name>
        <url-pattern>/ca/editpublishers/editpublishers.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ca.editcertificateprofiles.editcertificateprofiles_jsp</servlet-name>
        <url-pattern>/ca/editcertificateprofiles/editcertificateprofiles.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.ca.editcas.editcas_jsp</servlet-name>
        <url-pattern>/ca/editcas/editcas.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.banners.foot_005fbanner_jsp</servlet-name>
        <url-pattern>/banners/foot_banner.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.banners.head_005fbanner_jsp</servlet-name>
        <url-pattern>/banners/head_banner.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jasper.jspc.administratorprivileges.administratorprivileges_jsp</servlet-name>
        <url-pattern>/administratorprivileges/administratorprivileges.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

   <servlet-mapping>
      <servlet-name>AdminCertReq</servlet-name>
      <url-pattern>/ca/certreq</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>GetCRL</servlet-name>
      <url-pattern>/ca/getcrl/getcrl</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>EndEntityCert</servlet-name>
      <url-pattern>/ca/endentitycert</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CACert</servlet-name>
      <url-pattern>/ca/cacert</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>CACertReq</servlet-name>
      <url-pattern>/ca/editcas/cacertreq</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

    <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorpage.jsp</location>
  </error-page>

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

    <security-constraint>
    <web-resource-collection>
      <web-resource-name>EJBCA</web-resource-name> 
      <description>EJBCA Admin-GUI</description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description>This web demands SSL</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>

   <env-entry>
      <description><![CDATA[Defines the admin directory]]></description>
      <env-entry-name>ADMINDIRECTORY</env-entry-name>
      <env-entry-value>adminweb</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Defines the available languages by languagecodes separated with a comma]]></description>
      <env-entry-name>AVAILABLELANGUAGES</env-entry-name>
      <env-entry-value>EN,FR,IT,ES</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Defines the available themes by css-filenames separated with a comma]]></description>
      <env-entry-name>AVAILABLETHEMES</env-entry-name>
      <env-entry-value>default_theme.css</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Port used by EJBCA public webcomponents. i.e that doesn't require client authentication]]></description>
      <env-entry-name>PUBLICPORT</env-entry-name>
      <env-entry-value>8080</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Port used by EJBCA private webcomponents. i.e that requires client authentication]]></description>
      <env-entry-name>PRIVATEPORT</env-entry-name>
      <env-entry-value>8443</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Protocol used by EJBCA public webcomponents. i.e that doesn't require client authentication]]></description>
      <env-entry-name>PUBLICPROTOCOL</env-entry-name>
      <env-entry-value>http</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Protocol used by EJBCA private webcomponents. i.e that requires client authentication]]></description>
      <env-entry-name>PRIVATEPROTOCOL</env-entry-name>
      <env-entry-value>https</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Default content encoding used to display JSP pages]]></description>
      <env-entry-name>contentEncoding</env-entry-name>
      <env-entry-value>UTF-8</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <ejb-local-ref >
      <ejb-ref-name>ejb/RSASignSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ca.sign.ISignSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ca.sign.ISignSessionLocal</local>
      <ejb-link>RSASignSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/CertificateStoreSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ca.store.ICertificateStoreSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ca.store.ICertificateStoreSessionLocal</local>
      <ejb-link>CertificateStoreSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/CAAdminSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ca.caadmin.ICAAdminSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ca.caadmin.ICAAdminSessionLocal</local>
      <ejb-link>CAAdminSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/UserAdminSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ra.IUserAdminSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ra.IUserAdminSessionLocal</local>
      <ejb-link>UserAdminSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/RaAdminSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ra.raadmin.IRaAdminSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ra.raadmin.IRaAdminSessionLocal</local>
      <ejb-link>RaAdminSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/LogSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.log.ILogSessionLocalHome</local-home>
      <local>se.anatom.ejbca.log.ILogSessionLocal</local>
      <ejb-link>LogSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/AuthorizationSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.authorization.IAuthorizationSessionLocalHome</local-home>
      <local>se.anatom.ejbca.authorization.IAuthorizationSessionLocal</local>
      <ejb-link>AuthorizationSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/HardTokenSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.hardtoken.IHardTokenSessionLocalHome</local-home>
      <local>se.anatom.ejbca.hardtoken.IHardTokenSessionLocal</local>
      <ejb-link>HardTokenSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/HardTokenBatchJobSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.hardtoken.IHardTokenBatchJobSessionLocalHome</local-home>
      <local>se.anatom.ejbca.hardtoken.IHardTokenBatchJobSessionLocal</local>
      <ejb-link>HardTokenBatchJobSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/KeyRecoverySessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.keyrecovery.IKeyRecoverySessionLocalHome</local-home>
      <local>se.anatom.ejbca.keyrecovery.IKeyRecoverySessionLocal</local>
      <ejb-link>KeyRecoverySession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref >
      <ejb-ref-name>ejb/PublisherSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>se.anatom.ejbca.ca.publisher.IPublisherSessionLocalHome</local-home>
      <local>se.anatom.ejbca.ca.publisher.IPublisherSessionLocal</local>
      <ejb-link>PublisherSession</ejb-link>
   </ejb-local-ref>
</web-app>
