<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Administration web</display-name>
 <!-- <distributable/> -->
  <servlet>
    <servlet-name>GetCRL</servlet-name>
    <display-name>GetCRLServlet</display-name>
    <description>Returns the latest CRL</description>
    <servlet-class>se.anatom.ejbca.webdist.cainterface.GetCRLServlet</servlet-class>
    <load-on-startup>99</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CACert</servlet-name>
    <display-name>CACertServlet</display-name>
    <description>Returns the specified CA certificate</description>
    <servlet-class>se.anatom.ejbca.webdist.cainterface.CACertServlet</servlet-class>
    <load-on-startup>99</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AdminCertReq</servlet-name>
    <display-name>AdminCertReqServlet</display-name>
    <description>Servlet used to receive and automagically create users from the received request</description>
    <servlet-class>se.anatom.ejbca.apply.AdminCertReqServlet</servlet-class>
    <load-on-startup>99</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CACertReq</servlet-name>
    <display-name>CACertReqServlet</display-name>
    <description>Used to retrive CA certificate request and Processed CA Certificates from AdminWeb GUI</description>
    <servlet-class>se.anatom.ejbca.webdist.cainterface.CACertReqServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminCertReq</servlet-name>
    <url-pattern>/ca/certreq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCRL</servlet-name>
    <url-pattern>/ca/getcrl/getcrl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CACert</servlet-name>
    <url-pattern>/ca/cacert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CACertReq</servlet-name>
    <url-pattern>/ca/editcas/cacertreq</url-pattern>
  </servlet-mapping>
  
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorpage.jsp</location>
  </error-page>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name></web-resource-name> 
      <description></description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description>This web demands SSL</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>

  <env-entry>
    <description>Defines the admin directory</description>
    <env-entry-name>ADMINDIRECTORY</env-entry-name>
    <env-entry-value>adminweb/</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Defines the available languages by languagecodes separated with a comma </description>
    <env-entry-name>AVAILABLELANGUAGES</env-entry-name>
    <env-entry-value>EN</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Defines the available themes by css-filenames separated with a comma </description>
    <env-entry-name>AVAILABLETHEMES</env-entry-name>
    <env-entry-value>default_theme.css</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Port used by EJBCA public webcomponents. i.e that doesn't require client authentication.</description>
    <env-entry-name>PUBLICPORT</env-entry-name>
    <env-entry-value>8080</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Port  used by EJBCA private webcomponents. i.e that requires client authentication </description>
    <env-entry-name>PRIVATEPORT</env-entry-name>
    <env-entry-value>8443</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Protocol used by EJBCA public webcomponents. i.e that doesn't require client authentication </description>
    <env-entry-name>PUBLICPROTOCOL</env-entry-name>
    <env-entry-value>http</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <description>Protocol used by EJBCA private webcomponents. i.e that requires client authentication</description>
    <env-entry-name>PRIVATEPROTOCOL</env-entry-name>
    <env-entry-value>https</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <ejb-local-ref>
    <ejb-ref-name>ejb/RSASignSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ca.sign.ISignSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ca.sign.ISignSessionLocal</local>
    <ejb-link>RSASignSession</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>CertificateStoreSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ca.store.ICertificateStoreSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ca.store.ICertificateStoreSessionLocal</local>
    <ejb-link>CertificateStoreSession</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>CAAdminSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ca.caadmin.ICAAdminSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ca.caadmin.ICAAdminSessionLocal</local>
    <ejb-link>CAAdminSession</ejb-link>
  </ejb-local-ref>  
  <ejb-local-ref>
    <ejb-ref-name>UserAdminSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ra.IUserAdminSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ra.IUserAdminSessionLocal</local>
    <ejb-link>UserAdminSession</ejb-link>
  </ejb-local-ref>  
  <ejb-local-ref>
    <ejb-ref-name>RaAdminSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ra.raadmin.IRaAdminSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ra.raadmin.IRaAdminSessionLocal</local>
    <ejb-link>RaAdminSession</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>LogSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.log.ILogSessionLocalHome</local-home>
    <local>se.anatom.ejbca.log.ILogSessionLocal</local>
    <ejb-link>LogSession</ejb-link>
  </ejb-local-ref>  
  <ejb-local-ref>
    <ejb-ref-name>AuthorizationSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.authorization.IAuthorizationSessionLocalHome</local-home>
    <local>se.anatom.ejbca.authorization.IAuthorizationSessionLocal</local>
    <ejb-link>AuthorizationSession</ejb-link>
  </ejb-local-ref>  
  <ejb-local-ref>
    <ejb-ref-name>HardTokenSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.hardtoken.HardTokenSessionLocalHome</local-home>
    <local>se.anatom.ejbca.hardtoken.HardTokenSessionLocal</local>
    <ejb-link>HardTokenSession</ejb-link>
  </ejb-local-ref>  
  <ejb-local-ref>
    <ejb-ref-name>HardTokenBatchJobSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.hardtoken.HardTokenBatchJobSessionLocalHome</local-home>
    <local>se.anatom.ejbca.hardtoken.HardTokenBatchJobSessionLocal</local>
    <ejb-link>HardTokenBatchJobSession</ejb-link>
  </ejb-local-ref>
    <ejb-local-ref>
    <ejb-ref-name>KeyRecoverySessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.keyrecovery.KeyRecoverySessionLocalHome</local-home>
    <local>se.anatom.ejbca.keyrecovery.KeyRecoverySessionLocal</local>
    <ejb-link>KeyRecoverySession</ejb-link>
  </ejb-local-ref>          
  <ejb-local-ref>
    <ejb-ref-name>PublisherSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>se.anatom.ejbca.ca.publisher.PublisherSessionLocalHome</local-home>
    <local>se.anatom.ejbca.ca.publisher.PublisherSessionLocal</local>
    <ejb-link>PublisherSession</ejb-link>
  </ejb-local-ref>     
</web-app>
