<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

 version: $Id$
 -->
<web-app version="3.0" id="web-app_1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Public web root</display-name>

    
    <filter>
        <filter-name>ServiceControlFilter</filter-name>
        <filter-class>org.ejbca.util.ServiceControlFilter</filter-class>
        <init-param>  
            <param-name>serviceName</param-name>  
            <param-value>Public Web</param-value>  
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>ServiceControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>ContentSecurityPolicyFilter</filter-name>
        <filter-class>org.owasp.filters.ContentSecurityPolicyFilter</filter-class>
        <init-param>
            <param-name>objects</param-name>
            <param-value>yes</param-value>
        </init-param>
    </filter>
    
    <filter-mapping> 
        <filter-name>ContentSecurityPolicyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
        
    <servlet>
        <servlet-name>CertReqServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.CertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>templates/certInstTemplate.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>responseIidTemplate</param-name>
            <param-value>templates/certInstIidTemplate.jsp</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CertReqServlet</servlet-name>
        <url-pattern>/certreq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoEnrollServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.AutoEnrollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoEnrollServlet</servlet-name>
        <url-pattern>/autoenroll</url-pattern>
    </servlet-mapping>
    
<!--
    <servlet>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.DemoCertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>templates/certInstTemplate.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <url-pattern>/democertreq</url-pattern>
    </servlet-mapping>
-->

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <mime-mapping>
        <extension>vbs</extension>
        <mime-type>text/vbscript</mime-type>
    </mime-mapping>

    <ejb-local-ref>
        <description>An EJB that can provide references to all other SSBs to avoid this kind of declarations</description>
        <ejb-ref-name>EjbBridgeSession</ejb-ref-name>
        <local>org.ejbca.core.ejb.EjbBridgeSessionLocal</local>
        <ejb-link>EjbBridgeSessionBean</ejb-link>
    </ejb-local-ref>

</web-app>
