<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="web-app_1" version="2.5">

    <display-name>Public web root</display-name>

    <servlet>
        <servlet-name>CertReqServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.CertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>templates/certInstTemplate.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>responseIidTemplate</param-name>
            <param-value>templates/certInstIidTemplate.jsp</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CertReqServlet</servlet-name>
        <url-pattern>/certreq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AutoEnrollServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.AutoEnrollServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoEnrollServlet</servlet-name>
        <url-pattern>/autoenroll</url-pattern>
    </servlet-mapping>

<!--
    <servlet>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.DemoCertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>templates/certInstTemplate.jsp</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <url-pattern>/democertreq</url-pattern>
    </servlet-mapping>
-->

<!-- 
This is a servlet that can be used to renew certificates on smart card using NetId CSP.
It is tailored for SwedishEID hard token profile with two certificates, one for authentication and one for signature.
The old certificates will be removed when the new ones are added.
-->
<!-- 
    <servlet>
        <servlet-name>CardCertReqServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.CardCertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>templates/cardCertInstTemplate.html</param-value>
        </init-param>
        <init-param>
            <param-name>authCertProfile</param-name>
            <param-value>company A auth enc</param-value>
        </init-param>
        <init-param>
            <param-name>signCertProfile</param-name>
            <param-value>company A sign</param-value>
        </init-param>
        <init-param>
            <param-name>signCA</param-name>
            <param-value>test</param-value>
        </init-param>
        <init-param>
            <param-name>authCA</param-name>
            <param-value>Company A from test</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CardCertReqServlet</servlet-name>
        <url-pattern>/cardcertreq</url-pattern>
    </servlet-mapping>
 
    <security-constraint>
        <web-resource-collection>
          <web-resource-name>EJBCA</web-resource-name> 
          <description>EJBCA Admin-GUI</description>
          <url-pattern>/cardCertApply.jsp</url-pattern> 
        </web-resource-collection>
        <user-data-constraint>
            <description>This web demands SSL</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config>
-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

<!--
    <ejb-local-ref id="EJBLocalRef_1">
	    <ejb-ref-name>ejb/CAAdminSessionLocal</ejb-ref-name>
	    <ejb-ref-type>Session</ejb-ref-type>
	    <local-home>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocalHome</local-home>
	    <local>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocal</local>
	    <ejb-link>CAAdminSession</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref id="EJBLocalRef_2">
	    <ejb-ref-name>ejb/RSASignSessionLocal</ejb-ref-name>
	    <ejb-ref-type>Session</ejb-ref-type>
	    <local-home>org.ejbca.core.ejb.ca.sign.ISignSessionLocalHome</local-home>
	    <local>org.ejbca.core.ejb.ca.sign.ISignSessionLocal</local>
	    <ejb-link>RSASignSession</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref id="EJBLocalRef_3">
	    <ejb-ref-name>ejb/UserAdminSessionLocal</ejb-ref-name>
	    <ejb-ref-type>Session</ejb-ref-type>
	    <local-home>org.ejbca.core.ejb.ra.IUserAdminSessionLocalHome</local-home>
	    <local>org.ejbca.core.ejb.ra.IUserAdminSessionLocal</local>
	    <ejb-link>UserAdminSession</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref id="EJBLocalRef_4">
	    <ejb-ref-name>ejb/CertificateStoreSessionLocal</ejb-ref-name>
	    <ejb-ref-type>Session</ejb-ref-type>
	    <local-home>org.ejbca.core.ejb.ca.store.ICertificateStoreSessionLocalHome</local-home>
	    <local>org.ejbca.core.ejb.ca.store.ICertificateStoreSessionLocal</local>
	    <ejb-link>CertificateStoreSession</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref id="EJBLocalRef_5">
	    <ejb-ref-name>ejb/RaAdminSessionLocal</ejb-ref-name>
	    <ejb-ref-type>Session</ejb-ref-type>
	    <local-home>org.ejbca.core.ejb.ra.raadmin.IRaAdminSessionLocalHome</local-home>
	    <local>org.ejbca.core.ejb.ra.raadmin.IRaAdminSessionLocal</local>
	    <ejb-link>RaAdminSession</ejb-link>
    </ejb-local-ref>
   <ejb-local-ref id="EJBLocalRef_6">
      <ejb-ref-name>ejb/CreateCRLSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>org.ejbca.core.ejb.ca.crl.ICreateCRLSessionLocalHome</local-home>
      <local>org.ejbca.core.ejb.ca.crl.ICreateCRLSessionLocal</local>
      <ejb-link>CreateCRLSession</ejb-link>
   </ejb-local-ref>
-->
</web-app>
