# Configuration file were you define key name, password and key alias for the HSM.
# This file is used when adding a CA using an HSM during 'ant install' or with the CLI (command line interface). 
# This is a combination of the CA and CryptoToken properties in Admin-GUI.
# Remove everything in the file and add your own configuration.
#
# See the Admin Guide locally or at ejbca.org for details and the latest news.
#
# Possible values differ depending on which HSM you are using. 
# Common for all HSM are:
#   * certSignKey - the key to be used when signing certificates, can be RSA or ECDSA.
#   * crlSignKey - the key to be used when signing CLSs, can be RSA or ECDSA.
#   * keyEncryptKey - the key to be used for key encryption and decryption, this must be an RSA key.
#   * testKey - the key to be used by HSM status checks, can be RSA or ECDSA.
#   * hardTokenEncrypt - the key to be used for hardtoken encryption and decryption. PUK will be decrypted by this key.
#   * defaultKey - the key to be used when no other key is defined for a purpose. If this is the only definition then this key will be used for all purposes.
#

# Utimaco HSM Crypto Token example:
sharedLibrary /opt/utimaco/p11/libcs2_pkcs11.so
slotLabelType=SLOT_NUMBER
slotLabelValue=1

# CA key configuration
defaultKey defaultRoot
certSignKey signRoot
crlSignKey signRoot
testKey testRoot
