<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Console output -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender"> 
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%m%n"/> 
		</layout> 
	</appender> 

	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../log/ejbca.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <!--
        <param name="MaxBackupIndex" value="0" />
        -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>
        </layout>           
     </appender>

	<appender name="TransactionLogger" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../log/ocsp-transactions.log" />
		<param name="Threshold" value="DEBUG"/>
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <!--
        <param name="MaxBackupIndex" value="0" />
        -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m %n"/>
        </layout>           
     </appender>

	<appender name="AuditLogger" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../log/ocsp-audit.log" />
		<param name="Threshold" value="DEBUG"/>
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <!--
        <param name="MaxBackupIndex" value="0" />
        -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m %n"/>
        </layout>           
     </appender>

    <!-- Buffer events and log them asynchronously -->
    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
        <appender-ref ref="FILE"/>
        <!--
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="SMTP"/>
        -->
    </appender>

	<category name="org.cesecore.certificates.ocsp.logging.TransactionLogger" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="TransactionLogger"/>
	</category>
	
	<category name="org.cesecore.certificates.ocsp.logging.AuditLogger" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="AuditLogger"/>
	</category>
	
	<!-- DEBUG is enabled by default from the root category in the end -->
	<!--
	<category name="org.ejbca">
        <priority value="TRACE"/>
    </category>

    <category name="org.cesecore">
        <priority value="TRACE"/>
    </category>
	-->
	
	<!-- Limit some debug output, even when debug for EJBCA is enabled -->
	<category name="org.apache.commons">
		<priority value="INFO"/>
	</category>
	<category name="org.apache.myfaces">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.ejb">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.cfg">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.impl.SessionFactoryImpl">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.hql.ast.AST">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.pretty.Printer">
		<priority value="INFO"/>
	</category>

	<root> 
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="FILE"/>
	</root> 

</log4j:configuration>
