<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Web enrollment</display-name>
    <servlet>
        <servlet-name>CertReqServlet</servlet-name>
        <display-name>CertReqServlet</display-name>
        <servlet-class>org.ejbca.ui.web.pub.CertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>certInstT.html</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ScepServlet</servlet-name>
        <display-name>ScepServlet</display-name>
        <servlet-class>org.ejbca.ui.web.protocol.ScepServlet</servlet-class>
        <init-param>
            <param-name>includeCACert</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ScepServletNoCACert</servlet-name>
        <display-name>ScepServletNoCACert</display-name>
        <servlet-class>org.ejbca.ui.web.protocol.ScepServlet</servlet-class>
        <init-param>
            <param-name>includeCACert</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>

<!--
    <servlet>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <display-name>DemoCertReqServlet</display-name>
        <servlet-class>org.ejbca.ui.web.DemoCertReqServlet</servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>certInstT.html</param-value>
        </init-param>
    </servlet>
-->

	<servlet>
		<servlet-name>CardCertReqServlet</servlet-name>
		<display-name>CardCertReqServlet</display-name>
		<servlet-class>org.ejbca.ui.web.pub.CardCertReqServlet</servlet-class>
		<init-param>
			<param-name>responseTemplate</param-name>
			<param-value>cardCertInstT.html</param-value>
		</init-param>
		<init-param>
			<param-name>authCertProfile</param-name>
			<param-value>company A auth enc</param-value>
		</init-param>
		<init-param>    
			<param-name>signCertProfile</param-name>
			<param-value>company A sign</param-value>
		</init-param>
	</servlet>

    <servlet-mapping>
      <servlet-name>CertReqServlet</servlet-name>
      <url-pattern>/certreq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ScepServlet</servlet-name>
      <url-pattern>/scep/pkiclient.exe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ScepServletNoCACert</servlet-name>
      <url-pattern>/scep/noca/pkiclient.exe</url-pattern>
    </servlet-mapping>

<!--
    <servlet-mapping>
        <servlet-name>DemoCertReqServlet</servlet-name>
        <url-pattern>/democertreq</url-pattern>
    </servlet-mapping>
-->

    <servlet-mapping>
      <servlet-name>CardCertReqServlet</servlet-name>
      <url-pattern>/cardcertreq</url-pattern>
    </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>EJBCA</web-resource-name> 
      <description>EJBCA Admin-GUI</description>
      <url-pattern>/cardCertApply.html</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <description>This web demands SSL</description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>
  
   <env-entry>
      <description><![CDATA[Default content encoding used to decode form posts]]></description>
      <env-entry-name>contentEncoding</env-entry-name>
      <env-entry-value>@page.encoding@</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

</web-app>
