<Server>

   <!-- Optional listener which ensures correct init and shutdown of APR,
        and provides information if it is not installed -->
   <!-- If you want to use a native APR SSL Coyote HTTP/1.1 Connector, 
     you have to enable the AprLifecycleListener below. 
   <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
   -->
   <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
   <Listener className="org.apache.catalina.core.JasperListener" />

   <Service name="jboss.web">

    <!-- A "Connector" represents an endpoint by which requests are received
         and responses are returned. Documentation at :
         Java HTTP Connector: /docs/config/http.html (blocking & non-blocking)
         Java AJP  Connector: /docs/config/ajp.html
         APR (HTTP/AJP) Connector: /docs/apr.html
         Define a non-SSL HTTP/1.1 Connector on port 8080
    -->

    <Connector port="@httpserver.pubhttp@" address="@httpsserver.bindaddress.pubhttp@"
         maxThreads="250" acceptCount="100" minSpareThreads="20"
         strategy="ms" threadPriority="java.lang.Thread#MAX_PRIORITY"
         maxHttpHeaderSize="8192"
         emptySessionPath="true" protocol="org.apache.coyote.http11.Http11Protocol"
         enableLookups="false" redirectPort="@httpserver.privhttps@"
         connectionTimeout="20000" disableUploadTimeout="true"
         URIEncoding="@web.contentencoding@" proxyName="@httpserver.external.fqdn@" />

    <!-- Define a SSL HTTP/1.1 Connector on port 8443
         This connector uses the JSSE configuration, when using APR, the 
         connector should be using the OpenSSL style configuration
         described in the APR documentation -->
    <!-- A HTTPS Connector without client cert on port 8442 -->
@definitions_away_begin@
    <Connector port="@httpserver.pubhttps@" address="@httpsserver.bindaddress.pubhttps@"
         maxThreads="150" acceptCount="100" minSpareThreads="20"
         strategy="ms" threadPriority="java.lang.Thread#MAX_PRIORITY"
         maxHttpHeaderSize="8192"
         emptySessionPath="true" protocol="org.apache.coyote.http11.Http11Protocol" SSLEnabled="true"
         scheme="https" secure="true" clientAuth="false"
         keystoreFile="${jboss.server.home.dir}/@keystore.file@"
         keystorePass="@httpsserver.password@" sslProtocol="TLS"
         truststoreFile="${jboss.server.home.dir}/@truststore.file@" truststorePass="@java.trustpassword@" truststoreType="JKS"
         URIEncoding="@web.contentencoding@" proxyName="@httpserver.external.fqdn@" />
@definitions_away_end@
    <!-- HTTPS Connector requiring client cert on port 8443 -->
@definitions_away_begin@
    <Connector port="@httpserver.privhttps@" address="@httpsserver.bindaddress.privhttps@"
         maxThreads="150" acceptCount="100" minSpareThreads="20"
         strategy="ms" threadPriority="java.lang.Thread#MAX_PRIORITY"
         maxHttpHeaderSize="8192"
         emptySessionPath="true" protocol="org.apache.coyote.http11.Http11Protocol" SSLEnabled="true"
         scheme="https" secure="true" clientAuth="true"
         keystoreFile="${jboss.server.home.dir}/@keystore.file@"
         keystorePass="@httpsserver.password@" sslProtocol="TLS" 
         truststoreFile="${jboss.server.home.dir}/@truststore.file@" truststorePass="@java.trustpassword@" truststoreType="JKS"
         URIEncoding="@web.contentencoding@" proxyName="@httpserver.external.fqdn@" />
@definitions_away_end@

<!-- If you want to use a native APR SSL Coyote HTTP/1.1 Connector, 
     you can replace the above with with this instead. 
     Personally, on JBoss 4.2.3, I never got jboss-native-2.0.9 to work but jboss-native-2.0.8 works
     After doing this you need to change the "tomcat" user in EJBCA to use
     a PEM keystore instead of a JKS keystore. You can then generate new PEM 
     files with bin/ejbca.sh batch (for example). You have to manually copy the PEM files to the correct location. 
     server.pem must contain both server.pem and server-CA.pem from ejbca/p12/pem. 
     See http://tomcat.apache.org/tomcat-6.0-doc/apr.html#HTTPS for details. -->
<!--
<Connector protocol="org.apache.coyote.http11.Http11AprProtocol"
           port="@httpserver.pubhttps@" address="@httpsserver.bindaddress.pubhttps@"
           minSpareThreads="5" maxSpareThreads="75"
           enableLookups="false" disableUploadTimeout="true"
           acceptCount="100" maxThreads="200"
           scheme="https" secure="true" SSLEnabled="true"
           SSLCertificateFile="${jboss.server.home.dir}/conf/keystore/server.pem"
           SSLCertificateKeyFile="${jboss.server.home.dir}/conf/keystore/server-Key.pem"
           SSLVerifyClient="none" sslProtocol="TLSv1"
           URIEncoding="@web.contentencoding@" />

<Connector protocol="org.apache.coyote.http11.Http11AprProtocol"
           port="@httpserver.privhttps@" address="@httpsserver.bindaddress.privhttps@"
           minSpareThreads="5" maxSpareThreads="75"
           enableLookups="false" disableUploadTimeout="true"
           acceptCount="100" maxThreads="200"
           scheme="https" secure="true" SSLEnabled="true"
           SSLCertificateFile="${jboss.server.home.dir}/conf/keystore/server.pem"
           SSLCertificateKeyFile="${jboss.server.home.dir}/conf/keystore/server-Key.pem"
           SSLCACertificateFile="${jboss.server.home.dir}/conf/keystore/server-CA.pem"
           SSLVerifyClient="require" sslProtocol="TLSv1"
           URIEncoding="@web.contentencoding@" />
-->

      <!-- Add this option to the connector to avoid problems with 
          .NET clients that don't implement HTTP/1.1 correctly 
         restrictedUserAgents="^.*MS Web Services Client Protocol 1.1.4322.*$"
      -->

      <!-- A AJP 1.3 Connector on port 8009 -->
      <Connector protocol="AJP/1.3" port="8009" address="${jboss.bind.address}"
         redirectPort="8443" />

      <!-- SSL/TLS Connector configuration using the admin devl guide keystore
      <Connector protocol="HTTP/1.1" SSLEnabled="true" 
           port="8443" address="${jboss.bind.address}"
           scheme="https" secure="true" clientAuth="false" 
           keystoreFile="${jboss.server.home.dir}/conf/chap8.keystore"
           keystorePass="rmi+ssl" sslProtocol = "TLS" />
      -->

      <Engine name="jboss.web" defaultHost="localhost">

         <!-- The JAAS based authentication and authorization realm implementation
         that is compatible with the jboss 3.2.x realm implementation.
         - certificatePrincipal : the class name of the
         org.jboss.security.auth.certs.CertificatePrincipal impl
         used for mapping X509[] cert chains to a Princpal.
         - allRolesMode : how to handle an auth-constraint with a role-name=*,
         one of strict, authOnly, strictAuthOnly
           + strict = Use the strict servlet spec interpretation which requires
           that the user have one of the web-app/security-role/role-name
           + authOnly = Allow any authenticated user
           + strictAuthOnly = Allow any authenticated user only if there are no
           web-app/security-roles
         -->
         <Realm className="org.jboss.web.tomcat.security.JBossWebRealm"
            certificatePrincipal="org.jboss.security.auth.certs.SubjectDNMapping"
            allRolesMode="authOnly"
            />
         <!-- A subclass of JBossSecurityMgrRealm that uses the authentication
         behavior of JBossSecurityMgrRealm, but overrides the authorization
         checks to use JACC permissions with the current java.security.Policy
         to determine authorized access.
         - allRolesMode : how to handle an auth-constraint with a role-name=*,
         one of strict, authOnly, strictAuthOnly
           + strict = Use the strict servlet spec interpretation which requires
           that the user have one of the web-app/security-role/role-name
           + authOnly = Allow any authenticated user
           + strictAuthOnly = Allow any authenticated user only if there are no
           web-app/security-roles
         <Realm className="org.jboss.web.tomcat.security.JaccAuthorizationRealm"
            certificatePrincipal="org.jboss.security.auth.certs.SubjectDNMapping"
            allRolesMode="authOnly"
            />
         -->

         <Host name="localhost"> 

            <!-- Uncomment to enable request dumper. This Valve "logs interesting 
                 contents from the specified Request (before processing) and the 
                 corresponding Response (after processing). It is especially useful 
                 in debugging problems related to headers and cookies."
            -->
            <!--
            <Valve className="org.apache.catalina.valves.RequestDumperValve" />
            -->
 
            <!-- Access logger -->
            <!--
            <Valve className="org.apache.catalina.valves.AccessLogValve"
                prefix="localhost_access_log." suffix=".log"
                pattern="common" directory="${jboss.server.log.dir}" 
                resolveHosts="false" />
            -->

            <!-- Uncomment to enable single sign-on across web apps
                deployed to this host. Does not provide SSO across a cluster.     
            
                If this valve is used, do not use the JBoss ClusteredSingleSignOn 
                valve shown below.
                
                A new configuration attribute is available beginning with
                release 4.0.4:
                
                cookieDomain  configures the domain to which the SSO cookie
                              will be scoped (i.e. the set of hosts to
                              which the cookie will be presented).  By default
                              the cookie is scoped to "/", meaning the host
                              that presented it.  Set cookieDomain to a
                              wider domain (e.g. "xyz.com") to allow an SSO
                              to span more than one hostname.
             -->
            <!--
            <Valve className="org.apache.catalina.authenticator.SingleSignOn" />
            -->

            <!-- Uncomment to enable single sign-on across web apps
               deployed to this host AND to all other hosts in the cluster.
            
               If this valve is used, do not use the standard Tomcat SingleSignOn
               valve shown above.
            
               Valve uses a JBossCache instance to support SSO credential 
               caching and replication across the cluster.  The JBossCache 
               instance must be configured separately.  See the 
               "jboss-web-clusteredsso-beans.xml" file in the 
               server/all/deploy directory for cache configuration details.
            
               Besides the attributes supported by the standard Tomcat
               SingleSignOn valve (see the Tomcat docs), this version also 
               supports the following attributes:
            
               cookieDomain   see above
               
               treeCacheName  JMX ObjectName of the JBossCache MBean used to 
                              support credential caching and replication across
                              the cluster. If not set, the default value is 
                              "jboss.cache:service=ClusteredSSOCache"
                              
               maxEmptyLife   The maximum number of seconds an SSO with no 
                              active sessions will be usable by a request
                              
               processExpiresInterval The minimum number of seconds between 
                              efforts by the valve to find and invalidate 
                              SSO's that have exceeded their 'maxEmptyLife'. 
                              Does not imply effort will be spent on such
                      			cleanup every 'processExpiresInterval'.
            -->
            <!--
            <Valve className="org.jboss.web.tomcat.service.sso.ClusteredSingleSignOn" />
            -->
         
            <!-- Check for unclosed connections and transaction terminated checks
                 in servlets/jsps.
                 
                 Important: The dependency on the CachedConnectionManager
                 in META-INF/jboss-service.xml must be uncommented, too
           -->

            <Valve className="org.jboss.web.tomcat.service.jca.CachedConnectionValve"
                cachedConnectionManagerObjectName="jboss.jca:service=CachedConnectionManager"
                transactionManagerObjectName="jboss:service=TransactionManager" />
                
         </Host>

      </Engine>

   </Service>

</Server>
