#
# $Id: ejbca.properties.sample,v 1.8 2005-03-07 15:33:44 anatom Exp $
#
# This is a sample file to override properties used
# during development (or deployment) of EJBCA
# 
# You should copy and rename this file to .ejbca.properties
# and customize at will.
#

# JBoss used during development
# Default:
#jboss.home=${basedir}/../../jboss-4.0.1
jboss.home=${env.JBOSS_HOME}

# which compiler to use
# default: javac
#build.compiler=jikes

# ------------- database configuration ------------------------

# jndi name of the datasource to use in deployment descriptors of ejbs
# default: ejbcaDS
#datasource.jndi-name=ejbcaDS

# the database name selected for deployment
# All supported databases are defined below, others can easily be added
# Default: hsqldb
#database.name=mysql
#database.name=postgres
#database.name=mssql2000
#database.name=oracle
#database.name=sapdb
#database.name=sybase

# the datasource mapping selected for deployment
# The J2EE server needs to be configured with the appropriate datasource mapping. 
# For JBoss this maps to a setting in standardjbosscmp-jdbc.xml and must match the database chosen above.
# All supported mappings are defined below, others can easily be added
# Default: Hypersonic SQL
#datasource.mapping=mySQL
#datasource.mapping=PostgreSQL 7.2
#datasource.mapping=PostgreSQL 8.0
#datasource.mapping=MS SQLSERVER2000
#datasource.mapping=Oracle8
#datasource.mapping=SapDB
#datasource.mapping=Sybase

# Database connection url
# This is the URL used to connect to the database, used to configure a new datasource in JBoss.
# Default: jdbc:hsqldb:${jboss.server.data.dir}${/}hypersonic${/}ejbcaDB
#database.url=jdbc:mysql://127.0.0.1:3306/ejbca
#database.url=jdbc:postgresql://192.168.1.100/ejbca_dev

# JDBC driver classname
# The J2EE server needs to be configured with the appropriate JDBC driver for the selected database
# Default: org.hsqldb.jdbcDriver
#database.driver=com.mysql.jdbc.Driver
#database.driver=org.postgresql.Driver

# database username
# Default: sa (works with hsqldb)
#database.username=ejbca
#database.username=postgres

# database password
# Default: (works with hsqldb)
#database.password=ejbca
#database.password=postgres

# ------------ mail configuration ---------------------

# Used to send notification email from the RA
# See ${ejbca.home}/src/appserver/ejbca-mail-service.xml
# It will be copied in ${jboss.server.dir}/deploy/ejbca-mail-service.xml

# user/password to connect to server
mail.user=ejbca_user
mail.password=primekey

# POP3 and SMTP servers
mail.pop3.host=pop3.domain.com
mail.smtp.host=smtp.domain.com

# email address used to send emails
mail.from=ejbca-donotreply@domain.com

# JavaMail debug info
mail.debug=true


# ------------ Basic CA configuration ---------------------

# This installation will create a first administrative CA. This CA will be used to create the first
# superadministrator and for the SSL server certificate of administrative web server.
# When the administrative web server have been setup you can create other CA:s and administrators.
# This is only used for administrative purposes,
# Enter a short name for the CA.
ca.name=AdminCA1

# The Distinguished Name of the CA. 
# This is used in the CA certificate to distinguish the CA.
ca.dn=CN=AdminCA1,O=EJBCA Sample,C=SE

# The keysize in bits of the CA, only digits.
ca.keysize=2048

# The validity in days for the CA, only digits.
ca.validity=3650

# The policy id of the CA. Policy id determines which PKI policy the CA uses.
# Type your policy id or use '2.5.29.32.0' for 'any policy' (rfc3280) or 'null' for no policy at all.
ca.policy=null

# ------------ Web GUI configuration ---------------------

# Password for java trust keystore (JAVA_HOME/jre/lib/security/cacerts), default is changeit.
java.trustpassword=changeit

# The password used to protect the generated super administrator P12 keystore (to be imported in browser).
# Choose a good password here.
superadmin.password=ejbca

# The password used to protect the web servers SSL keystore.
# Choose a good passowrd here.
httpsserver.password=serverpwd

# The CA servers DNS host name, must exist on client using the admin GUI.
httpsserver.hostname=localhost

# The Distinguished Name of the SSL server certificate used by the administrative web gui.
# The CN part  should match your hosts DNS name to avoid browser warnings.
httpsserver.dn=CN=localhost,O=EJBCA Sample,C=SE
