#
# $Id: ejbca.properties.sample,v 1.2 2004-08-16 21:11:45 sbailliez Exp $
#
# This is just a sample file to override properties used
# during development (or deployment) of EJBCA
# 
# You should copy and rename this file to .ejbca.properties
# and customize at will.
#

# JBoss used during development
# Default: ${env.JBOSS_HOME}
jboss.home=${basedir}/../../jboss-3.2.4

# which compiler to use
# default: javac
build.compiler=jikes

# jndi name of the datasource to use in deployment descriptors of ejbs
# default: ejbcaDS
#datasource.jndi-name=ejbcaDS

# the database name selected for deployment
# The J2EE server needs to be configured with the appropriate JDBC driver
# database are: oracle,mssql,mysql,postgres,sapdb,hsqldb,sybase
# Default: hsqldb
#database.name=mysql
#database.name=postgres

# ------------- database configuration ------------------------

# Database connection url
# Default: jdbc:hsqldb:${jboss.server.data.dir}${/}hypersonic${/}ejbcaDB
#database.url=jdbc:mysql://127.0.0.1:3306/ejbca
#database.url=jdbc:postgresql://192.168.1.100/ejbca_dev

# JDBC driver classname
# Default: org.hsqldb.jdbcDriver
#database.driver=com.mysql.jdbc.Driver
#database.driver=org.postgresql.Driver

# database username
# Default: sa
#database.username=ejbca
#database.username=postgres

# database password
# Default:
#database.password=ejbca
#database.password=postgres

# ------------ mail configuration ---------------------
# Used to send notification email from the RA
# See ${ejbca.home}/src/appserver/ejbca-mail-service.xml
# It will be copied in ${jboss.server.dir}/deploy/ejbca-mail-service.xml

# user/password to connect to server
mail.user=ejbca_user
mail.password=primekey

# POP3 and SMTP servers
mail.pop3.host=pop3.domain.com
mail.smtp.host=smtp.domain.com

# email address used to send emails
mail.from=ejbca-donotreply@domain.com

# JavaMail debug info
mail.debug=true


# ------------ certificate configuration ---------------------
# 
#
ca.name=AdminCA1

ca.dn=CN=AdminCA1,O=PrimeKey Solutions AB,C=SE

ca.keysize=512

ca.validity=365

ca.policy=null

java.trustpassword=changeit

httpsserver.dn=CN=localhost,O=PrimeKey Solutions AB,C=SE

httpsserver.password=serverpwd

httpsserver.hostname=localhost

superadmin.password=primekey
