<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

 version: $Id$
 -->
<web-app version="3.0" id="cmptcpweb"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <description><![CDATA[CMP TCP server]]></description>

	<!-- We don't want JBoss to start applying its faces implementation to this simple WAR (we only use it for start and stop of the TCP service). -->    
    <context-param>
        <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name><param-value>true</param-value>
    </context-param>
    
    <servlet>
        <description><![CDATA[Used to handle CMP (RFC4210) protocol messages]]></description>
        <display-name>CmpTcpInitServlet</display-name>
        <servlet-name>CmpTcpInitServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.protocol.CmpTcpInitServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CmpTcpInitServlet</servlet-name>
        <url-pattern>/cmp-tcp</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

    <ejb-local-ref>
        <description>An EJB that can provide references to all other SSBs to avoid this kind of declarations</description>
        <ejb-ref-name>EjbBridgeSession</ejb-ref-name>
        <local>org.ejbca.core.ejb.EjbBridgeSessionLocal</local>
        <ejb-link>EjbBridgeSessionBean</ejb-link>
    </ejb-local-ref>

</web-app>
