<?xml version = '1.0' encoding = 'ISO-8859-1'?>
<web-app id="ecc_web_1" version="2.5"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <display-name>Clear Caches Servlet</display-name>
    <servlet>
        <display-name>EJBCAClearCacheServlet</display-name>
        <servlet-name>EJBCAClearCacheServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.pub.ClearCacheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EJBCAClearCacheServlet</servlet-name>
        <!-- / below is relative to the context path in application.xml, i.e. clearcache -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

</web-app>