<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

 version: $Id$
 -->
<web-app version="3.0" id="public_web_renew_1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Public web certificate renewal</display-name>

	<filter>
		<filter-name>ContentSecurityPolicyFilter</filter-name>
		<filter-class>org.owasp.filters.ContentSecurityPolicyFilter</filter-class>
		<init-param>
		    <param-name>objects</param-name>
		    <param-value>yes</param-value>
		</init-param>
	</filter>
	
	<filter-mapping> 
		<filter-name>ContentSecurityPolicyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>RenewServlet</servlet-name>
        <servlet-class>org.ejbca.ui.web.renew.RenewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenewServlet</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>HEAD</http-method-omission>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
	<security-constraint>
        <web-resource-collection>
          <web-resource-name>EJBCA Certificate Renewal</web-resource-name> 
          <description>GUI for requesting certificate renewal</description>
          <url-pattern>/*</url-pattern> 
          <http-method>GET</http-method>
          <http-method>POST</http-method>
          <http-method>HEAD</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description>This web demands SSL</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config>

</web-app>
