<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="web-app_1">
   <description><![CDATA[CMP server]]></description>

    <!--
    To use non XDoclet filters, create a filters.xml file that
    contains the additional filters (eg Sitemesh) and place it in your
    project's merge dir.  Don't include filter-mappings in this file,
    include them in a file called filter-mappings.xml and put that in
    the same directory.
    -->

    <!--
    To use non XDoclet filter-mappings, create a filter-mappings.xml file that
    contains the additional filter-mappings and place it in your
    project's merge dir.
    -->

    <!--
    To use non XDoclet listeners, create a listeners.xml file that
    contains the additional listeners and place it in your
    project's merge dir.
    -->

   <servlet>
      <servlet-name>CmpServlet</servlet-name>
      <display-name>CmpServlet</display-name>
      <description><![CDATA[Used to handle CMP (RFC4210) protocol messages]]></description>
      <servlet-class>org.ejbca.ui.web.protocol.CmpServlet</servlet-class>

      <load-on-startup>99</load-on-startup>

   </servlet>

  <!--
  To use non XDoclet servlets, create a servlets.xml file that
  contains the additional servlets (eg Struts) and place it in your
  project's merge dir.  Don't include servlet-mappings in this file,
  include them in a file called servlet-mappings.xml and put that in
  the same directory.
  -->

   <servlet-mapping>
      <servlet-name>CmpServlet</servlet-name>
      <url-pattern>/cmp</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>

   <!--
   To specify mime mappings, create a file named mime-mappings.xml, put it in your project's mergedir.
   Organize mime-mappings.xml following this DTD slice:

   <!ELEMENT mime-mapping (extension, mime-type)>
   -->

   <!--
   To specify error pages, create a file named error-pages.xml, put it in your project's mergedir.
   Organize error-pages.xml following this DTD slice:

   <!ELEMENT error-page ((error-code | exception-type), location)>
   -->

  <!--
  To add taglibs by xml, create a file called taglibs.xml and place it
  in your merge dir.
  -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

   <!--
   To set up security settings for your web app, create a file named web-security.xml, put it in your project's mergedir.
   Organize web-security.xml following this DTD slice:

   <!ELEMENT security-constraint (display-name?, web-resource-collection+, auth-constraint?, user-data-constraint?)>
   <!ELEMENT web-resource-collection (web-resource-name, description?, url-pattern*, http-method*)>
   <!ELEMENT web-resource-name (#PCDATA)>
   <!ELEMENT url-pattern (#PCDATA)>
   <!ELEMENT http-method (#PCDATA)>
   <!ELEMENT user-data-constraint (description?, transport-guarantee)>
   <!ELEMENT transport-guarantee (#PCDATA)>

   <!ELEMENT login-config (auth-method?, realm-name?, form-login-config?)>
   <!ELEMENT auth-method (#PCDATA)>
   <!ELEMENT realm-name (#PCDATA)>
   <!ELEMENT form-login-config (form-login-page, form-error-page)>
   <!ELEMENT form-login-page (#PCDATA)>
   <!ELEMENT form-error-page (#PCDATA)>
   -->

   <env-entry>
      <description><![CDATA[Allow the client/RA to specify that the CA should not verify POP, set to true to allow no POP (raVerify in the rfc). Default false.]]></description>
      <env-entry-name>allowRaVerifyPopo</env-entry-name>
      <env-entry-value>false</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Enforce a particual CA instead of taking it from the request. Default empty.]]></description>
      <env-entry-name>defaultCA</env-entry-name>
      <env-entry-value></env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Defines which component from the DN should be used to look up username in EJBCA. Can be CN, UID or nothing. Nothing means that the DN will be used to look up the user. Default empty.]]></description>
      <env-entry-name>extractUsernameComponent</env-entry-name>
      <env-entry-value></env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[If the CMP service should work in 'normal' or 'ra' mode (see docs). Default normal (or empty value means the same).]]></description>
      <env-entry-name>operationMode</env-entry-name>
      <env-entry-value>normal</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Which sort of protection the response messages will have. Default signature.]]></description>
      <env-entry-name>responseProtection</env-entry-name>
      <env-entry-value>signature</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Shared secret between the CA and the RA used to authenticate valid RA messages. Default empty.]]></description>
      <env-entry-name>raAuthenticationSecret</env-entry-name>
      <env-entry-value></env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Which generation scheme should be used, RANDOM or DN. Default DN.]]></description>
      <env-entry-name>raModeNameGenerationScheme</env-entry-name>
      <env-entry-value>DN</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Parameters for name generation, for DN it can be CN or UID. Default CN.]]></description>
      <env-entry-name>raModeNameGenerationParameters</env-entry-name>
      <env-entry-value>CN</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Prefix to generated name, a string that can contain the markup ${RANDOM} to inser random chars. Default empty.]]></description>
      <env-entry-name>raModeNameGenerationPrefix</env-entry-name>
      <env-entry-value></env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[Postfix to generated name, a string that can contain the markup ${RANDOM} to inser random chars. Default empty.]]></description>
      <env-entry-name>raModeNameGenerationPostfix</env-entry-name>
      <env-entry-value></env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The endEntityProfile to be used when adding users in RA mode. Default EMPTY.]]></description>
      <env-entry-name>endEntityProfile</env-entry-name>
      <env-entry-value>EMPTY</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The certificateProfile to be used when adding users in RA mode. Default ENDUSER.]]></description>
      <env-entry-name>certificateProfile</env-entry-name>
      <env-entry-value>ENDUSER</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>
   <env-entry>
      <description><![CDATA[The CA to be used when adding users in RA mode. Default AdminCA1.]]></description>
      <env-entry-name>caName</env-entry-name>
      <env-entry-value>AdminCA1</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
   </env-entry>

   <ejb-local-ref id="EJBLocalRef_1">
      <ejb-ref-name>ejb/SignSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>org.ejbca.core.ejb.ca.sign.ISignSessionLocalHome</local-home>
      <local>org.ejbca.core.ejb.ca.sign.ISignSessionLocal</local>
      <ejb-link>RSASignSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref id="EJBLocalRef_2">
      <ejb-ref-name>ejb/UserAdminSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>org.ejbca.core.ejb.ra.IUserAdminSessionLocalHome</local-home>
      <local>org.ejbca.core.ejb.ra.IUserAdminSessionLocal</local>
      <ejb-link>UserAdminSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref id="EJBLocalRef_3">
      <ejb-ref-name>ejb/CAAdminSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocalHome</local-home>
      <local>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocal</local>
      <ejb-link>CAAdminSession</ejb-link>
   </ejb-local-ref>
   <ejb-local-ref id="EJBLocalRef_4">
      <ejb-ref-name>ejb/CertificateStoreSessionLocal</ejb-ref-name>
      <ejb-ref-type>Session</ejb-ref-type>
      <local-home>org.ejbca.core.ejb.ca.store.ICertificateStoreSessionLocalHome</local-home>
      <local>org.ejbca.core.ejb.ca.store.ICertificateStoreSessionLocal</local>
      <ejb-link>CertificateStoreSession</ejb-link>
   </ejb-local-ref>
</web-app>
