<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA - Proprietary Modules: Enterprise Certificate Authority        *
 *                                                                       *
 *  Copyright (c), PrimeKey Solutions AB. All rights reserved.           *
 *  The use of the Proprietary Modules are subject to specific           * 
 *  commercial license terms.                                            *
 *                                                                       *
 *************************************************************************/

 @version: $Id: web.xml 33656 2019-10-19 13:38:58Z bastianf $
 -->
<web-app version="3.1" id="ssh"
    metadata-complete="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <description><![CDATA[SSH Servlet]]></description>


    <servlet>
        <description><![CDATA[Used to retrieve an SSH CA's public key.]]></description>
        <display-name>SshServlet</display-name>
        <servlet-name>Ssh</servlet-name>
        <servlet-class>org.ejbca.ui.web.admin.cainterface.SshServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>    
 
    <servlet-mapping>
      <servlet-name>Ssh</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>
   
    <error-page>
    	<error-code>403</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
    	<error-code>404</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>

	<!-- Prevents comments (like this one) from being interpreted and mistakenly rendered in .xhtml files -->
	<context-param>
	    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
	    <param-value>true</param-value>
	</context-param>   

    <session-config>
        <session-timeout>15</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>HEAD</http-method-omission>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>POST</http-method-omission>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

</web-app>
