#Configuration file holding basic setup options for connection to EJBCA. Modify the settings below according to your EJBCA / Appserver setup


# CONNECTION CONFIGURATIONS
appserver.domainname = localhost
#Public port (non-SSL)
appserver.port = 8080
#Secure port (SSL connection)
appserver.secureport = 8443

#DATABASE CONNECTION CONFIGURATIONS
database.host = 127.0.0.1
database.port = 3306
database.username = ejbca
database.password = ejbca