#Configuration file holding EJBCA settings. modify the settings below according to your EJBCA installation


# CA Settings
# This CA will be used for all test not creating their own CAs. The CA selected below should have
# as standard settings as possible. I.e. approvals disabled.
ejbca.ca.name = ManagementCA
ejbca.ca.dn = CN=ManagementCA,O=EJBCA Sample,C=SE

# The namespace below should contain all administrative roles used during clicktests. 
# This option allows you to label all roles used for clicktesting, and keep them separated 
# from any other roles you use in your EJBCA installation. Bring order to the galaxy! 
# Leave empty for no namespace.
ejbca.namespace = 