<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
 *                                                                       *
 *  EJBCA Community: The OpenSource Certificate Authority                *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

 version: $Id: web.xml 29241 2018-06-15 15:08:02Z henriks $
 -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0" id="swagger-ui"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                         
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<description><![CDATA[Swagger UI for the EJBCA rest api]]></description>
	<display-name>swagger-ui</display-name>
	
    <filter>
        <filter-name>ServiceControlFilter</filter-name>
        <filter-class>org.ejbca.util.ServiceControlFilter</filter-class>
        <init-param>  
            <param-name>serviceName</param-name>  
            <param-value>REST Certificate Management</param-value>  
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>ServiceControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>swagger-root</servlet-name>
        <jsp-file>/swagger-ui-dist/index.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>swagger-root</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted methods</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>require HTTPS</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>