#
# $Id: ejbca.properties.sample,v 1.13 2006-12-15 19:54:34 anatom Exp $
#
# This is a sample file to override properties used
# during development (or deployment) of EJBCA
# 
# You should copy and rename this file to ejbca.properties
# and customize at will.
#

# Which application server is used?
# Possible values: jboss, glassfish, weblogic
# Default jboss
#appserver.type=jboss

# Application server home directory used during development
# Default: $JBOSS_HOME or $APPSRV_HOME
#appserver.home=${basedir}/../../jboss-4.0.1
#appserver.home=${env.JBOSS_HOME}

# which compiler to use
# default: javac
#build.compiler=jikes

# which java version to use 14 for jdk 1.4, 15 for jdk 1.5 and jdk 6 (note use 15 for jdk6 as well)
# default: 14
java.ver=14

# ------------ Basic CA configuration ---------------------
# When upgrading, the important options are:
# - ca.keystorepass
# - ca.ocspkeystorepass

# This installation will create a first administrative CA. This CA will be used to create the first
# superadministrator and for the SSL server certificate of administrative web server.
# When the administrative web server have been setup you can create other CA:s and administrators.
# This is only used for administrative purposes,
# Enter a short name for the CA.
ca.name=AdminCA1

# The Distinguished Name of the CA. 
# This is used in the CA certificate to distinguish the CA.
ca.dn=CN=AdminCA1,O=EJBCA Sample,C=SE

# The keysize in bits of the CA, only digits.
ca.keysize=2048

# The keytype, can be RSA or ECDSA
ca.keytype=RSA

# The validity in days for the CA, only digits.
ca.validity=3650

# The policy id of the CA. Policy id determines which PKI policy the CA uses.
# Type your policy id or use '2.5.29.32.0' for 'any policy' (rfc3280) or 'null' for no policy at all.
ca.policy=null

# This password is used internally to protect CA keystores in database (i.e. the CAs private key).
# foo123 is to keep compatibility with default installations of EJBCA 3.0, please change this if possible
# If upgrading from EJBCA 3.0.x, you should take this value from src/ca/ca/META-INF/ejb-jar.xml -> keyStorePass. 
# The default value is the same for convenience.
ca.keystorepass=foo123
#ca.keystorepass=!secret!

# Password user to protect OCSP keystores in the database (CAs OCSP signer certificate).
# If upgrading from EJBCA 3.0.x, you should take this value from src/ca/ca/META-INF/ejb-jar.xml -> OCSPKeyStorePass. 
# The default value is the same for convenience.
ca.ocspkeystorepass=foo123
#ca.ocspkeystorepass=ocsp!secret!

# ------------- Approval configuration ------------------------
# Settings working as default values in the approval functionality
#
# Default request validity in seconds
# Default : 28800 (8 Hours)
#approval.defaultrequestvalidity=28800

# Default approval validity (how long an approved request should stay valid)
# Default : 28800 (8 Hours)
#approval.defaultapprovalvalidity=28800

# Setting excluding som classes from approval. When one of the classes in this list calls a method that normally 
# required approval, the call is immediately allowed, bypassing the approval mechanism. The list is comma separated.
# Example: org.ejbca.extra.caservice.ExtRACAProcess
# Default : empty 
#approval.excludedClasses=

# ------------ CRL Creation service configuration ---------------------
# 
# Enable this (set to true) if you want to deploy the create CRL service MBean
# Default: false
#createcrl.service.enabled=false

# ------------ Log4j logging configuration ---------------------
# 
# Enable this by setting it to a log4j.xml configuration file configuring the logging for EJBCA.
# Not needed for JBoss, that configures log4j itself. Glassfish and Weblogic does not use log4j, so here we need to configure this.
# Possible values: false (don't explicitly configure log4j), basic (use basic configurator putting everything on the console) 
#                  or a path to a log4j.xml configuration file.
# Default: false
#logging.log4j.config=basic
#logging.log4j.config=/home/glassfish/glassfish/domains/domain1/config/log4j.xml

# ----------------- cluster configuration ----------------
# The configuration. Use "all" when clustering.
# Default: default
#jboss.config=all

# Name of the farm directory. Use "farm" when clustering.
# Default: deploy
#jboss.farm.name=farm

#------------------- HW token ------------------------------
# The directory of the HW token classes. If this is an emty directory no HW token will be used.
# If the directory is not existing an empty directory will be created.
# Default: ./hwtoken
#hwtoken_classes=../primeCard/caTokenClasses-1.5

# Define this property when Luna HW token should be used.
# You must have the Luna jars available in the build classpath (lib) when enabling this option.
# Any value of the property will compile with Luna support. No Luna if undefined.
#hsm.luna=X

#------------------- EJBCA Healthcheck settings -------------
# Specifies the basic settings of the EJBCA Healtcheck servlet
# for more detailed configuration edit the file src/publicweb/healthcheck/WEB-INF/web.xml
#
# Parameter specifying amount of free memory (Mb) before alarming
# Default: 1
#healthcheck.amountfreemem=1

# Parameter specifying database test query string. Used to check that
# the database is operational.
# Default : Select 1 From CertificateData
#healthcheck.dbquery=Select 1 From CertificateData

# Parameter specifying IP addresses authorized to access the healthcheck
# servlet. Use ';' for between multiple IPs. 
#healthcheck.authorizedips=127.0.0.1

#------------------- ECDSA implicitlyCA settings -------------
# Sets pre-defined EC curve parameters for the implicitlyCA facility.
# See the User's Guide for more information about the implicitlyCA facility.
# Setting these parameters are not neccesary when using regular named curves. 
# if you don't know what this means, you can safely ignore these settings.
#
# Default values that you can experiment with:
# ecdsa.implicitlyca.q=883423532389192164791648750360308885314476597252960362792450860609699839
# ecdsa.implicitlyca.a=7fffffffffffffffffffffff7fffffffffff8000000000007ffffffffffc
# ecdsa.implicitlyca.b=6b016c3bdcf18941d0d654921475ca71a9db2fb27d1d37796185c2942c0a
# ecdsa.implicitlyca.g=020ffa963cdca8816ccc33b8642bedf905c3d358573d3f27fbbd3b3cb9aaaf
# ecdsa.implicitlyca.n=883423532389192164791648750360308884807550341691627752275345424702807307
 
#------------------- Debug and special settings -------------
# 
# Specifies if the DN order should be constructed in forward (standard and default)
# or reverse order.
# Forward is: CN=Tomas Gustavsson, O=PrimeKey, C=SE
# Reverse is: C=SE, O=PrimeKey, CN=Tomas Gustavsson
# 
# Do not change this unless you really know what you are doing.
# You can NOT install a CA in one order and then change the order, you have to re-install completely,
# otherwise strange phenomenon will happen.
#
# Default: false
#certtools.dnorderreverse=false

# Flag indicating if the BC security provider should be removed before installing it again. When developing and re-deploying alot
# this is needed so you don't have to restart JBoss all the time. 
# In production it may cause failures because the BC provider may get removed just when another thread wants to use it.
# Therefore the default value is false. Do not change this unless you are an EJBCA developer.
#
# Default: false
#development.provider.installation=false
