#
# $Id$
#
# This is a sample file to override properties used
# during deployment of EJBCA
# 
# You should copy and rename this file to jaxws.properties
# and customize at will.
#

#------------------- JAXWS settings -------------
# Disable authorization control on the fetchUserData call, making it possible
# for all with a valid certificate to retrieve userData
# Default : false
#jaxws.noauthonfetchuserdata=false

#------------------- EJBCAWS Logging settings -------------
# Transaction logging logs summary lines for all WS calls.
# Specifies if transaction logging should be performed from EJBCA and formats how that information should be logged.
#
# Change below to true if you want transaction information to be logged
# Default: false
#ejbcaws.trx-log = true

# Configure how time of logging in auditlog will be output
# Default: yyyy/MM/dd HH:mm:ss.SSS
#
# Almost standard example, but the time offset ':z' (e.g. ':CET') is not standard compliant:
#ejbcaws.log-date = yyyy-MM-dd HH:mm:ss.SSS:z
#
# Reference: RFC 3339 - Date and Time on the Internet: Timestamps
# Standard compliant example, the final 'Z' means that the time zone is GMT, i.e. time UTC+00:
#ejbcaws.log-date = yyyy-MM-dd HH:mm:ss.SSSZ

# Configure which time zone will be used for logging
# Note: GMT is the time zone for the time UTC+00, and without daylight saving time. It's the best choice for logs.
# Default: GMT
#ejbcaws.log-timezone = GMT

# A pattern for use with ejbcaws.trx-log-order to replace constants with values during logging
# Default: \\$\\{(.+?)\\}
#ejbcaws.trx-log-pattern = \\$\\{(.+?)\\}

# Use ejbcaws.trx-log-order to specify what information should be logged and in what order.
# The values ADMIN_REMOTE_IP and ADMIN_FORWARDED_IP are not logged by default, and must be added if you want to log them.
# You can also configure what characters you want in between the values.
#
# Default: ${LOG_TIME};${SESSION_ID};${LOG_ID};${REPLY_TIME};${METHOD};${ERROR_MESSAGE};${ADMIN_DN};${ADMIN_ISSUER_DN}
#ejbcaws.trx-log-order = ${LOG_TIME};${SESSION_ID};${LOG_ID};${REPLY_TIME};${METHOD};${ERROR_MESSAGE};${ADMIN_DN};${ADMIN_ISSUER_DN};${ADMIN_REMOTE_IP};${ADMIN_FORWARDED_IP}
