# This is a sample file to override properties after deployment of EJBCA
# 
# You should copy and rename this file to log.properties and customize at will.
#

# Used log devices.
#  The devices will be displayed in reversed order in the Admin GUI.
#  Default is "Log4jLogDevice;OldLogDevice" for now.
#usedLogDevices=Log4jLogDevice;OldLogDevice

#
# List of available loggers, name=Factory Class;propertyfile
#

# Dummy log device that does nothing
DummyLogDevice=org.ejbca.core.model.log.DummyLogDeviceFactory;
# Log4J is the standard logger for logging to console or file
Log4jLogDevice=org.ejbca.core.model.log.Log4jLogDeviceFactory;logdevices/log4j.properties
# Internal EJBCA logging device that writes to the database. See logdevices/oldlog.properties.sample for more information.
OldLogDevice=org.ejbca.core.model.log.OldLogDeviceFactory;logdevices/oldlog.properties

# "Improved" internal EJBCA logging device that writes to the database. See logdevices/protectedlog.properties.sample for more information.
# The ProtectedLogDevice has been deprecated in EJBCA 3.10, since it's hard to configure right and extremely inefficient. 
#
#ProtectedLogDevice=org.ejbca.core.model.log.ProtectedLogDeviceFactory;logdevices/protectedlog.properties
