# This is a sample file to override properties after deployment of EJBCA
# 
# You should copy and rename this file to log.properties and customize at will.
#
# Version: $Id$

# Example configuration of Log4jDevice
securityeventsaudit.implementation.0=org.cesecore.audit.impl.log4j.Log4jDevice
# Example configuration of IntegrityProtectedDevice
securityeventsaudit.implementation.1=org.cesecore.audit.impl.integrityprotected.IntegrityProtectedDevice
