# A suitable example log4j.properties file that can be used from ejbca.properties
# to configure logging on application server that does not use Log4J by default.
# JBoss already uses Log4J, but for Glassfish, Weblogic etc it is good
# to be able to configure where EJBCA logging will go.
 
log4j.rootLogger=debug, R

# Standard out appender, not used by default
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
# Pattern to output the caller's file name and line number.
log4j.appender.stdout.layout.ConversionPattern=%5p [%t] (%F:%L) - %m%n

# Our regular appender, rolls around 10 logfiles with maximum size of 1024 KB
log4j.appender.R=org.apache.log4j.RollingFileAppender
log4j.appender.R.File=/home/appsrv/log/ejbca.log
# Keep 10 backup files of max size 1024 KB
log4j.appender.R.MaxBackupIndex=10
log4j.appender.R.MaxFileSize=1024KB
# Pattern to output the date, level and caller's thread.
log4j.appender.R.layout=org.apache.log4j.PatternLayout
log4j.appender.R.layout.ConversionPattern=%d %p [%t] %c - %m%n

# An OCSP transaction appender, rolls around 10 logfiles with maximum size of 1024 KB
log4j.appender.ocsptransactions=org.apache.log4j.RollingFileAppender
log4j.appender.ocsptransactions.File= /home/ejbca/ocsptransactions.log
# Keep 10 backup files of max size 1024 KB
log4j.appender.ocsptransactions.MaxBackupIndex=10
log4j.appender.ocsptransactions.MaxFileSize=1024KB
# Pattern to output the date, level and caller's thread.
log4j.appender.ocsptransactions.layout=org.apache.log4j.PatternLayout
log4j.appender.ocsptransactions.layout.ConversionPattern=%m %n

## An OCSP audit appender, rolls around 10 logfiles with maximum size of 1024 KB
log4j.appender.ocspaudit=org.apache.log4j.RollingFileAppender
log4j.appender.ocspaudit.File= /home/ejbca/ocspaudit.log
# Keep 10 backup files of max size 1024 KB
log4j.appender.ocspaudit.MaxBackupIndex=10
log4j.appender.ocspaudit.MaxFileSize=1024KB
# Pattern to output the date, level and caller's thread.
log4j.appender.ocspaudit.layout=org.apache.log4j.PatternLayout
log4j.appender.ocspaudit.layout.ConversionPattern=%m %n

# Limit some logging
log4j.logger.org.apache.commons=INFO
log4j.logger.org.apache.myfaces=INFO
log4j.logger.org.ejbca.core.protocol.ocsp.AuditLogger=debug, ocspaudit
log4j.logger.org.ejbca.core.protocol.ocsp.TransactionLogger=debug, ocsptransactions
