<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="EJBCAFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${jboss.server.log.dir}/ejbca.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <!--
        <param name="MaxBackupIndex" value="0" />
        -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n"/>
        </layout>           
     </appender>

	<appender name="OcspTransactionLogger" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${jboss.server.log.dir}/transaction.log" />
		<param name="Threshold" value="DEBUG"/>
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>           
     </appender>

	<appender name="OcspAuditLogger" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${jboss.server.log.dir}/audit.log" />
		<param name="Threshold" value="DEBUG"/>
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n"/>
        </layout>           
     </appender>
     
    <!-- Sample loggers using SaferDailyRollingFileAppender. Replace the above with these if using. 
	<appender name="OcspTransactionLogger" class="org.cesecore.util.log.SaferDailyRollingFileAppender">
     	<errorHandler class="org.cesecore.util.log.ProbableErrorHandler" />
		<param name="File" value="${jboss.server.log.dir}/transaction.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="DEBUG"/>	
		<param name="DatePattern" value="'.'yyyy-MM-dd_HH" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="OcspAuditLogger" class="org.cesecore.util.log.SaferDailyRollingFileAppender">
		<errorHandler class="org.cesecore.util.log.ProbableErrorHandler" />
        <param name="File" value="${jboss.server.log.dir}/audit.log" />
        <param name="Append" value="true" />
        <param name="Threshold" value="DEBUG"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    --> 

	<category name="org.cesecore.certificates.ocsp.logging.TransactionLogger" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="OcspTransactionLogger"/>
	</category>
	
	<category name="org.cesecore.certificates.ocsp.logging.AuditLogger" additivity="false">
		<priority value="DEBUG"/>
		<appender-ref ref="OcspAuditLogger"/>
	</category>
	
	
	<!-- DEBUG is enabled by default from the root category in the end -->
	<!--
	<category name="org.ejbca">
        <priority value="TRACE"/>
    </category>

    <category name="org.cesecore">
        <priority value="TRACE"/>
    </category>
	-->
	
	<!-- Limit some debug output, even when debug for EJBCA is enabled -->
	<category name="org.apache.commons">
		<priority value="INFO"/>
	</category>
	<category name="org.apache.myfaces">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.ejb">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.cfg">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.impl.SessionFactoryImpl">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.hql.ast.AST">
		<priority value="INFO"/>
	</category>
	<category name="org.hibernate.pretty.Printer">
		<priority value="INFO"/>
	</category>

	<root> 
		<priority value="DEBUG" />
		<appender-ref ref="EJBCAFILE"/>
	</root> 

</log4j:configuration>
