# ------------ Mail configuration ---------------------

# Properties used when sending notification email from the RA.

# NOTE: only mail.jndi-name and mail.contentencoding are used from within the EJBCA
# application. The rest of the settings are configured in the application server.

# The JNDI-name used to send email notifications from EJBCA.
# Not that this differs between different application servers, see installation for 
# instructions for your appserver. The default works for JBoss.
#
# Default: java:/EjbcaMail
#mail.jndi-name=java:/EjbcaMail

# Content encoding for the email message body.
# Default: UTF-8
#mail.contentencoding=UTF-8



