#                     plugin.properties
#
# if defined the EJBCA build will invoke the plugin ANT file with the following
# properties defined:
#
#     ejbca.total.plugin.classpath    Holds a path to all .jar files

# Mandatory: where the ANT file is
plugin.ejbca.ant.file /home/demo/myplugin/build.xml

# Optional: where plugin's LIB (jar) distribution is
plugin.ejbca.lib.dir /home/demo/myplugin/dist

