#
# $Id$
#
# See section about Log signing in EJBCA Administrator section at wiki.ejbca.org for more information about these properties.

# This is a sample file to override properties used
# during development (or deployment) of EJBCA
# 
# You should store this file as protection.properties (in the same place as ejbca.properties)
# and customize at will.
#

# Enable protection altogether
# Default: false
#protection.enabled=false

# Enable protection of internal database logs. See section about Log signing in EJBCA Administrator section at wiki.ejbca.org.
# Default: false
#protection.logprotect=false

# Enable protection of internal CertificateData store
# Default: false
#protection.certprotect=false

# Should we warn when verifying if a protection row is missing?
# Default: true
#protection.warnonmissingrow=true

# The key. Can be either a clear text key or an encrypted key,
# depending on the value of protection.keytype.
# Default: foo123
#protection.key=foo123

# The type of key, to be able to decode the value and use it.
# Supported types are: 
# SOFT_HMAC, for a clear text password
# ENC_SOFT_HMAC, for an encrypted password, created with 'bin/ejbca.sh encryptpwd'
# Default: SOFT_HMAC
#protection.keytype=SOFT_HMAC
