#####
# Configuration file for default values for the External RA SCEP RA Server.
# Configure as you please, but all values must be set to something.
#
# Default values (that you enter here) is built into the application and deployed
# as default values.
#
# 'datasource.jndi-name-prefix' (see conf/database.properties.sample) and 'appserver.home'
# (see conf/ejbca.properties.sample) also has to be configured. 
#####

# Allow dynamic re-configuration.
#
# By setting this property to true, you can also dynamically re-configure
# the RA by changing values in properties files in the file system.
# 
# You can put a scepra.properties file in your "app server runtime home"/conf directory
# to override these values. To find out which this directory is, it is logged during startup as for example:
# [ExtraConfiguration] Added file to configuration source: /opt/jboss-4.2.2.GA/bin/conf/scepra.properties
# This file is re-read if changed so changes can be made in runtime.
#
# You can put a /etc/ejbca/conf/extra/scepra.properties file to override these values.
# This file is re-read if changed so changes can be made in runtime.
#
# Finally you can override anything by setting system properties for your appserver, for example:
# java -Dscep.ra.authpwd=mysecret
allow.external-dynamic.configuration=false


#
# Settings for the Stand-alone SCEP RA Server.
# The stand-alone SCEP RA sevrer is deployed as an using External RA. 
# See admin guide for more information about the External RA.  
#

# Path to RA keystore. Should be a full pathname.
scep.ra.keyStorePath.1=/opt/jboss-4.2.2.GA/bin/conf/keystore/sceprakeystore.p12

# Password to the RA keystore configured above
scep.ra.keyStorePassword.1=foo123

# Advanced users: In theory it is possible to have several SCEP RAs configured with different keystores. 
# In that case add more keystores with .2 etc. And configure new Servlets and mappings in src/WEB-INF/web.xml 
# with these keystoreNumber.
  
# Set to another value than none if the Scep RA should require 
# a specific password in the SCEP request. 
# This should be used with createOrEditUser=true and will in this case be a set password 
# required in the SCEP Request message. If this password is correct, the request will be automatically granted. 
#
# Leave as 'none' to not require any password, i.e. allow anything.
# If createOrEditUser=false this will require the user to be pre-registered and the password in the request will
# be used to authenticate this user with the pre-registered password.
#
# If createOrEdit=false and authPwd=none you can also use Approvals in EJBCA to require an administrator to 
# approve the request in the CA Admin-GUI before a certificate is issued. 
scep.ra.authPwd=none

# Which generation scheme should be used, RANDOM, DN or USERNAME for base username. FIXED to have a fixed username.
# Random will generate a 12 character long random username.
# DN will take a part of the request DN, which part is defined by cmp.ra.namegenerationparameters, and use as the username.
# USERNAME will use the request DN as username.
# If the same username is constructed (for example UID) as an already existing user, the existing user will be modified with
# new values for profile etc, and a new certificate will be issued for that user.
#
# Default: DN
scep.ra.namegenerationscheme=DN

# Parameters for name generation, for DN it can be for example CN, UID or SN. 
# Either the CN or the UID from the request can be used. 
# You can add several in order to have fall-back in case the first does not exist in the DN, for example UID;SN;CN. First try UID, 
#if it does not exist try SN (SerialNumber) etc. 
# For FIXED namegenerationscheme the username will be the value specified here.
#
# Default: CN
scep.ra.namegenerationparameters=CN

# Prefix to generated name, a string that can contain the markup ${RANDOM} to insert 10 random chars.
# Example: 'MyPrefix - ${RANDOM}-' using RANDOM password generation will create a username like 'MyPrefix - DGR89NN54QW-GDHR473NH87Q
#
# Default: empty
#scep.ra.namegenerationprefix=

# Postfix to generated name, a string that can contain the markup ${RANDOM} to insert 10 random chars.
# Example: MyPostfix - ${RANDOM}
#
# Default: empty
#scep.ra.namegenerationpostfix=

# Defines if a request to the RA will create a new user, or edit an existing in EJBCA. If false users must be 
# pre-registered in EJBCA with a pwd. 
# Note that even when the SCEP request is sent to the RA specific URL, if this option is set to 'false', no users will be added or edited
#
# Default: false
scep.ra.createOrEditUser=true

# The Certificate profile used to register new SCEP users, if createOrEditUser=true.
scep.ra.certificateProfile=ENDUSER

# The End entity profile used to register new SCEP users, if createOrEditUser=true.
scep.ra.entityProfile=EMPTY

# The default CA used to register new SCEP users, if createOrEditUser=true.
scep.ra.defaultCA=ScepCA

# Mapping a CAs issuer DN (as from the Admin-GUI->Edit CAs), which will be 
# received from the client to a CA name.
# This is used to find a CA from the request. If no CA can be found with a mapping, the defaultCA is used.
# You can create several mappings for different CAs like this.
# This is only used by the External RA SCEP Server, i.e. because there is no database with CAs to look in. 
# In the SCEP server in the CA the CAName is looked up in the CA database, but in the External RA server there is no other 
# information about CAs.
# Note that all =, : or whitespace must be escaped with a \. See example below. 
CN\=Scep\ CA,O\=EJBCA\ Sample,C\=SE=ScepCA

# Database connection information. The right JDBC driver has to be installed manually in the application server.
# SQL dialect is derived from the JDBC URL.
# Default: jdbc:mysql://127.0.0.1/messages
#scep.ra.datasource.jdbc-url=jdbc:mysql://127.0.0.1/messages

# JDBC driver classname.
# The JEE server needs to be configured with the appropriate JDBC driver for the selected database
# Default: com.mysql.jdbc.Driver
#externalra-database.driver=org.mariadb.jdbc.Driver
#externalra-database.driver=com.mysql.jdbc.Driver
#externalra-database.driver=org.postgresql.Driver
#externalra-database.driver=org.hsqldb.jdbcDriver
#externalra-database.driver=oracle.jdbc.driver.OracleDriver
#externalra-database.driver=com.ibm.db2.jcc.DB2Driver

# Username for database connection.
# Default: ejbca
#scep.ra.datasource.username=ejbca

# Password for database connection.
# Default: ejbca
#scep.ra.datasource.password=ejbca
