# $Id$
#
# Configuration file for running the system tests on a less standard setup (e.g. when using a proxy in front of EJBCA)
#

# Resolvable target hostname or IP of the external interface of EJBCA
# Normally this overrides "127.0.0.1" or "localhost" in the tests.
#target.hostname=192.168.5.181

# Target http port of the external interface of EJBCA
# Normally this overrides "8080" in the tests.
#target.port.http=80

# Target (dual authenticated) https port of the external interface of EJBCA
# Normally this overrides "8443" in the tests.
#target.port.https=443

# The following two properties are needed when EJBCA and tests are running on different VMs/containers.
# Address which tests that spawn servers should bind to.
# Default is 127.0.0.1, which means that only local connections are allowed
# Set to 0.0.0.0 to allow external connections (perhaps from a different VM).
#testservers.bindaddress=0.0.0.0
# Hostname of that EJBCA should connect to, to reach servers spawned by tests.
# Must be a hostname, not an IP address (but can be defined in the system's hosts file)
#testservers.hostname=localhost

# Name of CA that has issued the target server TLS certificate. The CA can be an external CA.
# Use ; to search for, to search for multiple CAs. Only the first one found will be used.
#target.servercert.ca=ManagementCA;AdminCA1

# Name of CA that is trusted in the appserver truststore. Must be an active CA that can issue certificates.
# Use ; as a separator, to search for multiple CAs. Only the first one found will be used.
#target.clientcert.ca=ManagementCA;AdminCA1

# Full path to the PKCS#11 library
#pkcs11.library=/opt/p11proxy/p11proxy.so

# The security provider the specified library and slot results in
#pkcs11.provider=SunPKCS11-p11proxy.so-slot1

# By which methods we usually prefer to reference a slot.
# Must be one of SLOT_NUMBER, SLOT_INDEX or SLOT_LABEL
#pkcs11.slottype=SLOT_NUMBER

# The value of the slot type
#pkcs11.slottypevalue=1


# The PIN of the slot referenced by the pkcs11.slottypevalue.* properties.
#pkcs11.slotpin=userpin1

# Some tests test a specific way of referencing the PKCS#11 token.
# To run these tests (Pkcs11WrapperTest and Pkcs11SlotLabelTest currently), you need to set the following properties.
# If a token cannot be reliably referenced in a specific way (e.g. token number), you can leave that property commented out or blank.
#pkcs11.token_number=1
#pkcs11.token_label=TEST
#pkcs11.token_index=i0
#second slot references
#pkcs11.token2_number=2
#pkcs11.token2_label=TEST1
#pkcs11.token2_index=i1
