#------------------- Validation Authority (VA) Healthcheck settings -------------
# Specifies the basic settings of the VA healthcheck
# (i.e. VA specific health checks that runs as part of EJBCA healthcheck).
#
# For more information see healthcheck settings in ejbca.properties.
#
# Configure these options if you are configuring a VA now.

# Most of the old ocsphealthcheck.* properties have been moved
# to healthcheck.* in ejbca.properties

# Parameter to configure if all available signing keys should be tested.
# The test will fail if any of the available signing keys is not working or if there are no available signing keys.
# If the OCSP responder is disable the test will always succeed.
# Default: true
#ocsphealthcheck.signtest=false

# True if the healthcheck should check the validity of all signing certificates.
# If your cluster of responders have the same expiration time for all signing certificates it could be better not to check since
# it might be better to sign with an old certificate than not signing at all. Otherwise it is usually a good idea to do this check
# and exclude a responder with no valid signing certificate.
# If the OCSP responder is disable the test will always succeed.
# Default: true
#ocsphealthcheck.checkSigningCertificateValidity=false



#------------------- Validation Authority (VA) Certificate and CRL Store setting -------------
# Below you will find setting common for Certificate and CRL Store:

# You may define alias for the sKIDHash hash.
# The example below defines the alias 'root' for 'O4RdnGNf3WPioslAQsX71aR1/MI' and then:
# http://myhost.com:8080/certificates/search.cgi?sKIDHash=O4RdnGNf3WPioslAQsX71aR1/MI is the same as http://myhost.com:8080/certificates/search.cgi?alias=root
# http://myhost.com:8080/crls/search.cgi?sKIDHash=O4RdnGNf3WPioslAQsX71aR1/MI is the same as http://myhost.com:8080/crls/search.cgi?alias=root
# http://myhost.com:8080/crls/search.cgi?sKIDHash=O4RdnGNf3WPioslAQsX71aR1/MI&delta= is the same as http://myhost.com:8080/crls/search.cgi?alias=root&delta=
# Copy the sKIDHash from http://myhost.com:8080/crls/search.cgi or http://myhost.com:8080/certificates/search.cgi and paste it in the config file and restart the application server.
# The downloaded file will use the alias for the name.
# Here is the example:
#va.sKIDHash.alias.root=O4RdnGNf3WPioslAQsX71aR1/MI
