# ------------ Web GUI configuration ---------------------
# When upgrading, the important options are:
# - httpsserver.password

# Password for java trust keystore (JAVA_HOME/jre/lib/security/cacerts), default is changeit.
java.trustpassword=changeit

# The password used to protect the generated super administrator P12 keystore (to be imported in browser).
# Choose a good password here.
superadmin.password=ejbca

# The password used to protect the web servers SSL keystore.
# Choose a good password here.
# If upgrading from EJBCA 3.1, enter here the password found in 
#   $JBOSS_HOME/server/default/deploy/jbossweb-tomcat55.sar/server.xml
#   under the section about 'HTTPS Connector...', the password is in attribute 'keystorePass=...'.
httpsserver.password=serverpwd

# The CA servers DNS host name, must exist on client using the admin GUI.
httpsserver.hostname=localhost

# The Distinguished Name of the SSL server certificate used by the administrative web gui.
# The CN part  should match your hosts DNS name to avoid browser warnings.
httpsserver.dn=CN=localhost,O=EJBCA Sample,C=SE

# The public port JBoss will listen to http on
# Default 8080
#httpserver.pubhttp=8080

# The public port JBoss will listen to https on, no client cert required
# Default 8442
#httpserver.pubhttps=8442

# The private port JBoss will listen to https on, client cert required
# Default 8443
#httpserver.privhttps=8443

# Defines the available languages by languagecodes separated with a comma (example EN,ZH).
# If you are not sure that you know how to add a new language (languagefile.XX.properties etc), 
# we suggest you stick with the default the first time you install if you wan't to add your own language.
# Otherwise you may not be able to log in to the admin-GUI.
# Default: EN,FR,IT,ES,SE,ZH
#web.availablelanguages=EN,FR,IT,ES,SE,ZH,DE

# Default content encoding used to display JSP pages, for example ISO-8859-1, UTF-8 or GBK.
# Default: ISO-8859-1
#web.contentencoding=ISO-8859-1

# The language that should be used internally for logging, exceptions and approval notifications.
# The languagefile is stored in src/intresources/intresources.xx.properties
# and works in the same way as for web.available languages. is a global application setting 
# Should be one of EN,SE
#intresources.preferredlanguage=EN

# The language used internally if a resource not found in the preferred language
#intresources.secondarylanguage=SE

# Setting to indicate if the secret information stored on hard tokens (i.e initial PIN/PUK codes) should
# be displayed for the administrators. If false only non-sensitive information is displayed.
# Values should be "true" or "false".
# Default = true
#hardtoken.diplaysensitiveinfo=true

# Setting to configure the maximum number of rows to be returned when viewing logs in the admin-GUI.
# Setting this too high may put burden on the database, and make queries take a long time if the query
# results in a lot of rows.
# Default = 1000
#log.maxqueryrowcount=1000

# Overrides the automatic selection of the JSF implementation used by the application server EJBCA is deployed on.
# Possible values are: myfaces, sunri
# Using nojsf means that the admin-GUI will be limited with some functions not working. 
# It can however be useful if there are problems with your application server and JSF/MyFaces.
# Use nojsf for JBoss < 4.0.3
# Use myfaces for JBoss 4.0.3-4.0.5 and Weblogic
# Use sunri for Glassfish and JBoss 4.2.x
#
# DO NOT SET THIS UNLESS YOU KNOW WHAT YOU ARE DOING. 
# It is automatically detected, which should work fine
#
# Default: automatically detected
#web.jsfimpl=myfaces

# ------------ Web service (jaxws) configuration ---------------------
# 
# Disable this (set to false) if you do not want to deploy the WS-API in EJBCA
# Default: true
#ejbcaws.enabled=true
