# ------------ Web GUI configuration ---------------------
# When upgrading, the important options are:
# - httpsserver.password

# Password for java trust keystore (p12/truststore.jks). Default is changeit if web.promptForPassword is not true.
# This truststore will contain the CA-certificate after running 'ant javatruststore'
# Run 'ant -Dca.name=FooCA javatruststore' to install the CA-certificate for FooCA instead of the default AdminCA1
java.trustpassword=changeit

# The CN and DN of the super administrator.
# Comment out if you want 'ant install' to prompt for this.
superadmin.cn=SuperAdmin
# Note that superadmin.dn must start with the same CN as in superadmin.cn.
# example:  superadmin.dn=CN=${superadmin.cn},O=EJBCA Sample,C=SE
superadmin.dn=CN=${superadmin.cn}

# The password used to protect the generated super administrator P12 keystore (to be imported in browser).
# Choose a good password here.
superadmin.password=ejbca

# Set this to false if you want to fetch the certificate from the EJBCA public web pages, instead of
# importing the P12-keystore. This can be used to put the initial superadmin-certificate on a smart card.
superadmin.batch=true

# The password used to protect the web servers SSL keystore. Default is serverpwd if web.promptForPassword is not true.
# Choose a good password here.
# If upgrading from EJBCA 3.1, enter here the password found in 
#   $JBOSS_HOME/server/default/deploy/jbossweb-tomcat55.sar/server.xml
#   under the section about 'HTTPS Connector...', the password is in attribute 'keystorePass=...'.
httpsserver.password=serverpwd

# Uncomment this and comment away 'java.trustpassword' and 'httpsserver.password' if you want be prompt for these
# passwords when doing 'ant install'.
# If this is used you got to manually change these passwords in the tomcat definition file (server.xml) after
# 'ant deploy' if you are running jboss. If you are not changing any properties you can the later use 'ant bootstrap'
# after the first 'ant deploy' in order not to have to do this change again.
# By doing this it might be possible to have these passwords encrypted in the tomcat definition file. Consult the jboss
# documentation if such an encryption is desirable.
#web.promptForPassword=true

# The CA servers DNS host name, must exist on client using the admin GUI.
httpsserver.hostname=localhost

# The Distinguished Name of the SSL server certificate used by the administrative web gui.
# The CN part  should match your hosts DNS name to avoid browser warnings.
httpsserver.dn=CN=${httpsserver.hostname},O=EJBCA Sample,C=SE

# The public port JBoss will listen to http on
# Default 8080
#httpserver.pubhttp=8080

# The public port JBoss will listen to https on, no client cert required
# Default 8442
#httpserver.pubhttps=8442

# The private port JBoss will listen to https on, client cert required
# Default 8443
#httpserver.privhttps=8443

# The interfaces JBoss will bind to. E.g. 127.0.0.1 will only allow connections from localhost.
# Default 0.0.0.0
#httpsserver.bindaddress.pubhttp=0.0.0.0
#httpsserver.bindaddress.pubhttps=0.0.0.0
#httpsserver.bindaddress.privhttps=0.0.0.0

# Defines the available languages by languagecodes separated with a comma (example EN,ZH).
# If you are not sure that you know how to add a new language (languagefile.XX.properties etc), 
# we suggest you stick with the default the first time you install if you wan't to add your own language.
# Otherwise you may not be able to log in to the admin-GUI.
# Default: DE,EN,ES,FR,IT,PT,PT_BR,SE,ZH
#web.availablelanguages=DE,EN,ES,FR,IT,PT,PT_BR,SE,ZH

# Default content encoding used to display JSP pages, for example ISO-8859-1, UTF-8 or GBK.
# Default: UTF-8
#web.contentencoding=UTF-8

# The language configuration that should be used internally for logging, exceptions and approval
# notifications has been moved to ejbca.properties from EJBCA 3.10.

# Setting to indicate if the secret information stored on hard tokens (i.e initial PIN/PUK codes) should
# be displayed for the administrators. If false only non-sensitive information is displayed.
# Values should be "true" or "false".
# Default = true
#hardtoken.diplaysensitiveinfo=true

# Setting to configure the maximum number of rows to be returned when viewing logs in the admin-GUI.
# Setting this too high may put burden on the database, and make queries take a long time if the query
# results in a lot of rows.
# Default = 1000
#log.maxqueryrowcount=1000

# Overrides the automatic selection of the JSF implementation used by the application server EJBCA is deployed on.
# Possible values are: myfaces, sunri
# Using nojsf means that the admin-GUI will be limited with some functions not working. 
# It can however be useful if there are problems with your application server and JSF/MyFaces.
# Use nojsf for JBoss < 4.0.3
# Use myfaces for JBoss 4.0.3-4.0.5, Weblogic and OC4J
# Use sunri for Glassfish and JBoss 4.2.x
#
# DO NOT SET THIS UNLESS YOU KNOW WHAT YOU ARE DOING (it will probably not work anyway). 
# It is normally automatically detected, which should work fine. 
# Autodetection is handled in build.xml and compile.xml.
#
# Default: automatically detected
#web.jsfimpl=myfaces

# Show links to the EJBCA documentation. The links can either point to internally deployed
# documentation on the server or any exteral location like ejbca.org.
# Default = internal
#web.docbaseuri=disabled
#web.docbaseuri=internal
#web.docbaseuri=http://www.ejbca.org

# Require administrator certificates to be available in database for revocation
# checks. Set this to false, if you want to be able to use admin certificates
# issued by external CAs.
# Default: true
#web.reqcertindb=true

# Deploy the request browser certificate renewal web application and show a 
# link to it from the EJBCA public web.
# Default = false
#web.renewalenabled=false

# Presentation of the an exception on the web error page.
#
# General error message to be presented to the user when an exception occur.
# Default: An exception has occurred
#web.errorpage.notification=Something is wrong. Please dial 911.
#
# Print the stacktrace of the excpetion
# Default: true
#web.errorpage.stacktrace=false

