/*
 * EJBCA - Enterprise Java Bean Certificate Authority
 *
 * GUI   : Public Web
 * Style : CSS (Cascading Style Sheets)
 * Media : all
 *
 */


/*--------------------------------------------------------------------------*/
/* GLOBAL */

* {
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}
body {
	margin: 0em;
	padding: 0em;
	background-color: #FFF;
	color: #000;
	font-size: 11pt;
}
code, code *, pre, pre * {
	font-family: "Courier New", Courier, monospace;
}
a img {
	border-width: 0px;
}


/*
body, ul, li, p {
    font-family: Georgia, Palatino, Times, serif;
    font-size: small;
}

body { 
    color: #454743; 
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}
/**/

ul {
    list-style-type: square;
}

li {
    line-height: 16px;
    margin-bottom: .5em;
}

p { 
    line-height: 120%;
    margin-top: .5em;
    margin-bottom: 1em; 
    text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 5px;
}

h1 {
    font-size: 160%;
    color: rgb(218, 92, 5);    
}

h3 { 
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 2em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px dashed black;
}
h4 {
    font-size: 90%;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px dashed black;
}

a { text-decoration: underline; }

a:link { color:#0F3660} 
a:visited { color:#009999} 
a:hover { color:#000066}

acronym { border-bottom: none; }


/*--------------------------------------------------------------------------*/
/* NAVIGATION */

@media print {
   .menu {
     display: none;
   }
}

.menucontainer {
    float: left;
    background-color: #EEEEEE;
    margin: 0px;
    width: 250px;
    height: 100%;
}

.menu {
    font-size : 90%;
    padding: 3px 8px 5px 3px;
    border-left: 1px solid #ddd;
}

.menu a { font-weight:normal; font-style: normal; color: #1081b9; text-decoration : none; }
.menu a:link {   }
.menu a:visited {  }
.menu a:hover { text-decoration: underline; }
.menu ul { margin: 0px 0px 0px 15px; padding: 0px; }
.menu li  {  list-style-type: none; font-weight : normal ; }
.menu ul ul li .sel { list-style-type: none; font-style : italic; }
.menu ul ul li  { list-style-type: disc; font-weight : normal; }

.menuheader {
    color: #555;
	font-size: 11pt;
	font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px dashed #688B9A;
    margin-top: 8px;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 0px;
}


/*--------------------------------------------------------------------------*/
/* HEADER */

#header {
	height: 100px;
	margin: 0em;
	padding: 0em;
    border-bottom: 1px solid #DDD;
	background-color: #005B88;
	color: #FFF;
	overflow: hidden;
}
#header div#banner {
	height: 84px;
	margin: 8px 8px;
	padding: 0em;
	/* For IMG ALT */
	color: #FFF;
	font-size: 3em;
	line-height: 1.9em;
	white-space: nowrap;
}
#header div#banner a:link,
#header div#banner a:visited,
#header div#banner a:hover,
#header div#banner a:focus,
#header div#banner a:active {
	color: #FFF;
	text-decoration: none;
}
#header div#banner img {
	max-height: 84px;
	margin-top: 0px;
}


/*--------------------------------------------------------------------------*/
/* CONTENT */



/*--------------------------------------------------------------------------*/
/* FORMS */

/* The form styles were adapted from <http://www.websiteoptimization.com/speed/tweak/forms/>

/* set width in form, not fieldset (still takes up more room w/ fieldset width) */
form {
  font:100% "Trebuchet MS", verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 400px;
  max-width: 600px;
  width: 560px; 
}

form fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

/* bump up legend font size, not too large or it'll overwrite border on left */
/* be careful with padding, it'll shift the nice offset on top of border  */
form fieldset legend {
	font-size:1.1em; 
}

/* block float the labels to left column, set a width */
/* set top margin same as form input - textarea etc. elements */
form label { 
	display: block;
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 5px 0 0;
	text-align: right; 
}

/* use first-letter pseudo-class to underline accesskey, note that */
/* Firefox 1.07 WIN and Explorer 5.2 Mac don't support first-letter */
/* pseudo-class on legend elements, but do support it on label elements */
/* we instead underline first letter on each label element and accesskey */
/* each input. doing only legends would  lessens cognitive load */
/* opera breaks after first letter underlined legends but not labels */
form fieldset label:first-letter {
	text-decoration:underline;   
}

/* set width of form elements to auto-size, otherwise watch for wrap on resize */
/* set margin on left of form elements rather than right of label aligns textarea better in IE */
form input, form textarea, form select {
	width:auto;
	margin:5px 0 0 10px;
}

/* set margin-left back to zero on reset button (set above) */
form input#reset {
	margin-left:0px;
}

textarea { overflow: auto; }

/* instructions/comments left margin set to align w/ right column inputs */
form small {
	display: block;
	margin: 0 0 5px 160px;
	padding: 1px 3px;
	font-size: 88%;
}

/* uses class instead of div, more efficient */
form .required{
    font-weight:bold;
}

/* setting clear on inputs didn't work consistently, so brs added for degrade */
form br {
	clear:left;
}


/* Other */

.content {
    margin-left: 280px;
    margin-right: 5px;
    padding: 5px 5px 5px 10px;
}

.frame {
  border: solid black 1px;
  margin: 1em 3em;
}

.frame .label {
  background: #369;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

.frame .content {
  padding: 5px 10px;
  margin: 0px;
  background: #F0F0FF;
  color: black;
  line-height: 120%;
  font-size: 90%;
}


/*--------------------------------------------------------------------------*/
/* EOF */
