/*
 * EJBCA - Enterprise Java Bean Certificate Authority
 *
 * GUI   : Public Web
 * Style : CSS (Cascading Style Sheets)
 * Media : all
 *
 */


/*--------------------------------------------------------------------------*/
/* GLOBAL */

* {
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
}
body {
	margin: 0em;
	padding: 0em;
	background-color: #FFF;
	color: #444;
	font-size: 11pt;
}
code, code *, pre, pre * {
	font-family: "Courier New", Courier, monospace;
}
a img {
	border-width: 0px;
}

ul {
	list-style-type: square;
}

li {
	line-height: 16px;
	margin-bottom: .5em;
}

p { 
	line-height: 120%;
	margin-top: .5em;
	margin-bottom: 1em; 
	text-align: justify;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Geneva, sans-serif;
	margin-top: .75em;
	margin-bottom: .5em;
}

h1 {
	color: #C00;
	font-size: 1.8em;
	text-shadow: .05em .05em 0em rgba(0,0,0,.2);
	-o-text-shadow: .05em .05em 0em #CCC;
	-moz-text-shadow: .05em .05em 0em rgba(0,0,0,.2);
	-khtml-text-shadow: .05em .05em 0em #CCC;
	-webkit-text-shadow: .05em .05em 0em rgba(0,0,0,.2);
}

h3 { 
	font-size: 100%;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 1px;
	margin-top: 2em;
	margin-right: 0px;
	margin-bottom: 0.5em;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px dashed black;
}
h4 {
	font-size: 90%;
	font-style: italic;
	font-weight: normal;
	border-bottom: 1px dashed black;
}

a { text-decoration: underline; }

a:link { color: #0F3660; } 
a:visited { color: #009999; } 
a:hover { color: #000066; }

acronym { border-bottom: none; }


/*--------------------------------------------------------------------------*/
/* NAVIGATION */

@media print {
.menu {
	display: none;
}
}	/* print */

.menucontainer {
	float: left;
	background-color: #EEEEEE;
	border-radius: 0em 1em 1em 0em;
	margin: 0px;
	width: 250px;
	height: 100%;
}

.menu {
	font-size : 90%;
	padding: 0em 1.2em 1em 1.2em;
}

.menu a {
	display: block;
	margin: 0em -.6em;
	padding: .3em .6em .45em .6em;
	color: #1081b9;
	text-decoration : none;
	border-radius: 1em;
	-o-border-radius: 1em;
	-moz-border-radius: 1em;
	-khtml-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.menu a:link,
.menu a:visited {
}
.menu a:hover,
.menu a:focus,
.menu a:active {
	background-color: #FEEECD;
	color: #A00;
}

.menu ul {
	margin: 0em;
	padding: 0em;
}
.menu li {
	margin: 0em;
	margin-bottom: -1px;
	padding: 0em;
	list-style-type: none;
}
.menu ul ul li  {
	list-style-type: none;
	font-weight : normal;
}

.menuheader {
	margin-top: 1em;
	margin-bottom: .25em;
	padding: 0em 0em .25em 0em;
	border-bottom: 1px dashed #688B9A;
	color: #555;
	font-size: 11pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: .1em .1em 0em rgba(0,0,0,.1);
	-o-text-shadow: .1em .1em 0em #CCC;
	-moz-text-shadow: .1em .1em 0em rgba(0,0,0,.1);
	-khtml-text-shadow: .1em .1em 0em #CCC;
	-webkit-text-shadow: .1em .1em 0em rgba(0,0,0,.1);
}


/*--------------------------------------------------------------------------*/
/* HEADER */

#header {
	height: 100px;
	margin: 0em;
	padding: 0em;
	color: #FFF;
	overflow: hidden;
}
#header div#banner {
	height: 84px;
	margin: 8px 8px;
	padding: 0em;
	/* For IMG ALT */
	color: #FFF;
	font-size: 3em;
	line-height: 1.9em;
	white-space: nowrap;
}
#header div#banner a:link,
#header div#banner a:visited,
#header div#banner a:hover,
#header div#banner a:focus,
#header div#banner a:active {
	color: #FFF;
	text-decoration: none;
}
#header div#banner img {
	max-height: 84px;
	margin-top: 0px;
}


/*--------------------------------------------------------------------------*/
/* CONTENT */

.content {
	margin-left: 270px;
	margin-right: 20px;
	padding: 5px 10px;
}
.content.hidemenu {
	width: 750px;
	margin-left: 5px;
	margin-right: 5px;
}

/* Message: Note, Alert, etc. (e.g. in frame) */
.message {
	margin: 1em 0em;
	border: solid black 1px;
}

.message .label {
	padding: 5px 10px;
	background: #369;
	color: white;
	font-weight: bold;
}

.message .content {
	margin: 0px;
	padding: 5px 10px;
	background: #F0F0FF;
	color: black;
	line-height: 120%;
	font-size: 90%;
}


/*--------------------------------------------------------------------------*/
/* FORMS */

/* The form styles were adapted from <http://www.websiteoptimization.com/speed/tweak/forms/> */

/* set font for all fields */
form * {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, Geneva, sans-serif;
  font-size: 100%;
}

/* set width in form, not fieldset (still takes up more room w/ fieldset width) */
form {
  margin: 0;
  padding: 0;
  min-width: 400px;
  max-width: 800px;
}

form fieldset {
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  margin: 0;
}

/* bump up legend font size, not too large or it'll overwrite border on left */
/* be careful with padding, it'll shift the nice offset on top of border  */
form fieldset legend {
	font-size:1.1em; 
}

/* block float the labels to left column, set a width */
/* set top margin same as form input - textarea etc. elements */
form label { 
	display: block;
	float: left; 
	width: 160px; 
	padding: 0; 
	margin: 8px 0px 0px 0px;
	text-align: right;
	white-space: nowrap;
}

/* use first-letter pseudo-class to underline accesskey, note that */
/* Firefox 1.07 WIN and Explorer 5.2 Mac don't support first-letter */
/* pseudo-class on legend elements, but do support it on label elements */
/* we instead underline first letter on each label element and accesskey */
/* each input. doing only legends would  lessens cognitive load */
/* opera breaks after first letter underlined legends but not labels */
form fieldset label:first-letter {
	text-decoration:underline;   
}

/* set width of form elements to auto-size, otherwise watch for wrap on resize */
/* set margin on left of form elements rather than right of label aligns textarea better in IE */
form input, form textarea, form select {
	width:auto;
	margin:5px 0 0 10px;
}

/* set margin-left back to zero on reset button (set above) */
form input#reset {
	margin-left:0px;
}

textarea {
	overflow: auto;
	font-family: "Courier New", Courier, monospace;
}

/* instructions/comments left margin set to align w/ right column inputs */
form small {
	display: block;
	margin: 0 0 5px 160px;
	padding: 1px 3px;
	font-size: 88%;
}

/* uses class instead of div, more efficient */
form .required {
	font-weight:bold;
}

/* setting clear on inputs didn't work consistently, so brs added for degrade */
form br {
	clear:left;
}


/*--------------------------------------------------------------------------*/
/* EOF */
