<Server>

   <!-- Use a custom version of StandardService that allows the
   connectors to be started independent of the normal lifecycle
   start to allow web apps to be deployed before starting the
   connectors.
   -->
   <Service name="jboss.web"
      className="org.jboss.web.tomcat.tc5.StandardService">

      <!-- A HTTP/1.1 Connector on port 8080 -->
      <Connector port="@httpserver.pubhttp@" address="${jboss.bind.address}"
         maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
         enableLookups="false" redirectPort="@httpserver.privhttps@" acceptCount="100"
         connectionTimeout="20000" disableUploadTimeout="true"/>

      <!-- A AJP 1.3 Connector on port 8009 -->
      <Connector port="8009" address="${jboss.bind.address}"
         enableLookups="false" redirectPort="@httpserver.privhttps@" debug="0"
         protocol="AJP/1.3"/>

    <!-- A HTTPS Connector without client cert on port 8442 -->
    <Connector port="@httpserver.pubhttps@" address="${jboss.bind.address}"
         maxThreads="100" minSpareThreads="5" maxSpareThreads="15"
         scheme="https" secure="true" clientAuth="false"
         keystoreFile="${jboss.server.home.dir}/@keystore.file@"
         keystorePass="@httpsserver.password@" sslProtocol = "TLS" 
         URIEncoding="@web.contentencoding@" />
    
    <!-- HTTPS Connector requiring client cert on port 8443 -->
    <Connector port="@httpserver.privhttps@" address="${jboss.bind.address}"
         maxThreads="100" minSpareThreads="5" maxSpareThreads="15"
         scheme="https" secure="true" clientAuth="true"
         keystoreFile="${jboss.server.home.dir}/@keystore.file@"
         keystorePass="@httpsserver.password@" sslProtocol = "TLS" 
         URIEncoding="@web.contentencoding@" />

      <Engine name="jboss.web" defaultHost="localhost">

         <Logger className="org.jboss.web.tomcat.Log4jLogger"
            verbosityLevel="WARNING"
            category="org.jboss.web.localhost.Engine"/>

         <Host name="localhost"
            autoDeploy="false" deployOnStartup="false" deployXML="false">

            <!-- Access logger -->
            <!--
            <Valve className="org.apache.catalina.valves.AccessLogValve"
               prefix="localhost_access_log." suffix=".log"
               pattern="common" directory="${jboss.server.home.dir}/log" 
               resolveHosts="false" />
            -->

            <!-- Uncomment to enable single sign-on across web apps
               deployed to this host. Does not provide SSO across a cluster.     
            
               If this valve is used, do not use the JBoss SingleSignOn valve 
               shown below. 
            -->
            <!--
            <Valve className="org.apache.catalina.authenticator.SingleSignOn"
               debug="0"/>
            -->
         
            <!-- Uncomment to check for unclosed connections in servlets/jsps
            <Valve className="org.jboss.web.tomcat.tc5.jca.CachedConnectionValve"
                cachedConnectionManagerObjectName="jboss.jca:service=CachedConnectionManager" />
            -->

            <!-- Default context parameters -->
            <DefaultContext cookies="true" crossContext="true" override="true"/>

         </Host>

      </Engine>

   </Service>

</Server>
