#
# $Id: log4j.properties.sample 11950 2011-05-11 11:20:17Z jeklund $
#
# This is a sample file to override properties specific for the Log4j Log Device used 
# during development (or deployment) of EJBCA
#
# You should copy and rename this file to log4j.properties
# and customize at will
#

# The time format used when logging events and displaying them.
# Default: yyyy-MM-dd HH:mm:ssZZ
#log4j.timepattern=yyyy-MM-dd HH:mm:ssZZ
