{{- if .Values.ingress.enabled -}}
{{- $fullName := include "ejbca.fullname" . -}}
{{- $svcPort := .Values.services.proxyHttp.httpsPort -}}
{{- if or (.Values.services.proxyAJP.enabled) (.Values.httpd.enabled) }}
{{- $svcPort = .Values.services.proxyAJP.port -}}
{{- end }}
{{- if .Values.ingress.sslBackend}}
{{- $svcPort = 443 -}}
{{- end }}
{{- if .Values.services.directHttp.enabled }}
{{- $svcPort = .Values.services.directHttp.httpPort -}}
{{- end }}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "ejbca.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 32m
    {{- if .Values.ingress.sslBackend}}
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    {{- else }}
    {{- if or (.Values.services.proxyAJP.enabled) (.Values.httpd.enabled) }}
    nginx.ingress.kubernetes.io/backend-protocol: "AJP"
    {{- else }}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    {{- end }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header SSL_CLIENT_CERT $ssl_client_cert;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    {{- end }}
    {{- if ne (int .Values.replicaCount) 1 }}
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "ejbcaCOOKIE"
    {{- end }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- if and .pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                {{- if $.Values.ingress.sslBackend}}
                name: {{ $fullName }}-nginx
                {{- else }}
                name: {{ $fullName }}
                {{- end }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
