<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
    <servlet>
        <servlet-name>
            CertReqServlet
        </servlet-name>
        <servlet-class>
            se.anatom.ejbca.apply.CertReqServlet
        </servlet-class>
        <init-param>
            <param-name>responseTemplate</param-name>
            <param-value>/request/certInstT.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
	<servlet-name>CertReqServlet</servlet-name>
	<url-pattern>/certreq</url-pattern>
    </servlet-mapping>
    
</web-app>
