<?xml version = '1.0' encoding = 'ISO-8859-1'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="web-app_1">
    <display-name>CA Health Check Configuration</display-name>
    <servlet>
        <servlet-name>EJBCAHealthCheckServlet</servlet-name>
        <display-name>EJBCAHealthCheckServlet</display-name>
        <servlet-class>org.ejbca.ui.web.pub.HealthCheckServlet</servlet-class>
        <!-- Required parameters -->
        <init-param>
            <param-name>HealthCheckClassPath</param-name>
            <param-value>org.ejbca.ui.web.pub.cluster.EJBCAHealthCheck</param-value>
            <description>Class performing the healthcheck. Must implement the IHealthCheck interface.</description>
        </init-param>
        <init-param>
            <param-name>HealthResponseClassPath</param-name>
            <param-value>org.ejbca.ui.web.pub.cluster.TextResponse</param-value>
            <description>Class creating the response to the loadbalancer or monitor software. Must implement the IHealthResponse interface.</description>
        </init-param>
        <!-- EJBCAHealthCheck specific init parameters -->
        <init-param>
            <param-name>CheckPublishers</param-name>
            <param-value>false</param-value>
            <description>
                Parameter indication if a test connection should be performed to
                all the publishers. 
            </description>
        </init-param>
        <!-- TextResponse specific init parameters -->
        <init-param>
            <param-name>OKMessage</param-name>
            <param-value>ALLOK</param-value>
            <description>
                Text string used to say that every thing is ok with this node.
            </description>
        </init-param>
        <init-param>
            <param-name>SendServerError</param-name>
            <param-value>true</param-value>
            <description>
               Parameter saying if a errorcode 500 should be sent in case of error.
            </description>
        </init-param>
       <!-- 
        <init-param>
            <param-name>CustomErrorMessage</param-name>
            <param-value>EJBCANOTOK</param-value>
            <description>
                Uncomment this parameter if you want a static error message instead of 
                one generated´by the HealthChecker.
            </description>
        </init-param> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>EJBCAHealthCheckServlet</servlet-name>
        <url-pattern>/ejbcahealth</url-pattern>
    </servlet-mapping>
  <env-entry>
    <env-entry-name>DataSource</env-entry-name>
    <env-entry-value>@datasource.jndi-name-prefix@@datasource.jndi-name@</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint> 

  <ejb-local-ref id="EJBLocalRef_1">
    <ejb-ref-name>ejb/CAAdminSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocalHome</local-home>
    <local>org.ejbca.core.ejb.ca.caadmin.ICAAdminSessionLocal</local>
    <ejb-link>CAAdminSession</ejb-link>
  </ejb-local-ref>
  <ejb-local-ref id="EJBLocalRef_2">
    <ejb-ref-name>ejb/PublisherSessionLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local-home>org.ejbca.core.ejb.ca.publisher.IPublisherSessionLocalHome</local-home>
    <local>org.ejbca.core.ejb.ca.publisher.IPublisherSessionLocal</local>
    <ejb-link>PublisherSession</ejb-link>
  </ejb-local-ref>
    
</web-app>