/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

/* version: $Id$ */

.rtlDirection { direction: rtl; }
.ltrDirection { direction: ltr; }

.nopadding td { padding: 0px; }
.noborder td { border: 0px; }

.fineprint { font-size: xx-small; }
.fineprintMono { font-size: xx-small; font-family: monospace; }

.monospace { font-family: monospace; }
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.pre { white-space: pre; }

label.invalidInput { color: red; }
