/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

/* version: $Id$ */

.main-frame {
	background: #fff3e6;
	height: 100%;
	margin: 50px 10% 30px 10%;		
}

.header {
     margin: 0;
     color: #333;
     padding: 1.5em 5em 0;
     border-bottom: 1px solid #eee;
     text-align: center;
 }
 
	.header h1 {
	    margin: 0.2em 0;
	    font-size: 3em;
	    font-weight: 300;
	}
	
.content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
    text-align: left;
    margin: 10px 0 30px 0;
    padding: 0em 1.5em 1em;
 
}
	
.content-subhead {
    margin: 10px 0 20px 0;
    font-weight: 300;
    color: #888;
}



.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* CSS specific for the top menu */

.ejbca-menu {
    height: 2em;
    background: #003366;
   	color: #f2f2f2;	
}

.pure-menu-link {
   	color: #f2f2f2;	    
   	font-size: 0.875em; 	
}

.pure-menu-item {
	background: #003366;
}

.pure-menu-link:hover, .pure-menu-link:focus  {
	background: #336699;
}

img.menu_logo {
    height: 1em; 
    width: auto;
}

/* CSS Specific for the bottom menu */

.footer {
    background: #003366;
   	color: #f2f2f2;
   	font-size: 0.875em; 
    /*padding: 1em;*/
   			
}
