/*************************************************************************
 *                                                                       *
 *  EJBCA: The OpenSource Certificate Authority                          *
 *                                                                       *
 *  This software is free software; you can redistribute it and/or       *
 *  modify it under the terms of the GNU Lesser General Public           *
 *  License as published by the Free Software Foundation; either         *
 *  version 2.1 of the License, or any later version.                    *
 *                                                                       *
 *  See terms of license at gnu.org.                                     *
 *                                                                       *
 *************************************************************************/

/* version: $Id$ */

.content {
	background: #ffffff;
	height: 100%;
	margin: 50px 10% 30px 10%;	
	border-radius: 15px;
}

.header {
     margin: 0;
     color: #333;
     padding: 1.5em 5em 0;
     border-bottom: 1px solid #eee;
     text-align: center;
 }
 
	.header h1 {
	    margin: 0.2em 0;
	    font-size: 3em;
	    font-weight: 300;
	    color: #1f589f;
	}
	
.content-body {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
    text-align: left;
    padding: 1em 1.5em 1em; 
}
	.content-body h2 {
	    margin: 0.2em 0;
	    font-size: 1.3em;
	    font-weight: 300;
	    color: #1f589f;
	}
	
	.content-body h3 {
	    margin: 0.2em 0;
	    color: #1f589f;
	}
	
	.content-body pure-table td,
	.content-body pure-table th {
	    border-left: 1px solid #cbcbcb;/*  inner column border */
	    border-width: 0 0 0 1px;
	    font-size: inherit;
	    margin: 0;
	    padding: 0px 10px; /* cell padding */    
	    overflow: visible; /*to make ths where the title is really long work*/
	}
	
.button-group {
	padding: 0.5em 0.5em;   	 
}

#enrollMakeNewRequestContentBody {
	text-align: left;
}

/* A specific button group on enrollmakenewrequest.xhtml */
.keygeneration-button-group {
	text-align: center;
}

.navigation-button-group {
	text-align: center;
}


.content-body-subhead {
    margin: 0 1.5em 0;
}

.internal-frame {
	border-style: hidden;
	border-width: 0px;
	border-color: #373737;
	min-width: 50%;
	background: #BFBFBF;
	text-align: left;
	padding: 0.5em 0.5em;
	border-radius: 5px;
	margin: 0.5em 0;
}
	.internal-frame fieldset {
		padding: 0;
	}

.radio-button-table {
	margin-left: 3em;
	padding: 0 5em;
}
	
.required-input {
	border: 1px solid #f30513;
}

.vertical-align-center {
	vertical-align: center;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.ra-button {
	margin: 0.25em 0.25em;
 	background: #ededed;
   	color: #212021;
}

.ra-outputText {
    margin: 0.5em 0 0.2em;
}

.pure-control-group {
	padding: 0 0.5em;
	margin: 0 0.25em;
}

.bigStatus {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 1.5em;
}
.statusApproved { color: #53983d; }
.statusFailed { color: #e53e33; }

.tabButtonBar {
	border-bottom: 0.2ex solid #1e599f;
}
.tabButton {
	background: #ededed;
	color: #000;
	padding: 0.5em;
	margin: 0 0.25em;
	border: 0 none;
}
.tabButton.active {
	background: #1e599f;
	color: #fff;
}

.approvalControl {
	margin-bottom: 1em;
}



/* CSS specific for the top menu */

.ejbca-menu {
    height: 2em;
    background: #ededed;
   	color: #212021;	
}

.pure-menu-link, .language_button {
   	color: #212021;	    
   	font-size: 0.875em; 	
}

.pure-menu-item {
	background: #ededed;
}

.pure-menu-link:hover, .pure-menu-link:focus  {
	background: #336699;
}

.enroll-menu-link:hover, .enroll-menu-link:focus  {
	background: #336699;
}

.cas-menu-link:hover, .cas-menu-link:focus  {
	background: #336699;
}

.requests-menu-link:hover, .requests-menu-link:focus  {
	background: #336699;
}

.search-menu-link:hover, .search-menu-link:focus  {
	background: #336699;
}

img.menu_logo {
    height: 1em; 
    width: auto;
}

.language_button {
	border: none;
	padding: 15px 32px;
	text-align: center;
    text-decoration: none;
}

.language_button:hover, .language_button:focus{
	background: #336699;
}

/* CSS Specific for the bottom menu */

.footer {
    background: #ededed;
   	color: #212021;
   	font-size: 0.875em; 
    padding: 1px;
}

.row-even { background-color: transparent; }
.row-odd { background-color: #f2f2f2; }
