@charset "UTF-8";
/* web express main SCSS */
.web-express.tablet {
  display: none; }

html {
  height: 100%; }

body.ltrDirection, body.rtlDirection {
  align-items: stretch;
  background-attachment: fixed;
  background-color: #637b98;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body.rtlDirection .pure-menu-heading {
  float: left; }

/* styling av show more options i search for certificates (Arabiska)*/
body.rtlDirection .contentForm\:more > .pure-g {
  width: 100%; }
  body.rtlDirection .contentForm\:more > .pure-g > .pure-u-1:nth-of-type(1) > .pure-control-group > #contentForm\:criteriaMaxResults {
    float: right; }
  body.rtlDirection .contentForm\:more > .pure-g > .pure-u-1:nth-of-type(1) > .pure-control-group > label {
    text-align: right; }
  body.rtlDirection .contentForm\:more > .pure-g > .pure-u-1:nth-of-type(2) {
    margin-left: 3%; }

/*SLUT styling av show more options i search for certificates (Arabiska)*/
#menu {
  height: 55px;
  min-height: 55px;
  font-weight: bold;
  background: #fff;
  z-index: 1; }

#menu > .pure-g > .pure-u-1:nth-of-type(2) > .pure-menu > .pure-menu-list {
  /*Gör att huvudmenyns dropdown-menyval får marginaler*/ }
  #menu > .pure-g > .pure-u-1:nth-of-type(2) > .pure-menu > .pure-menu-list > .pure-menu-item:nth-of-type(1) > .pure-menu-children > .pure-menu-item:nth-of-type(1) > a,
  #menu > .pure-g > .pure-u-1:nth-of-type(2) > .pure-menu > .pure-menu-list .pure-menu-item:nth-of-type(2) > .pure-menu-children > .pure-menu-item:nth-of-type(1) > a {
    padding-top: 12%;
    padding-bottom: 0;
    width: 100px; }
  #menu > .pure-g > .pure-u-1:nth-of-type(2) > .pure-menu > .pure-menu-list > .pure-menu-item:nth-of-type(1) > .pure-menu-children > .pure-menu-item:nth-of-type(2) > a,
  #menu > .pure-g > .pure-u-1:nth-of-type(2) > .pure-menu > .pure-menu-list .pure-menu-item:nth-of-type(2) > .pure-menu-children > .pure-menu-item:nth-of-type(2) > a {
    padding-top: 0; }

form#contentForm.pure-form > div.tabButtonBar > input {
  -webkit-appearance: none;
  border-radius: 0; }
  form#contentForm.pure-form > div.tabButtonBar > input:disabled {
    -webkit-opacity: 1;
    -webkit-text-fill-color: white;
    background: #e9af13; }
  form#contentForm.pure-form > div.tabButtonBar > input:not(:disabled) {
    background: #cea01a; }

h1, h2, h3, h4, p, span {
  font-family: Helvetica, Arial, sans-serif; }

#h3ApprovedSteps {
  margin-left: 1.5% !important; }

.h3Margin {
  margin: 2% 0 2% 0 !important; }

.content-body h3 {
  color: #fff;
  font-weight: lighter;
  width: 90%; }

.content-body h3 {
  margin: 2% 0 2% 1.5%; }

.pure-menu-heading {
  /*placering av header-logga*/
  float: left;
  padding: 15px 0 0 15px; }

.pure-u-1.pure-u-lg-1-8 {
  /*topbar del 1*/
  width: 20%; }

.pure-u-md-1-2.pure-u-lg-13-24 {
  /*topbar del 2*/
  width: 60%; }

#menu > .pure-g > .pure-u-lg-1-3 {
  /*topbar del 3*/
  width: 20%; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  font-size: .75em; }

img.menu_logo {
  height: 1.5em;
  z-index: 9999; }

.content {
  width: 95%;
  margin: 10px auto 20px auto;
  background: #637b98;
  flex: 1; }

#title h1 {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 1%; }

.header {
  /* Vy-titlar med gul border*/
  width: 100%;
  padding: 0em 0em 0;
  border-bottom: 3px solid #fcba00;
  text-align: left; }

.content-body h2 {
  color: #fff;
  margin: 0.2em 0 0 2%;
  font-weight: 600; }

.content-body {
  /*placerar brödtext*/
  padding: 1em 0 1em; }

.internal-frame {
  /*ramen kring elementen i content*/
  border-radius: 2px;
  background: #4f6177;
  margin: 1% 0 4% 0; }

.internal-frame-black {
  background: #000;
  border-radius: 2px;
  margin: 1% 0 4% 0; }
  .internal-frame-black > .keygeneration-button-group:nth-of-type(1) {
    padding: 3% 2% 0 2%; }
  .internal-frame-black > .keygeneration-button-group:nth-of-type(3) {
    padding: 0px 0px 2% 0; }

#detailsForm {
  background: #4f6177;
  border-radius: 2px; }

#detailsForm\:j_idt88\:j_idt161 {
  background: #e9af13;
  color: #fff;
  width: 24%;
  display: block;
  margin: 2% auto 0 auto; }

#detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-1-3 {
  margin-top: 2%;
  width: 100%; }
#detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 {
  display: block;
  margin: 3% 0 0 2%;
  width: 98%; }
  #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(1) {
    /* DETAILSKNAPPAR */
    width: 28%;
    height: 40px; }
  #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(2) {
    width: 37%;
    height: 40px; }
  #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(3) {
    width: 28%;
    height: 40px; }

.finger-print {
  /* är tänkt för blå länkar i certficate details-vyn*/
  font-size: 100%; }

.pure-control-group {
  margin: 2% 0 2% 0; }

.pure-u-1 label,
#contentForm\:viewRequestDataTable > label,
.pure-control-group > label, .internal-frame label,
#content-body,
#contentForm\:editRequestDataTable label,
#contentForm\:currentStep > div label,
span .approvalStep,
#contentForm\:filteredResults,
.bodyText {
  color: #fff; }

#contentForm\:currentStep div > label {
  display: block;
  width: 100%; }
#contentForm\:currentStep div > textarea {
  width: 98%; }
#contentForm\:currentStep div > div > table > tbody > tr > td > label {
  display: inline; }
#contentForm\:currentStep div > div > span {
  margin: 0.5em 0 0.2em; }
#contentForm\:currentStep .internal-frame {
  padding: 1% 0 1% 2%; }

#contentForm\:editRequestDataTable {
  word-break: break-all; }
  #contentForm\:editRequestDataTable label {
    display: block; }
  #contentForm\:editRequestDataTable input:not([type="submit"]) {
    width: 100%; }
  #contentForm\:editRequestDataTable span {
    word-break: break-all; }

#manageRequestForm\:editRequestDataTable {
  word-break: break-all; }
  #manageRequestForm\:editRequestDataTable label {
    display: block; }
  #manageRequestForm\:editRequestDataTable input:not([type="submit"]) {
    width: 100%; }
  #manageRequestForm\:editRequestDataTable span {
    word-break: break-all; }

.pure-form select {
  font-size: 90%;
  min-width: 15%;
  width: 100%; }

@-moz-document url-prefix() {
  /*För Firefox*/
  .pure-form select {
    height: 100%; } }
.internal-frame > fieldset > .pure-control-group > input {
  font-size: 90%;
  width: 98%; }
.internal-frame > fieldset > .pure-control-group > label {
  text-align: left; }

#requestInfoForm\:requestInfoRendered > .internal-frame > .internal-frame > .pure-control-group > input {
  font-size: 90%;
  width: 100%; }
#requestInfoForm\:requestInfoRendered > .internal-frame > .internal-frame > .pure-control-group > label {
  text-align: left; }

#requestInfoForm\:selectKeyAlgorithmOuterPanel > .internal-frame > .pure-control-group > label {
  text-align: left; }

.language_button, .language_button:hover {
  background: #517397;
  color: #fff; }

.language_button:hover {
  background: #517397;
  color: #d0a644; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item {
  background: #517397; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a {
    background: #517397;
    color: #fff; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*hover-textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a:hover {
    color: #d0a644; }

.enroll-menu-link-hover {
  background: #fff; }

ul.pure-menu-children {
  text-align: left; }

label.showNonModifiable {
  margin-left: 2%; }

.navigation-button-group {
  margin: 2% 0 0 0; }

.pure-button {
  font-size: 68%;
  font-weight: bold;
  padding: 1.3% 2.5% 1% 2.5%;
  height: 40px; }

.navigation-button-group > #enrollMakeNewRequestForm\:resetButton {
  float: left;
  margin: 0 0 0 2%; }

#requestInfoForm\:resetButton {
  width: 89px;
  height: 40px;
  float: left; }

#contentForm\:commandEditData {
  height: 40px;
  margin: 5% 0 5% 0; }

table.pure-table > thead > tr > th {
  color: #444d57;
  padding: 10px; }
table.pure-table > tbody > tr:not(.pure-table-odd) td {
  background-color: #f2f2f2;
  font-size: 88%; }
table.pure-table > tbody > tr.pure-table-odd td {
  background-color: #e0e0e0;
  font-size: 88%; }
table.pure-table > tbody > tr {
  color: #444d57; }
table.pure-table > tbody a {
  color: #e9af13;
  text-decoration: none; }
  table.pure-table > tbody a:hover {
    text-decoration: underline; }

#requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset {
  margin-top: 1%; }
  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > label {
    margin-left: 2%;
    width: 100%;
    display: block; }
  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > span {
    margin-left: 2%;
    display: block; }

textarea#keyPairForm\:certificateRequest {
  width: 98%;
  margin: 0 auto 2% auto;
  display: block; }

#newFileInput {
  margin-left: 5%;
  color: #fff;
  width: 95%; }

.tabButton.active {
  background: #e9af13; }

.tabButton {
  background: #cea01a;
  color: #fff; }

.tabButtonBar {
  border-bottom: 0.3ex solid #e9af13;
  width: 100%; }
  .tabButtonBar > a {
    font-size: 78%; }

/*drop downs i search*/
#contentForm\:parentGenericSearchString {
  width: 83%;
  margin: 0 0 1% 0; }

#contentForm\:parentGenericSearchButton {
  width: 17%; }
  #contentForm\:parentGenericSearchButton > input.pure-button {
    background: #ededed;
    color: #000; }

#contentForm\:parentCriteriaEepId,
#contentForm\:parentCriteriaCpId,
#contentForm\:parentCriteriaCaId,
#contentForm\:parentCriteriaStatus {
  margin: 1% 1% 2% 0; }

/*NY search for certificates >  show more-knapp */
#detailsForm\:certDetails\:showMoreLessDetailsButton {
  background: #e9af13;
  color: #fff;
  width: 150px;
  display: block;
  margin: 2% 0 0 0; }

#detailsForm\:certDetails\:showMoreCertificateDetails {
  width: 90%;
  margin: 0 0 5% 3%; }
  #detailsForm\:certDetails\:showMoreCertificateDetails > label {
    display: block;
    margin-left: 2.5%; }
  #detailsForm\:certDetails\:showMoreCertificateDetails > span {
    margin-left: 2.5%; }

#detailsForm > span.pure-u-1:nth-of-type(2) {
  width: 97%;
  margin-bottom: 2%;
  word-break: break-word; }
  #detailsForm > span.pure-u-1:nth-of-type(2) > label {
    width: 95%;
    margin-left: 2.5% !important;
    display: block; }
  #detailsForm > span.pure-u-1:nth-of-type(2) > span {
    margin-left: 2.5%; }

@-moz-document url-prefix() {
  /*För Firefox*/
  #detailsForm > span.pure-u-1:nth-of-type(2) {
    word-break: break-all; } }
select#detailsForm\:certDetails\:newRevocationReason ~ input {
  margin: 0 0 0 2%;
  width: 80px; }

#contentForm > #contentForm:more > span.pure-g > div:nth-of-type(1).pure-u-1 {
  width: 16%; }

.row-odd {
  background: none; }

#enrollWithRequestIdForm\:checkButton {
  padding: 1% 2.5% 1% 2.5%;
  font-size: 75%;
  width: 90px; }

#makeRequestButton, #requestStatusButton, #searchCertsButton {
  padding-top: 12.5px;
  width: 150px; }

@-moz-document url-prefix() {
  #makeRequestButton, #requestStatusButton, #searchCertsButton {
    padding-top: 15px !important; } }
#manageRequestForm\:commandSaveData,
#manageRequestForm\:commandReject,
#manageRequestForm\:commandApprove,
#enrollWithRequestIdForm\:generateKeyStorePem,
#enrollWithRequestIdForm\:generatePkcs12,
#enrollWithRequestIdForm\:generateJks,
#requestInfoForm\:confirmRequestButton,
#searchCertsButton,
#requestStatusButton,
#makeRequestButton,
#requestInfoForm\:generateDer,
#requestInfoForm\:generatePkcs7,
#requestInfoForm\:generatePem,
#requestInfoForm\:generatePemFullChain,
#enrollWithRequestIdForm\:checkButton,
#enrollMakeNewRequestForm\:generateJks,
#enrollMakeNewRequestForm\:generateP12,
#enrollMakeNewRequestForm\:updateRequestPreview,
#requestInfoForm\:generateKeyStorePem,
#requestInfoForm\:generateP12,
#requestInfoForm\:generateJks {
  background: #e9af13;
  color: #fff; }

#manageRequestForm\:commandSaveData:hover,
#manageRequestForm\:commandSaveData:focus,
#manageRequestForm\:commandReject:hover,
#manageRequestForm\:commandReject:focus,
#manageRequestForm\:commandApprove:hover,
#manageRequestForm\:commandApprove:focus,
#requestInfoForm\:generateKeyStorePem:hover,
#requestInfoForm\:generateKeyStorePem:focus,
#enrollWithRequestIdForm\:generateKeyStorePem:hover,
#enrollWithRequestIdForm\:generateKeyStorePem:focus,
#enrollWithRequestIdForm\:generatePkcs12:hover,
#enrollWithRequestIdForm\:generatePkcs12:focus,
#enrollWithRequestIdForm\:generateJks:hover,
#enrollWithRequestIdForm\:generateJks:focus,
#detailsForm\:certDetails\:showMoreLessDetailsButton:hover,
#detailsForm\:certDetails\:showMoreLessDetailsButton:focus,
#searchCertsButton:hover,
#searchCertsButton:focus,
#requestStatusButton:hover,
#requestStatusButton:focus,
#makeRequestButton:hover,
#makeRequestButton:focus,
#requestInfoForm\:generateDer:hover,
#requestInfoForm\:generateDer:focus,
#requestInfoForm\:generatePkcs7:hover,
#requestInfoForm\:generatePkcs7:focus,
#requestInfoForm\:generatePemFullChain:hover,
#requestInfoForm\:generatePemFullChain:focus,
#requestInfoForm\:generatePem:hover,
#requestInfoForm\:generatePem:focus,
#enrollWithRequestIdForm\:checkButton:hover,
#enrollWithRequestIdForm\:checkButton:focus,
#requestInfoForm\:confirmRequestButton:hover,
#requestInfoForm\:confirmRequestButton:focus,
.detailsForm\:j_idt87\:showMoreLessDetailsButton:hover,
.detailsForm\:j_idt87\:showMoreLessDetailsButton:focus,
#enrollMakeNewRequestForm\:generateJks:hover,
#enrollMakeNewRequestForm\:generateJks:focus,
#enrollMakeNewRequestForm\:generateP12:hover,
#enrollMakeNewRequestForm\:generateP12:focus,
#enrollMakeNewRequestForm\:updateRequestPreview:hover,
#enrollMakeNewRequestForm\:updateRequestPreview:focus,
#contentForm\:showMoreButton:hover,
#contentForm\:showMoreButton:focus,
#contentForm\:showLessButton:hover,
#contentForm\:showLessButton:focus,
#requestInfoForm\:generateP12:hover,
#requestInfoForm\:generateP12:focus,
#requestInfoForm\:generateJks:hover,
#requestInfoForm\:generateJks:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

#requestInfoForm\:confirmRequestButton {
  width: 140px;
  height: 40px; }

#requestInfoForm\:generateKeyStorePem,
#requestInfoForm\:generateP12,
#requestInfoForm\:generateJks {
  width: 31%; }

.keygeneration-button-group {
  color: #fff;
  margin: 2% 0 0 0; }

.keygeneration-button-group > a {
  margin: 2% 0 0 0; }

a {
  color: #e9af13;
  text-decoration: none; }

#contentForm > #contentForm\:more > span.pure-g > div.pure-u-1 > div.pure-control-group > label {
  text-align: left; }

#contentForm > #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(1) {
  width: 100%; }

.contentForm\:criteriaMaxResults, #contentForm\:criteriaMaxResults {
  width: 100%; }

#contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) {
  width: 100%; }
  #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) > .pure-control-group > #contentForm\:modifiedBefore,
  #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) > .pure-control-group #contentForm\:modifiedAfter {
    width: 100%; }

/* resterande text för inputs samt inputs i show more options i search for certificates */
#contentForm\:issuedAfterLabel,
#contentForm\:issuedBeforeLabel,
#contentForm\:expiresAfterLabel,
#contentForm\:expiresBeforeLabel,
#contentForm\:revokedAfterLabel,
#contentForm\:revokedBeforeLabel {
  text-align: left; }

/*SLUT resterande inputs för max-result-texten*/
/*.contentForm\:filteredResults,*/
#contentForm\:filteredResults > table.pure-table > thead {
  line-height: 110%; }

/*.contentForm\:filteredResults,*/
#contentForm\:filteredResults > table.pure-table:not(#contentForm\:manageRequestTable) > tbody > tr {
  line-height: 79%;
  word-break: break-all; }
  #contentForm\:filteredResults > table.pure-table:not(#contentForm\:manageRequestTable) > tbody > tr > td > input {
    color: #e9af13; }

.radio-button-table {
  margin-left: 1em; }

#contentForm\:showMoreButton,
#contentForm\:showLessButton {
  background: #e9af13;
  color: #fff;
  width: 150px;
  margin: 3% 0 0 0; }

/*SLUT: knappar kod som förmodligen inte beövs*/
#enrollMakeNewRequestForm\:requestPreview > fieldset > .pure-u-lg-2-3 {
  color: #fff; }

.bigStatus, .smallStatus, .editLogEntry {
  margin: 1% 0 0 1%;
  color: #fff;
  font-style: italic; }

.statusFailed {
  color: #ed6a5f; }

.viewMoreLink {
  /*view-knappen i search for certificates*/
  color: #e9af13;
  background: none;
  font-weight: bold;
  font-size: 76%;
  white-space: nowrap; }
  .viewMoreLink:hover {
    text-decoration: underline; }

#detailsForm\:certDetails\:downloadFormatLinks {
  display: block; }
  #detailsForm\:certDetails\:downloadFormatLinks > a:hover {
    text-decoration: underline; }

#contentForm\:viewRequestPartitionTable > table,
#contentForm\:approvalButtonsPanel {
  margin: 1% 0 0 0; }

#cofirmRequestData {
  padding: 1% 0 0 2%; }

#keyPairForm\:uploadCsrButton {
  margin: 0 0 1% 1.5%;
  padding: 1% 2.5% 1% 2.5%;
  height: 40px;
  width: 110px; }

#expandRequestDetails,
#expandStatusDetails,
#expandSearchDetails {
  color: #fff; }

/*gör att långa rader i tabeller bryts, ska högst troligt tas bort*/
/*SLUT gör att långa rader i tabeller bryts*/
label[for="requestTemplateForm:selectKeyPairGenerationOneMenu"] {
  float: left; }

/*Kod för att lägga radioknappar, som ligger inom första ramen i make request, under varandra */
#requestTemplateForm\:selectKeyPairGeneration {
  margin: 0;
  padding: 0; }
  #requestTemplateForm\:selectKeyPairGeneration > tbody > tr {
    background: none; }
    #requestTemplateForm\:selectKeyPairGeneration > tbody > tr > td {
      padding: 0;
      display: block; }
      #requestTemplateForm\:selectKeyPairGeneration > tbody > tr > td > input {
        width: auto; }
      #requestTemplateForm\:selectKeyPairGeneration > tbody > tr > td > label {
        display: inline-block;
        text-align: left;
        margin-left: .5em;
        width: auto; }

/* SLUT Kod för att lägga radioknappar, som ligger inom första ramen i make request, under varandra */
#contentForm\:viewRequestDataTable, #manageRequestForm\:viewRequestDataTable {
  padding: 1% 0 1% 2%;
  word-break: break-word; }
  #contentForm\:viewRequestDataTable > span, #manageRequestForm\:viewRequestDataTable > span {
    display: block;
    max-width: 98%; }

#manageRequestForm\:currentStep > .internal-frame > div > label {
  margin-left: 1.5%; }
#manageRequestForm\:currentStep > .internal-frame > div > div > label {
  margin-left: 1.5%; }
#manageRequestForm\:currentStep > .internal-frame > div > div > table > tbody > tr > td > label {
  display: inline; }
#manageRequestForm\:currentStep > .internal-frame > div span, #manageRequestForm\:currentStep > .internal-frame input[type="checkbox"] {
  margin-left: 1.5%;
  display: block; }

/* Styling av felmeddelanden som dyker upp när man inte fyllt i lösenord i make request*/
#requestInfoForm\:passwordFieldMessage, #requestInfoForm\:passwordConfirmFieldMessage {
  display: none;
  margin: 1% 0 2% 0;
  color: #fff;
  border-style: solid;
  background: black;
  border-color: black;
  padding: 1%;
  width: 95%;
  word-break: break-word; }

@-moz-document url-prefix() {
  /*För Firefox*/
  #contentForm\:viewRequestDataTable {
    word-break: break-all; }

  #requestInfoForm\:passwordFieldMessage, #requestInfoForm\:passwordConfirmFieldMessage {
    word-break: break-all; } }
.subjectErrorMessage {
  display: none;
  margin: 1% 0px 2%;
  color: white;
  border-style: solid;
  background: black none repeat scroll 0% 0%;
  border-color: black;
  padding: 1%;
  width: 95%;
  word-break: break-all;
  float: none; }

#requestTemplateForm\:selectEEPOneMenuMessage,
#requestTemplateForm\:selectCAOneMenuMessage,
#requestTemplateForm\:selectKeyPairGenerationMessage,
#requestTemplateForm\:selectCPOneMenuMessage {
  display: none;
  margin: 1% 0 2% 0;
  color: #fff;
  border-style: solid;
  background: black;
  border-color: black;
  padding: 1%;
  width: 95%;
  word-break: break-word; }

#requestInfoForm\:useRequestIdLink:hover {
  text-decoration: underline; }

.tabBbutton > input {
  border-radius: 0; }

#keyPairForm\:certificateRequestMessage {
  display: none;
  margin: 0% 0 0% 1.5%;
  color: #fff;
  border-style: solid;
  background: black;
  border-color: black;
  padding: 1%; }

.showErrorMessage {
  display: block !important; }

.errorMessage {
  border-style: solid;
  background: #000;
  color: #fff;
  border-color: #000;
  padding: 1%;
  list-style: none;
  margin: 41px 0 0 0;
  width: auto;
  position: fixed; }

.warnMessage {
  position: fixed;
  background: black none repeat scroll 0% 0%;
  color: white;
  border-style: solid;
  border-color: black;
  list-style: outside none none;
  padding: 12px;
  margin-top: 50px; }

.infoMessage {
  border-style: solid;
  background: #000;
  color: #fff;
  border-color: #000;
  padding: 1%;
  list-style: none;
  margin: 41px 0 0 0;
  width: 88%;
  position: fixed; }

#contentForm > #contentForm\:more {
  width: 100%; }

#contentForm\:issuedAfter,
#contentForm\:issuedBefore,
#contentForm\:expiresAfter,
#contentForm\:expiresBefore,
#contentForm\:revokedAfter,
#contentForm\:revokedBefore {
  width: 100%;
  font-size: 90%; }

#contentForm\:modifiedAfter,
#contentForm\:modifiedBefore {
  width: 100%;
  font-size: 95%; }

#enrollWithRequestIdForm\:requestId,
#contentForm\:endEntititesMoreInputs {
  width: 100%; }

.h2ManageRequst {
  padding: 2% 0 0 0; }

.approvalControl > label {
  float: none; }
.approvalControl > textarea {
  margin-bottom: 5%; }
.approvalControl span {
  padding-top: 1%; }

span.approvalStep {
  margin-left: 1.5%; }

.approvalStep > div {
  padding-left: 1.5%; }
  .approvalStep > div > .approvalControl > span {
    display: block; }
  .approvalStep > div > .approvalControl {
    margin-bottom: 0; }

#contentForm\:commandApprove,
#contentForm\:commandReject,
#contentForm\:commandEditData,
#contentForm\:commandSaveData,
#contentForm\:commandCancelEdit {
  width: 80px; }

#contentForm\:requestApproveMessage {
  margin: 1% 0 0 2%; }

#manageRequestForm\:requestApproveMessage {
  margin: 1% 0 0 2%; }

.searchButton {
  width: 50px;
  padding-top: 7%;
  padding-bottom: 6%;
  margin-left: 5%; }

.footer {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .footer > .align-center > p {
    margin: 0 auto 5.5% auto;
    display: inline-block;
    font-size: 90%; }

.footerLogo {
  height: 1.5em;
  display: inline-block; }

/*CSS för scroll to top-funktion*/
#web-express-scroll-to-top {
  background: #fcba00;
  bottom: 130px;
  display: none;
  position: fixed;
  right: 20px;
  width: 31px;
  height: 31px; }
  #web-express-scroll-to-top > span {
    top: 14.375px;
    position: absolute;
    display: block;
    background: #637b98;
    width: 11px;
    height: 3px; }
    #web-express-scroll-to-top > span:first-child {
      transform: rotate(45deg);
      left: 12.5px; }
    #web-express-scroll-to-top > span:last-child {
      transform: rotate(-45deg);
      left: 7.25px; }

/*SLUT CSS för scroll to top-funktion*/
#enrollWithRequestIdForm\:requestIdButtons {
  text-align: center;
  margin: 3% 0 0 0; }

#detailsForm\:certDetails\:newRevocationReason {
  width: 160px;
  display: block;
  margin: 1% 0 1% 2%; }

#detailsForm\:certDetails\:username {
  word-break: break-word; }

#detailsForm\:certDetails\:showMoreCertificateDetails > span {
  display: inline-block;
  width: 95%; }
  @media (max-width: 47.99em) {
    #detailsForm\:certDetails\:showMoreCertificateDetails > span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; } }

/* "smartphone tables" */
@media (max-width: 47.99em) {
  div.content-body table#caCertificateTable.pure-table, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table {
    display: block;
    border: none; }
    div.content-body table#caCertificateTable.pure-table > thead, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > thead {
      display: none; }
    div.content-body table#caCertificateTable.pure-table > tbody > tr, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr {
      display: block;
      margin-bottom: 1em;
      font-size: 81%; }
      div.content-body table#caCertificateTable.pure-table > tbody > tr td:nth-child(even), div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr td:nth-child(even) {
        background: #e0e0e0; }
      div.content-body table#caCertificateTable.pure-table > tbody > tr td:nth-child(odd), div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr td:nth-child(odd) {
        background: #f2f2f2; }
      div.content-body table#caCertificateTable.pure-table > tbody > tr > td, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td {
        display: block;
        word-break: break-all;
        line-height: 1.6em; }
        div.content-body table#caCertificateTable.pure-table > tbody > tr > td > table.nopadding.noborder, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td > table.nopadding.noborder {
          display: inline-block;
          width: 54%;
          word-break: break-all; }
          div.content-body table#caCertificateTable.pure-table > tbody > tr > td > table.nopadding.noborder a, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td > table.nopadding.noborder a {
            white-space: nowrap; }
        div.content-body table#caCertificateTable.pure-table > tbody > tr > td > table > tbody > tr, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td > table > tbody > tr {
          background: none; }
          div.content-body table#caCertificateTable.pure-table > tbody > tr > td > table > tbody > tr td:nth-child(even), div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td > table > tbody > tr td:nth-child(even) {
            background: none; }
          div.content-body table#caCertificateTable.pure-table > tbody > tr > td > table > tbody > tr td:nth-child(odd), div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td > table > tbody > tr td:nth-child(odd) {
            background: none; }
        div.content-body table#caCertificateTable.pure-table > tbody > tr > td:before, div.content-body div:not(#contentForm\:viewRequestDataTable) table.pure-table > tbody > tr > td:before {
          display: inline-block;
          vertical-align: top;
          width: 40%;
          padding-right: 1em;
          font-weight: bold;
          color: #444d57; }
  div.content-body #contentForm\:searchCertTable > tbody {
    display: block; }
    div.content-body #contentForm\:searchCertTable > tbody > tr > td {
      /*&:nth-of-type(2) > span { //Behövs förmodligen inte då denna cell verkar klara sig utan denna kod (11/8-16)
          //display: inline-block;
          //width: 55.5%;
          //word-break: break-all;
          //float:right;
      }*/ }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(8) > span {
        display: inline-block;
        width: 54%;
        word-break: break-all; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td > input {
        padding: 0 0 0 0;
        height: auto; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(1):before {
        content: "CA"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(2):before {
        content: "Profile"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(3):before {
        content: "Serial number"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(4):before {
        content: "Subject"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(5):before {
        content: "Issued"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(6):before {
        content: "Expires"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(7):before {
        content: "Status"; }
      div.content-body #contentForm\:searchCertTable > tbody > tr > td:nth-of-type(8):before {
        content: "End entity"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(3) > span {
    display: inline-block;
    width: 54%;
    word-break: break-all; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(4) > span {
    display: inline-block;
    width: 54%;
    word-break: break-all; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td > input {
    padding: 0 0 0 0;
    height: auto; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(1):before {
    content: "CA"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(2):before {
    content: "Profile"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(3):before {
    content: "End Entity"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(4):before {
    content: "Subject"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(5):before {
    content: "Last modified"; }
  div.content-body #contentForm\:searchEntityTable > tbody > tr > td:nth-of-type(6):before {
    content: "Status"; }
  div.content-body #caCertificateTable > tbody {
    display: block; }
    div.content-body #caCertificateTable > tbody > tr > td:nth-of-type(1):before {
      content: "Certificate Authority"; }
    div.content-body #caCertificateTable > tbody > tr > td:nth-of-type(2):before {
      content: "Certificate"; }
    div.content-body #caCertificateTable > tbody > tr > td:nth-of-type(3):before {
      content: "Certificate chain¹"; }
    div.content-body #caCertificateTable > tbody > tr > td:nth-of-type(4):before {
      content: "Browser import"; }
  div.content-body #contentForm\:manageRequestTable > tbody {
    display: block; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(1):before {
      content: "ID"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(1):before {
      content: "Request Date"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(2):before {
      content: "CA"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(3):before {
      content: "Type"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(4):before {
      content: "Name"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(5):before {
      content: "Requested By"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td:nth-of-type(6):before {
      content: "Request Status"; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td > span {
      word-break: normal; }
    div.content-body #contentForm\:manageRequestTable > tbody > tr > td > a {
      padding: 0 0 0 0;
      height: auto;
      font-size: 85%; } }
table#contentForm\:searchCertTable > tbody > tr > td > input {
  background: none;
  font-size: 85%; }
  table#contentForm\:searchCertTable > tbody > tr > td > input:hover {
    text-decoration: underline; }

@media (max-width: 64.0525em) {
  img.menu_logo {
    position: absolute; }

  div#div_menu_logo {
    z-index: 1; }

  div#menu.ejbca-menu {
    position: fixed;
    width: 100%; }
    div#menu.ejbca-menu ul.pure-menu-list {
      background: #435d7a;
      letter-spacing: 1px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; }
      div#menu.ejbca-menu ul.pure-menu-list li.pure-menu-item {
        background: #435d7a;
        display: block; }
        div#menu.ejbca-menu ul.pure-menu-list li.pure-menu-item a, div#menu.ejbca-menu ul.pure-menu-list li.pure-menu-item input.language_button {
          color: white;
          font-weight: 400;
          padding: 0.625em 2em; }
        div#menu.ejbca-menu ul.pure-menu-list li.pure-menu-item input.language_button {
          background: #435d7a; }
      div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-item:last-child a {
        padding-bottom: 2em; }
      div#menu.ejbca-menu ul.pure-menu-list ul.pure-menu-children li.pure-menu-item:hover {
        background: #336699; }
        div#menu.ejbca-menu ul.pure-menu-list ul.pure-menu-children li.pure-menu-item:hover input.language_button {
          background: #336699; }
      div#menu.ejbca-menu ul.pure-menu-list a.pure-menu-link:hover {
        color: #fcba00; }
      div#menu.ejbca-menu ul.pure-menu-list li#menu-title.web-express.tablet {
        padding: 1.25em 1.5em 0.125em 1.5em; }
        div#menu.ejbca-menu ul.pure-menu-list li#menu-title.web-express.tablet > span {
          color: white;
          display: block;
          font-size: 1.375em;
          font-weight: 400;
          padding: 0.125em; }
      div#menu.ejbca-menu ul.pure-menu-list hr.web-express.tablet {
        background: #fcba00;
        border: none;
        height: 3px;
        margin-left: 1.25em;
        position: static;
        width: 88%; }
      div#menu.ejbca-menu ul.pure-menu-list input#we-menu-open-close.web-express.tablet:checked ~ li#menu-head-is-closed, div#menu.ejbca-menu ul.pure-menu-list input#we-menu-open-close.web-express.tablet:not(:checked) ~ li#menu-head-is-open, div#menu.ejbca-menu ul.pure-menu-list input#we-menu-open-close.web-express.tablet:not(:checked) ~ li.pure-menu-item {
        display: none; }
      div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet,
      div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet {
        background: white;
        display: block;
        height: 55px; }
        div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet > label,
        div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label {
          cursor: pointer;
          position: absolute;
          z-index: 1; }
          div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet > label > span,
          div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label > span {
            background: #637b98;
            display: block;
            height: 3px; }
      div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet > label {
        top: 16px;
        right: 16px;
        width: 30px;
        height: 23px; }
        div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet > label > span {
          width: 100%; }
          div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-closed.web-express.tablet > label > span:not(:last-child) {
            margin-bottom: 7px; }
      div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label {
        top: 26.25px;
        right: 13.75px;
        width: 35px;
        height: 35px; }
        div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label > span {
          position: absolute;
          width: 100%; }
          div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label > span:first-child {
            transform: rotate(45deg); }
          div#menu.ejbca-menu ul.pure-menu-list > li#menu-head-is-open.web-express.tablet > label > span:last-child {
            transform: rotate(-45deg); }
      div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-has-children > label.web-express.tablet {
        cursor: pointer;
        display: inline-block;
        height: 1.875em;
        position: absolute;
        width: 100%;
        z-index: 1; }
        div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-has-children > label.web-express.tablet:hover ~ a.pure-menu-link {
          background: #336699;
          color: #fcba00; }
      div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-has-children ul.pure-menu-children li.pure-menu-item {
        padding-left: 1em; }
      div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-has-children ul.pure-menu-children li.pure-menu-item > a {
        background: #435d7a; }
        div#menu.ejbca-menu ul.pure-menu-list > li.pure-menu-has-children ul.pure-menu-children li.pure-menu-item > a:hover {
          background: #336699; }
      div#menu.ejbca-menu ul.pure-menu-list a.pure-menu-link ~ ul.pure-menu-children {
        display: none;
        position: relative; }
      div#menu.ejbca-menu ul.pure-menu-list input[type="checkbox"].web-express.tablet:checked ~ ul.pure-menu-children {
        display: block; }
      div#menu.ejbca-menu ul.pure-menu-list input[type="checkbox"].web-express.tablet:checked ~ hr {
        display: inline-block; }
      div#menu.ejbca-menu ul.pure-menu-list input[type="checkbox"].web-express.tablet:checked ~ a {
        color: #fcba00; }

  div#content.content {
    margin-top: 65.3125px; } }
.green {
  color: green !important; }

/*
@media (max-width: $min-width-desktop - $breakpoint-diff) {
    @import "smartphone_tablet_menu";
}
*/
@media (min-width: 48em) {
  #detailsForm > span.pure-u-1:nth-of-type(2) {
    width: 90%;
    margin: 0; }
    #detailsForm > span.pure-u-1:nth-of-type(2) > label {
      width: 30.8%; }

  #title h1 {
    font-size: 30px;
    margin-top: 4%; }

  .header {
    /* Vy-titlar med gul border*/
    width: 60%;
    padding: 0em 1em 0; }

  #contentForm\:filteredResults > table.pure-table:not(#contentForm\:manageRequestTable) table.pure-table {
    line-height: normal; }
    #contentForm\:filteredResults > table.pure-table:not(#contentForm\:manageRequestTable) table.pure-table > tbody td {
      word-break: break-word;
      max-width: 180px; }

  @-moz-document url-prefix() {
    /*För Firefox*/
    table.pure-table:not(#contentForm\:manageRequestTable) .pure-table {
      line-height: normal; }
      table.pure-table:not(#contentForm\:manageRequestTable) .pure-table > tbody td {
        word-break: break-all;
        max-width: 180px; } }
  div#menu.ejbca-menu ul.pure-menu-list {
    width: 346px; }

  #contentForm\:more > .pure-g > .pure-u-1:nth-of-type(3) {
    margin: 0 0 0 0; }
  #contentForm\:more > .pure-g > .pure-u-1:nth-of-type(4) {
    margin: 0 0 0 0; }

  #contentForm\:showMoreButton,
  #contentForm\:showLessButton {
    /*showelss-knapp search for certificates*/
    margin: 0 0 0 0; }

  #contentForm > #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(1) {
    /* första wrappern för boxen för "max results"-texten i search for certificates */
    width: 125px; }

  .pure-form select {
    width: auto; }

  .pure-form select {
    width: auto; }

  #requestInfoForm\:confirmRequestButton {
    /*confirm request-knappen*/
    width: auto; }

  #keyPairForm\:uploadCsrButton,
  #requestInfoForm\:generateKeyStorePem,
  #requestInfoForm\:generateP12,
  #requestInfoForm\:generateJks {
    width: auto; }

  .infoMessage {
    color: #fff;
    position: fixed;
    margin: 8% 0 0 0; }

  #requestInfoForm\:passwordFieldMessage, #requestInfoForm\:passwordConfirmFieldMessage {
    margin: 1% 0 2% 19%;
    width: auto; }

  .errorMessage, .infoMessage {
    /* gör att 'generella' felmeddelanden visas var man än står på sidan */
    margin: 5% 0 0 0; }

  #enrollWithRequestIdForm\:requestId, #contentForm\:commandEditData {
    width: auto; }

  #contentForm\:commandApprove, #contentForm\:commandReject {
    width: 97px; }

  #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 {
    /*DETAILSKNAPPAR*/
    width: 66.6667%;
    margin: 1% 0 0 2%; }
    #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(1) {
      width: auto; }
    #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(2) {
      width: auto; }
    #detailsForm > span.pure-u-1:nth-of-type(1) > .pure-u-2-3 > input:nth-of-type(3) {
      width: auto; }

  .internal-frame > fieldset > .pure-control-group input {
    width: auto; }
  .internal-frame > fieldset > .pure-control-group label {
    text-align: right; }

  #requestInfoForm\:requestInfoRendered > .internal-frame > .internal-frame > .pure-control-group > input {
    width: auto; }
  #requestInfoForm\:requestInfoRendered > .internal-frame > .internal-frame > .pure-control-group label {
    text-align: right; }

  #requestInfoForm\:selectKeyAlgorithmOuterPanel > .internal-frame > .pure-control-group > label {
    text-align: right; }

  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > label {
    /*make a request > confirm request-fältet*/
    width: 31%; }

  .tabButtonBar {
    width: 73%; }
    .tabButtonBar > a {
      font-size: 100%; }

  table.pure-table > tbody > tr:not(.pure-table-odd) td {
    font-size: 81%; }
  table.pure-table > tbody > tr.pure-table-odd td {
    font-size: 81%; }

  #contentForm\:manageRequestTable > tbody > a {
    padding-top: 16%; }

  #detailsForm\:certDetails\:newRevocationReason {
    display: inline-block;
    margin: 0; }

  .pure-button {
    font-size: 76%; }

  #contentForm\:commandEditData {
    margin: 1% 0 2% 0; }

  .subjectErrorMessage {
    float: right;
    width: 79%; }

  #makeRequestButton, #requestStatusButton, #searchCertsButton {
    width: 180px; }

  #caCertificateTable {
    width: 100%; }

  #contentForm\:viewRequestDataTable {
    word-break: break-all; }
    #contentForm\:viewRequestDataTable span {
      margin: 0.5em 0 0.2em; }

  #contentForm\:editRequestDataTable {
    word-break: break-all; }
    #contentForm\:editRequestDataTable label {
      display: block; }
    #contentForm\:editRequestDataTable input, #contentForm\:editRequestDataTable input:not([type="submit"]) {
      width: auto; }
    #contentForm\:editRequestDataTable span {
      margin: 0.5em 0 0.2em; }

  #manageRequestForm\:editRequestDataTable {
    word-break: break-all; }
    #manageRequestForm\:editRequestDataTable label {
      display: block; }
    #manageRequestForm\:editRequestDataTable input, #manageRequestForm\:editRequestDataTable input:not([type="submit"]) {
      width: auto; }
    #manageRequestForm\:editRequestDataTable span {
      margin: 0.5em 0 0.2em; }

  .approvalControl > textarea {
    margin-bottom: 1%; }
  .approvalControl > input {
    margin-bottom: 1%;
    margin: 0.5em 0 0.2em; }

  #contentForm\:currentStep div > textarea {
    width: auto; }

  .searchButton {
    width: 80px; }

  #requestTemplateForm\:selectEEPOneMenuMessage,
  #requestTemplateForm\:selectCAOneMenuMessage,
  #requestTemplateForm\:selectKeyPairGenerationMessage,
  #requestTemplateForm\:selectCPOneMenuMessage {
    float: right;
    width: 90%; }

  .footer > .align-center > p {
    /*footer-texten*/
    font-size: 100%; } }
@media (min-width: 64.0625em) {
  div#div_menu_logo {
    width: 13.5%; }

  #menu > div > div.pure-u-1.pure-u-md-1-2.pure-u-lg-13-24 {
    width: 39%; }

  .header {
    padding: 1.5em 1em 0;
    width: 45%; }

  #title h1 {
    font-size: 33px;
    margin-top: 0; }

  img.menu_logo {
    height: 2em; }

  .pure-menu-heading {
    float: right;
    padding: 12px 0 0 0; }

  .pure-menu-link {
    background: #fff;
    color: #35404e;
    font-size: 90%;
    height: 26px; }

  @-moz-document url-prefix() {
    /*för Firefox */
    .pure-menu-link {
      height: 25.5px; } }
  .cas-menu-link:hover, .cas-menu-link:focus,
  .enroll-menu-link:hover, .enroll-menu-link:focus,
  .pure-menu-link:hover, .pure-menu-link:focus,
  .requests-menu-link:hover, .requests-menu-link:focus,
  .search-menu-link:hover, .search-menu-link:focus {
    background: #fff; }

  ul.pure-menu-list {
    padding: 15px 0 0 0;
    text-align: center; }

  .pure-menu.pure-menu-horizontal {
    /*centrerar menyvalen*/
    text-align: center; }

  .content {
    background: #637b98;
    flex: 1;
    margin: 50px auto 30px auto;
    width: 60em; }

  ul.pure-menu-list > li.pure-menu-item:hover:before {
    /*hover-effekt för pil i dropdown*/
    content: "";
    display: block;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: absolute;
    bottom: 0px;
    left: 53%;
    color: white;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #517397;
    margin: 0px 0px 0px -12px; }

  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item:first-child a {
    padding-top: 1em; }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li.pure-menu-item input {
    padding: 1em 2.5em 1em 1em; }

  #contentForm\:showMoreButton,
  #contentForm\:showLessButton {
    width: 75%;
    height: 35px; }

  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > label, #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset span {
    display: inline-block; }
  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > span {
    margin-left: 0; }

  /*sökfältet i vyn 'search'*/
  #contentForm\:parentGenericSearchString {
    margin: 0; }

  #contentForm\:filteredResults > .pure-table > tbody > tr > td {
    max-width: initial; }

  .viewMoreLink {
    padding: 1.3% 2.5% 1% 2.5%;
    white-space: nowrap; }

  #contentForm\:more > .pure-g > .pure-u-1:nth-of-type(3) {
    margin: 0 0 0 3%; }
  #contentForm\:more > .pure-g > .pure-u-1:nth-of-type(4) {
    margin: 0 0 0 3%; }

  #contentForm > #contentForm\:more {
    margin-top: 20px;
    width: 83%; }

  #contentForm\:issuedAfter,
  #contentForm\:issuedBefore,
  #contentForm\:expiresAfter,
  #contentForm\:expiresBefore,
  #contentForm\:revokedAfter,
  #contentForm\:revokedBefore {
    width: 119%;
    font-size: 95%; }

  #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) {
    width: 24%; }
    #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) > .pure-control-group #contentForm\:modifiedAfter,
    #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(2) > .pure-control-group #contentForm\:modifiedBefore {
      width: 152%; }

  #contentForm\:endEntititesMoreInputs {
    width: 20% !important; }

  #detailsForm > span.pure-u-1:nth-of-type(2) > label {
    display: inline-block; }
  #detailsForm > span.pure-u-1:nth-of-type(2) > span {
    margin-left: 0; }

  #detailsForm\:certDetails\:downloadFormatLinks {
    display: inline-block; }

  #detailsForm\:certDetails\:showMoreCertificateDetails > span {
    width: 60%; }

  #detailsForm\:certDetails\:showMoreCertificateDetails > span.pure-u-lg-1.pre {
    display: none; }

  #detailsForm\:certDetails\:showMoreCertificateDetails {
    /* search for certificates > view > showMoreDetails */ }
    #detailsForm\:certDetails\:showMoreCertificateDetails > label {
      display: inline-block; }

  #detailsForm\:certDetails\:showMoreLessDetailsButton {
    width: 23%;
    height: 35px; }

  .errorMessage, .infoMessage {
    /* gör att 'generella' felmeddelanden visas var man än står på sidan */
    margin: 0 0 0 0; }

  .warnMessage {
    margin-top: 0; }

  #requestInfoForm\:confirmRequestButton,
  #requestInfoForm\:generateKeyStorePem,
  #requestInfoForm\:generateP12,
  #requestInfoForm\:generateJks,
  #requestInfoForm\:resetButton,
  #keyPairForm\:uploadCsrButton {
    height: auto; }

  #enrollWithRequestIdForm\:checkButton {
    width: auto; }

  #requestInfoForm\:resetButton {
    width: 10%; }

  table.pure-table > tbody > tr:not(.pure-table-odd) td {
    font-size: 100%; }
  table.pure-table > tbody > tr.pure-table-odd td {
    font-size: 100%; }

  .infoMessage {
    color: #fff;
    position: fixed;
    margin: 0 0 0 0; }

  #detailsForm > span.pure-u-1 > .pure-u-2-3 {
    /*DETAILSKNAPPAR*/ }
    #detailsForm > span.pure-u-1 > .pure-u-2-3 > input:nth-of-type(1) {
      height: auto; }
    #detailsForm > span.pure-u-1 > .pure-u-2-3 > input:nth-of-type(2) {
      height: auto; }
    #detailsForm > span.pure-u-1 > .pure-u-2-3 > input:nth-of-type(3) {
      height: auto; }

  #makeRequestButton,
  #requestStatusButton,
  #searchCertsButton {
    padding-top: 1.3%; }

  #contentForm\:viewRequestDataTable > span {
    display: inline-block; }

  #manageRequestForm\:viewRequestDataTable > span {
    display: inline-block; }

  #manageRequestForm\:currentStep > .internal-frame > div span, #manageRequestForm\:currentStep > .internal-frame input[type="checkbox"] {
    display: inline;
    margin-left: 0; }

  #contentForm\:commandEditData {
    height: auto; }

  @-moz-document url-prefix() {
    /*För Firefox*/
    .pure-form select {
      height: 90%; } }
  #contentForm\:currentStep div > label {
    display: inline-block;
    width: 33.3333%; }
  #contentForm\:currentStep div > div > table > tbody > tr > td > label {
    display: inline; }
  #contentForm\:currentStep div > div > table > tbody > tr > td > label {
    display: inline; }

  .pure-button {
    height: auto; }

  #contentForm\:editRequestDataTable {
    padding-left: 2%; }
    #contentForm\:editRequestDataTable label {
      display: inline-block; }

  #manageRequestForm\:editRequestDataTable {
    padding-left: 2%; }
    #manageRequestForm\:editRequestDataTable label {
      display: inline-block; }

  .searchButton {
    margin-left: 2%; }

  .approvalControl > label {
    float: left; }

  table#contentForm\:searchCertTable > tbody > tr > td > input {
    font-size: 76%; } }
/*
"gamla"
    "base"  // smartphone
    768px   // tablet
    992px   // desktop
    1200px  // large desktop
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    height: auto; }

  body > #content.content {
    flex: none;
    min-height: 440px; }
  body > #footer.footer {
    background: none;
    color: white;
    align-items: stretch;
    display: block;
    height: auto; }
    body > #footer.footer > div.align-center {
      background: #517397;
      display: table;
      margin-left: auto;
      margin-right: auto;
      padding: 1em; }
      body > #footer.footer > div.align-center > img.footerLogo {
        height: 1.25em;
        margin-right: 1em; }
      body > #footer.footer > div.align-center > p {
        margin: 0; }

  #contentForm\:filteredResults > .pure-table {
    line-height: normal; }
    #contentForm\:filteredResults > .pure-table > tbody td {
      word-break: break-all; }

  #detailsForm > span.pure-u-1:nth-of-type(2) {
    /*ska bryta alla långa rader inne i search > view > details*/
    word-break: break-all; }

  #contentForm\:viewRequestDataTable {
    word-break: break-all; }

  #requestInfoForm\:passwordFieldMessage, #requestInfoForm\:passwordConfirmFieldMessage {
    word-break: break-all; } }
