@charset "UTF-8";
html {
  height: 100%; }

body.ltrDirection, body.rtlDirection {
  align-items: stretch;
  background-attachment: fixed;
  background-color: #637b98;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

body.rtlDirection .pure-menu-heading {
  float: left; }

#menu {
  height: 55px;
  min-height: 55px;
  font-weight: bold;
  background: #fff; }

.content-body h3 {
  color: #fff;
  font-weight: lighter;
  margin: 2% 0 2% 1.5%;
  width: 90%; }

.pure-menu-heading {
  /*placering av header-logga*/
  float: left;
  padding: 15px 0 0 15px; }

.pure-u-1.pure-u-lg-1-8 {
  /*topbar del 1*/
  width: 20%; }

.pure-u-md-1-2.pure-u-lg-13-24 {
  /*topbar del 2*/
  width: 60%; }

.pure-u-1.pure-u-lg-1-3 {
  /*topbar del 3*/
  width: 20%; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  font-size: .75em; }

img.menu_logo {
  height: 1.5em; }

.content {
  width: 90%;
  margin: 50px auto 30px auto;
  background: #637b98;
  flex: 1; }

#title h1 {
  color: #fff;
  font-weight: bold;
  font-size: 28px; }

.header {
  /* Vy-titlar med gul border*/
  width: 45%;
  padding: 1.5em 1em 0;
  border-bottom: 3px solid #fcba00;
  text-align: left; }

.content-body h2 {
  color: #fff;
  margin: 0.2em 0 0 1em;
  font-weight: 600; }

.content-body {
  /*placerar brödtext*/
  padding: 1em 0 1em; }

#content-body {
  /* välkomstexten liten*/
  color: #fff; }

.internal-frame {
  /*ramen kring elementen i content*/
  border-radius: 2px;
  background: #4f6177;
  margin: 1% 0 4% 0; }

.internal-frame-black {
  background: #000;
  border-radius: 2px;
  margin: 1% 0 4% 0; }

.internal-frame-black > .keygeneration-button-group:nth-of-type(1) {
  padding: 3% 2% 0 2%; }
.internal-frame-black > .keygeneration-button-group:nth-of-type(2) {
  padding: 0px 0px 2% 0; }

#detailsForm {
  background: #4f6177;
  border-radius: 2px; }

#detailsForm\:j_idt88\:j_idt161 {
  background: #e9af13;
  color: #fff;
  width: 24%;
  display: block;
  margin: 2% auto 0 auto; }

#detailsForm > span.pure-u-1 > .pure-u-2-3 {
  display: block;
  margin: 2% 0 1% 2%; }

#detailsForm > span:nth-of-type(1).pure-u-1 {
  width: 90%;
  margin-left: 3%; }
  #detailsForm > span:nth-of-type(1).pure-u-1 > {
    display: block; }
  #detailsForm > span:nth-of-type(1).pure-u-1 > label {
    margin-left: 0; }

/*följande kod har nu flyttats till em64-filen:

#detailsForm > span.pure-u-1:nth-of-type(2) > label {
  width: 30.8%;
  margin-left:2.5%;
}
*/
/*Följande kod är tänkt att ersätta koden som kommenterats ut ovan*/
.content-body > #detailsForm > span.pure-u-1:nth-of-type(2) > label {
  margin-left: 0; }

#detailsForm > span.pure-u-1 > .pure-u-1-3 {
  margin-top: 2%; }

.content-body > #detailsForm > span.pure-u-1:nth-of-type(2) > span {
  /*ska bryta alla långa rader inne i search > view > details*/
  word-break: break-all; }

.finger-print {
  /* är tänkt för blå länkar i certficate details-vyn*/
  font-size: 100%; }

.pure-control-group {
  margin: 2% 0 2% 0; }

label {
  color: #fff; }

.pure-form select {
  font-size: 90%;
  min-width: 15%; }

.language_button, .language_button:hover {
  background: #517397;
  color: #fff; }

.language_button:hover {
  background: #517397;
  color: #d0a644; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item {
  background: #517397; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a {
    background: #517397;
    color: #fff; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*hover-textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a:hover {
    color: #d0a644; }

.enroll-menu-link-hover {
  background: #fff; }

ul.pure-menu-children {
  text-align: left; }

label.showNonModifiable {
  /* texten till radioknappen 'show non modifiable'*/
  margin-left: 2%; }

.navigation-button-group {
  /*återställknappens wrapper*/
  margin: 2% 0 0 0; }

.pure-button {
  /*återställknappen*/
  font-size: 76%;
  font-weight: bold;
  padding: 1.3% 2.5% 1% 2.5%;
  height: 35px; }

#requestInfoForm\:confirmRequestButton {
  /*confirm request-knappen*/
  background: #e9af13;
  color: #fff; }

.navigation-button-group > #enrollMakeNewRequestForm\:resetButton {
  float: left;
  margin: 0 0 0 2%; }

table.pure-table > thead > tr > th {
  color: #444d57; }
table.pure-table > tbody > tr:not(.pure-table-odd) td {
  background-color: #f2f2f2; }
table.pure-table > tbody > tr.pure-table-odd td {
  background-color: #e0e0e0; }
table.pure-table > tbody > tr {
  color: #444d57; }
table.pure-table > tbody a {
  color: #e9af13;
  text-decoration: none; }
  table.pure-table > tbody a:hover {
    text-decoration: underline; }

#requestTemplateForm\:selectKeyPairGeneration {
  /*radioknappar make a request > select request-template > key-pair generation*/
  margin: 0;
  padding: 0; }

#requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset {
  /*make a request > confirm request-fältet*/
  margin-top: 1%; }
  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > label {
    /* listan i confirm request*/
    margin-left: 2%;
    width: 31%; }

textarea#keyPairForm\:certificateRequest {
  /* make request > Upload CSR > formuläret */
  width: 98%;
  margin: 0 auto 2% auto;
  display: block; }

#newFileInput {
  /* make request > Upload CSR > knappen+texten */
  margin-left: 5%;
  color: #fff; }

.tabButton.active {
  background: #e9af13; }

.tabButton {
  background: #cea01a;
  color: #fff; }

.tabButtonBar {
  border-bottom: 0.3ex solid #e9af13; }

/*drop downs i search*/
#contentForm\:parentGenericSearchString {
  width: 83%;
  margin: 0 0 1% 0; }

#contentForm\:parentGenericSearchButton {
  width: 17%; }

#contentForm\:filteredResults {
  color: #fff; }

#contentForm\:parentCriteriaEepId,
#contentForm\:parentCriteriaCpId,
#contentForm\:parentCriteriaCaId,
#contentForm\:parentCriteriaStatus {
  margin: 1% 1% 2% 0; }

/*Kod för show more options-knapp som förmodligen inte behövs*/
/*SLUT: Kod för show more options-knapp som förmodligen inte behövs*/
/*NY search for certificates >  show more-knapp */
#detailsForm\:certDetails\:showMoreLessDetailsButton {
  background: #e9af13;
  color: #fff;
  width: 75%;
  display: block;
  margin: 2% 0 0 0; }

#detailsForm\:certDetails\:showMoreCertificateDetails {
  /* search for certificates > view > showMoreDetails */
  width: 90%;
  margin-left: 0 0 5% 3%; }

/*
#detailsForm\:certDetails\:showMoreLessDetailsButton { //Ev. dublett av datailsForm:certDetails:showMoreLessDetailsButton ovan
  display:block;
  margin: 2% 0 0 0;
}
*/
#contentForm > #contentForm:more > span.pure-g > div:nth-of-type(1).pure-u-1 {
  width: 16%; }

.row-odd {
  background: none; }

#requestInfoForm\:resetButton,
#enrollWithRequestIdForm\:checkButton {
  width: 13%; }

#searchCertsButton,
#requestStatusButton,
#makeRequestButton,
#requestInfoForm\:generateDer,
#requestInfoForm\:generatePkcs7,
#requestInfoForm\:generatePem,
#requestInfoForm\:generatePemFullChain,
#enrollWithRequestIdForm\:checkButton,
#enrollMakeNewRequestForm\:generateJks,
#enrollMakeNewRequestForm\:generateP12,
#enrollMakeNewRequestForm\:updateRequestPreview {
  background: #e9af13;
  color: #fff; }

#searchCertsButton:hover,
#searchCertsButton:focus,
#requestStatusButton:hover,
#requestStatusButton:focus,
#makeRequestButton:hover,
#makeRequestButton:focus,
#requestInfoForm\:generateDer:hover,
#requestInfoForm\:generateDer:focus,
#requestInfoForm\:generatePkcs7:hover,
#requestInfoForm\:generatePkcs7:focus,
#requestInfoForm\:generatePemFullChain:hover,
#requestInfoForm\:generatePemFullChain:focus,
#requestInfoForm\:generatePem:hover,
#requestInfoForm\:generatePem:focus,
#enrollWithRequestIdForm\:checkButton:hover,
#enrollWithRequestIdForm\:checkButton:focus,
#requestInfoForm\:confirmRequestButton:hover,
#requestInfoForm\:confirmRequestButton:focus,
.detailsForm\:j_idt87\:showMoreLessDetailsButton:hover,
.detailsForm\:j_idt87\:showMoreLessDetailsButton:focus,
#enrollMakeNewRequestForm\:generateJks:hover,
#enrollMakeNewRequestForm\:generateJks:focus,
#enrollMakeNewRequestForm\:generateP12:hover,
#enrollMakeNewRequestForm\:generateP12:focus,
#enrollMakeNewRequestForm\:updateRequestPreview:hover,
#enrollMakeNewRequestForm\:updateRequestPreview:focus,
#contentForm\:showMoreButton:hover,
#contentForm\:showMoreButton:focus,
#contentForm\:showLessButton:hover,
#contentForm\:showLessButton:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

/*kanpp kod som förmodligen inte behövs*/
#contentForm\:j_idt177 {
  background: #e9af13;
  color: #fff; }

/*SLUT: kanpp kod som förmodligen inte behövs*/
.keygeneration-button-group {
  color: #fff;
  margin: 2% 0 0 0; }

.keygeneration-button-group > a {
  margin: 2% 0 0 0; }

a {
  color: #e9af13;
  text-decoration: none; }

#contentForm > #contentForm\:more {
  margin-top: 20px;
  width: 83%; }

#contentForm > #contentForm\:more > span.pure-g > div.pure-u-1 > div.pure-control-group > label {
  /* "max results"-texten i search for certificates */
  text-align: left; }

#contentForm > #contentForm:more > span.pure-g > div.pure-u-1:nth-of-type(1).pure-u-1 {
  /*wrapper för max results, kan behövas läggas ihop med ovanstående*/
  width: 16%; }

#contentForm > #contentForm\:more > span.pure-g > div.pure-u-1:nth-of-type(1) {
  /* första wrappern för boxen för "max results"-texten i search for certificates */
  width: 25%; }

.contentForm\:criteriaMaxResults {
  width: 100%; }

/* resterande text för boxar i show more options i search for certificates */
#contentForm\:issuedAfterLabel,
#contentForm\:issuedBeforeLabel,
#contentForm\:expiresAfterLabel,
#contentForm\:expiresBeforeLabel,
#contentForm\:revokedAfterLabel,
#contentForm\:revokedBeforeLabel {
  text-align: left; }

#contentForm\:issuedAfter,
#contentForm\:issuedBefore,
#contentForm\:expiresAfter,
#contentForm\:expiresBefore,
#contentForm\:revokedAfter,
#contentForm\:revokedBefore {
  width: 119%; }

#contentForm\:more > .pure-g > .pure-u-1:nth-of-type(3) {
  margin: 0 0 0 3%; }
#contentForm\:more > .pure-g > .pure-u-1:nth-of-type(4) {
  margin: 0 0 0 3%; }

/*slut på resterande boxar för max-result-texten*/
.contentForm\:filteredResults > table.pure-table > thead {
  line-height: 110%;
  background: #a9a9a9; }
.contentForm\:filteredResults > table.pure-table > tbody > tr {
  line-height: 79%;
  word-break: break-all; }
  .contentForm\:filteredResults > table.pure-table > tbody > tr > td > input {
    color: #e9af13; }

.radio-button-table {
  margin-left: 1em; }

.bodyText {
  color: #fff; }

/*
#contentForm\:showMoreButton { //showmore-knapp search for certificates
  background: #e9af13;
  color: #fff;
  width: 75%;
}
*/
#contentForm\:showMoreButton,
#contentForm\:showLessButton {
  /*showelss-knapp search for certificates*/
  background: #e9af13;
  color: #fff;
  width: 150px; }

/*SLUT: knappar kod som förmodligen inte beövs*/
#enrollMakeNewRequestForm\:requestPreview > fieldset > .pure-u-lg-2-3 {
  color: #fff; }

.bigStatus {
  margin: 1% 0 0 2%;
  color: #fff;
  font-style: italic; }

#viewRequestTable {
  margin: 1% 0 4% 2%; }

#contentForm\:requestApproveMessage {
  margin: 1% 0 0 2%; }

.statusFailed {
  color: #ed6a5f; }

#contentForm\:filteredResults .pure-button.ra-button {
  /*view-knappen i search for certificates*/
  color: #e9af13;
  background: none; }
  #contentForm\:filteredResults .pure-button.ra-button:hover {
    text-decoration: underline; }

#detailsForm\:certDetails\:downloadFormatLinks > a:hover {
  text-decoration: underline; }

#contentForm\:viewRequestPartitionTable > table,
#contentForm\:approvalButtonsPanel {
  /*tabellen under 'Approve' i Manage Requests > Needs Aprroval > View More*/
  margin: 1% 0 0 2%; }

#cofirmRequestData {
  /*Padding för innehållet i sista internal-fram (blå boxen) i make request*/
  padding: 1% 0 0 2%; }

#keyPairForm\:uploadCsrButton {
  margin: 0 0 1% 1.5%; }

#requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > {
  display: block; }
#requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > span {
  margin-left: 2%; }

#expandRequestDetails,
#expandStatusDetails,
#expandSearchDetails {
  color: #fff; }

/*gör att långa rader i tabeller bryts, ska högst troligt tas bort*/
/*SLUT gör att långa rader i tabeller bryts*/
/*Kod för att lägga radioknappar, som ligger inom första ramen i make request, under varandra */
#requestTemplateForm\:selectKeyPairGenerationOneMenu > .internal-frame > fieldset > .pure-control-group:nth-of-type(4) > label {
  float: left; }
#requestTemplateForm\:selectKeyPairGenerationOneMenu > .internal-frame > fieldset > .pure-control-group:nth-of-type(4) > #requestTemplateForm\:selectKeyPairGenerationOneMenu > #requestTemplateForm\:selectKeyPairGeneration > tbody > tr > td {
  display: block; }
  #requestTemplateForm\:selectKeyPairGenerationOneMenu > .internal-frame > fieldset > .pure-control-group:nth-of-type(4) > #requestTemplateForm\:selectKeyPairGenerationOneMenu > #requestTemplateForm\:selectKeyPairGeneration > tbody > tr > td > label {
    text-align: left;
    padding: 2% 0 0 3%; }

/*SLUT Kod för att lägga radioknappar, som ligger inom första ramen i make request, under varandra */
.footer {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.footer > .align-center > p {
  /*footer-texten*/
  margin: 0 0 35px 20px;
  display: inline-block; }

.footerLogo {
  height: 1.5em;
  display: inline-block; }

/* - - - Responsivise at breakpoint (för tables) - - - - */
@media (max-width: 48em) {
  /* make tds into single column full width rows */
  tr, td {
    display: block;
    width: 100%; }

  /* hide table head */
  thead {
    display: none; }

  /* place data attribute before td as a label */
  td[data-header-title]:before {
    content: attr(data-header-title) ":";
    display: block;
    color: #666;
    /* labels will stack by default but optionally float to left */
    float: left;
    width: 100%; }

  tbody {
    border-collapse: collapse;
    display: block; }

  tbody tr {
    margin-bottom: 20px;
    display: block; }

  /* unset background used on desktop view */
  /*
  tbody > tr :nth-of-type(odd) {
      background:#eee;
  }
  */
  tbody > a {
    display: inline-block; }

  .pure-table > tbody > tr > td > table > tbody > tr > td {
    /*tar bort bakgrund på rubriker i celler*/
    background: none; }

  .pure-table-odd > td > table > tbody > tr {
    /*tar bort bakgrund på länkar i vita celler*/
    background: none; }

  #content-body > table.pure-table > tbody > tr > td > table > tbody > tr > td {
    background: none; } }
@media (min-width: 48em) {
  #detailsForm > span.pure-u-1:nth-of-type(2) {
    width: 100%;
    margin: 0; }

  #detailsForm > span.pure-u-1:nth-of-type(2) {
    width: 100%;
    margin-left: 0; }
    #detailsForm > span.pure-u-1:nth-of-type(2) > label {
      width: 30.8%;
      margin-left: 2.5%; }

  #title h1 {
    font-size: 28px; }

  #contentForm\:filteredResults > .pure-table {
    line-height: normal; }
    #contentForm\:filteredResults > .pure-table > thead {
      font-size: 70%; }
    #contentForm\:filteredResults > .pure-table > tbody td {
      word-break: break-all;
      max-width: 50px; } }
@media (min-width: 64em) {
  #title h1 {
    font-size: 35px; }

  img.menu_logo {
    height: 2em; }

  .pure-menu-heading {
    float: right;
    padding: 12px 0 0 0; }

  .pure-menu-link {
    color: #35404e;
    font-size: 90%;
    background: #fff;
    height: 26px; }

  @-moz-document url-prefix() {
    /*för Firefox */
    .pure-menu-link {
      height: 25.5px; } }
  /*För Retinaskärm*/
  /*
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
  
    @-moz-document url-prefix() { //för Firefox
      .pure-menu-link {
        //  padding-bottom: 18px;
      }
    }
  }
  */
  /*SLUT för retinaskärm*/
  .cas-menu-link:hover, .cas-menu-link:focus,
  .enroll-menu-link:hover, .enroll-menu-link:focus,
  .pure-menu-link:hover, .pure-menu-link:focus,
  .requests-menu-link:hover, .requests-menu-link:focus,
  .search-menu-link:hover, .search-menu-link:focus {
    background: #fff; }

  ul.pure-menu-list {
    padding: 15px 0 0 0;
    text-align: center; }

  .pure-menu.pure-menu-horizontal {
    /*centrerar menyvalen*/
    text-align: center; }

  .content {
    width: 60em;
    margin: 50px auto 30px auto;
    background: #637b98;
    flex: 1; }

  ul.pure-menu-list > li.pure-menu-item:hover:after {
    /*hover-effekt för pil i dropdown*/
    content: "";
    display: block;
    border: 5px solid transparent;
    border-bottom-color: #517397;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin: 0 0 0 -12px;
    color: #fff; }

  #contentForm\:showMoreButton,
  #contentForm\:showLessButton {
    /*showelss-knapp search for certificates*/
    width: 75%; }

  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > {
    display: inline-block; }
  #requestInfoForm\:requestPreviewOuterPanel > .internal-frame > fieldset > span {
    margin-left: 0; }

  #contentForm\:parentGenericSearchString {
    margin: 0; }

  #contentForm\:filteredResults > .pure-table > thead {
    font-size: 100%; }
  #contentForm\:filteredResults > .pure-table > td {
    word-break: none;
    max-width: none; } }
/*
"gamla"
  "base"  // smartphone
  768px   // tablet
  992px   // desktop
  1200px  // large desktop
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.ltrDirection, body.rtlDirection {
    display: -ms-flexbox;
    height: 100%; }

  .footer {
    display: -ms-flexbox; }

  .content {
    -ms-flex: 0 1 auto; } }

/*# sourceMappingURL=w_e_style.css.map */
