@charset "UTF-8";
.ltrDirection {
  /*body class*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
  background-color: #637b99;
  background-attachment: fixed; }

#menu {
  height: 50px;
  font-weight: bold;
  background: #fff; }

.pure-menu-link {
  color: #35404e;
  padding-bottom: 16.5px;
  font-size: 90%;
  background: #fff; }

.enroll-menu-link:hover, .enroll-menu-link:focus {
  background: #fff; }

.cas-menu-link:hover, .cas-menu-link:focus {
  background: #fff; }

.requests-menu-link:hover, .requests-menu-link:focus {
  background: #fff; }

.search-menu-link:hover, .search-menu-link:focus {
  background: #fff; }

.pure-menu-link:hover, .pure-menu-link:focus {
  background: #fff; }

.pure-menu-heading {
  /*placering av header-logga*/
  float: right;
  padding: 12px 0 0 0; }

ul.pure-menu-list {
  padding: 10px 0 0 0;
  text-align: center; }

.pure-u-1.pure-u-lg-1-8 {
  /*topbar del 1*/
  width: 20%; }

.pure-u-md-1-2.pure-u-lg-13-24 {
  /*topbar del 2*/
  width: 60%; }

.pure-u-1.pure-u-lg-1-3 {
  /*topbar del 3*/
  width: 20%; }

.pure-menu.pure-menu-horizontal {
  /*centrerar menyvalen*/
  text-align: center; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  font-size: .75em; }

img.menu_logo {
  height: 1.5em; }

.content {
  width: 46%;
  margin: 50px auto 30px auto;
  background: #637b98;
  flex: 1; }

#title h1 {
  color: #fff;
  font-weight: 500; }

.header {
  width: 50%;
  padding: 1.5em 1em 0;
  border-bottom: 2px solid #fcba00;
  text-align: left; }

.content-body h2 {
  color: #fff;
  margin: 0.2em 0 0 1em;
  font-weight: 600; }

.content-body {
  padding: 1em 0 1em; }

.internal-frame {
  border-radius: 2px;
  background: #4f6177; }

.pure-control-group {
  margin: 1% 0 0 0; }

label {
  color: #fff; }

.pure-form select {
  font-size: 80%;
  min-width: 15%; }

.language_button, .language_button:hover {
  background: #517397;
  color: #fff; }

.language_button:hover {
  background: #517397;
  color: #d0a644; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item {
  background: #517397; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a {
    background: #517397;
    color: #fff; }

ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children {
  /*hover-textfärg på dropdown-element*/ }
  ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > form > li, ul.pure-menu-list > li.pure-menu-item > ul.pure-menu-children > li.pure-menu-item > a:hover {
    color: #d0a644; }

ul.pure-menu-list > li.pure-menu-item:hover {
  /*hover-effekt för pil i dropdown*/ }

ul.pure-menu-list > li.pure-menu-item:hover:after {
  /*hover-effekt för pil i dropdown*/
  content: "";
  display: block;
  border: 5px solid transparent;
  border-bottom-color: #517397;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -12px;
  color: #fff; }

.enroll-menu-link-hover {
  background: #fff; }

.pure-menu-children {
  text-align: left; }

.internal-frame {
  /*ramen kring elementen i content*/
  margin: 1% 0 0 0; }

.navigation-button-group {
  /*nästa- och återställknappens wrapper*/
  margin: 2% 0 0 0; }

.pure-button {
  /*nästa- och återställknappen*/
  font-size: 76%;
  font-weight: bold;
  padding: 1% 2.5% 1% 2.5%;
  height: 35px; }

.navigation-button-group > #enrollMakeNewRequestForm\:nextButton {
  background: #e9af13;
  color: #fff;
  float: right;
  margin: 0 2% 0 0; }

.navigation-button-group > #enrollMakeNewRequestForm\:resetButton {
  float: left;
  margin: 0 0 0 2%; }

table.pure-table > thead > tr > th {
  color: #444d57; }

table.pure-table > tbody > tr {
  color: #444d57; }

table.pure-table > tbody a {
  color: #e9af13;
  text-decoration: none; }

> table.pure-table {
  color: #fff; }

.tabButton.active {
  background: #e9af13; }

.tabButton {
  background: #cea01a;
  color: #fff; }

.tabButtonBar {
  border-bottom: 0.3ex solid #e9af13; }

#contentFormParentID\:genericSearchString {
  width: 83%; }

#contentFormParentID\:genericSearchButton {
  width: 17%; }

#contentForm\:filteredResults {
  color: #fff; }

#contentFormParentID\:criteraEepId {
  margin: 1% 1% 2% 0; }

#contentFormParentID\:criteraCpId {
  margin: 1% 1% 2% 0; }

#contentFormParentID\:criteraCaId {
  margin: 1% 1% 2% 0; }

#contentFormParentID\:criteraStatus {
  margin: 1% 1% 2% 0; }

#contentForm\:j_idt185 {
  background: #e9af13;
  color: #fff; }

#contentForm\:j_idt94 {
  background: #e9af13;
  color: #fff; }

.footer {
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.footer > .align-center > p {
  /*footer-texten*/
  margin: 0 0 35px 20px;
  display: inline-block; }

.footerLogo {
  height: 1.5em;
  display: inline-block; }

/*
- - - Responsivise at breakpoint - - - - */
@media (max-width: 700px) {
  /* make tds into single column full width rows */
  tr, td {
    display: block; }

  /* hide table head */
  thead {
    display: none; }

  /* place data attribute before td as a label */
  td[data-header-title]:before {
    content: attr(data-header-title) ":";
    display: block;
    color: #666;
    /* labels will stack by default but optionally float to left */
    float: left;
    width: 100%; }

  tbody {
    border-collapse: collapse;
    display: block; }

  tbody tr {
    display: block; }

  /* unset background used on desktop view */
  tbody > tr :nth-of-type(odd) {
    background: #eee; }

  tbody > a {
    display: inline-block; }

  .pure-table > tbody > tr > td > table > tbody > tr > td {
    /*tar bort bakgrund på rubriker i celler*/
    background: none; }

  .pure-table-odd > td > table > tbody > tr {
    /*tar bort bakgrund på länkar i vita celler*/
    background: none; }

  div#content-body > table.pure-table > tbody > tr > td > table > tbody > tr > td {
    background: none; } }

/*# sourceMappingURL=web-express-sass.css.map */
