<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    
    <description><![CDATA[MSAE server]]></description>
    
    
   <filter> 
        <filter-name>ServiceControlFilter</filter-name>
        <filter-class>org.ejbca.util.ServiceControlFilter</filter-class>
        <init-param>  
            <param-name>serviceName</param-name>  
            <param-value>MSAE</param-value>  
        </init-param> 
    </filter>

    <filter-mapping>
        <filter-name>ServiceControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    
    <servlet>
        <description><![CDATA[MS auto enrollment servlet]]></description>
        <display-name>MSAEServlet</display-name>
        <servlet-name>MSEnrollmentServlet</servlet-name>
        <servlet-class>org.ejbca.msae.MSEnrollmentServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MSEnrollmentServlet</servlet-name>
        <url-pattern>/msae/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
<filter>
        <filter-name>SpnegoHttpFilter</filter-name>
        <filter-class>net.sourceforge.spnego.SpnegoHttpFilter</filter-class>
        <!--
        <init-param>
            <param-name>spnego.allow.delegation</param-name>
            <param-value>true</param-value>
        </init-param>
-->
        <init-param>
            <param-name>spnego.allow.basic</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.allow.localhost</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.allow.unsecure.basic</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.login.client.module</param-name>
            <param-value>spnego-client</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.krb5.conf</param-name>
            <param-value>${catalina.home}/krb5.conf</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.login.conf</param-name>
            <param-value>${catalina.home}/login.conf</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.preauth.username</param-name>
            <param-value>ejbca-svc</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.preauth.password</param-name>
            <param-value>F00fster!</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.login.server.module</param-name>
            <param-value>spnego-server</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.prompt.ntlm</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>spnego.logger.level</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>

<!--    
-->

    <filter-mapping>
        <filter-name>SpnegoHttpFilter</filter-name>
        <url-pattern>/MSEnrollmentServlet</url-pattern>
    </filter-mapping>

<!--
    <security-constraint>
        <display-name>Example Security Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <!- Define the context-relative URL(s) to be protected ->
            <!-
            <url-pattern>/security/protected/*</url-pattern>
            <url-pattern>/MSEnrollmentServlet</url-pattern>
            ->
            <!- If you list http methods, only those methods are protected ->
            <!-
            <http-method>DELETE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
        </web-resource-collection>
        <auth-constraint>
            <!- Anyone with one of the listed roles may access this area ->
            <!-
            <role-name>tomcat</role-name>
            <role-name>role1</role-name>
        </auth-constraint>
    </security-constraint>
            -->
    <!--
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Example Form-Based Authentication Area</realm-name>
        <form-login-config>
            <form-login-page>/security/protected/login.jsp</form-login-page>
            <form-error-page>/security/protected/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    -->
    <security-role>
        <role-name>*</role-name>
    </security-role>
</web-app>
