## This is where the common macro's live

#macro (note $data)
<div class="frame note">
<div class="label">Note</div>
<div class="content">$data.content</div>
</div>
#end

#macro (warning $data)
<div class="frame warning">
<div class="label">Warning</div>
<div class="content">$data.content</div>
</div>
#end

#macro ( table $table)
  #if ($table.getAttributeValue("class"))
    #set ($class = $table.getAttributeValue("class"))
  #else
    #set ($class = "ForrestTable")
  #end
  <table class="$!class" cellspacing="1" cellpadding="4">
  #foreach ( $items in $table.getChildren() )
    #if ($items.getName().equals("tr"))
      #tr ($items)
    #end
  #end
  </table>
#end

#macro ( tr $tr)
  <tr>
  #foreach ( $items in $tr.getChildren() )
    #if ($items.getName().equals("td"))
      #td ($items)
    #elseif ($items.getName().equals("th"))
      #th ($items)
    #end
  #end
</tr>
#end

#macro ( td $value)
  #if ($value.getAttributeValue("colspan"))
    #set ($colspan = $value.getAttributeValue("colspan"))
  #else
    #set ($colspan = 1)
  #end
  #if ($value.getAttributeValue("rowspan"))
    #set ($rowspan = $value.getAttributeValue("rowspan"))
  #else
    #set ($rowspan = 1)
  #end
  <td colspan="$!colspan" rowspan="$!rowspan"
      valign="top" align="left">
    #if ($value.getText().length() != 0 || $value.hasChildren())
      $value.content
    #else
      &nbsp;
    #end
  </td>
#end

#macro ( th $value)
  #if ($value.getAttributeValue("colspan"))
    #set ($colspan = $value.getAttributeValue("colspan"))
  #else
    #set ($colspan = 1)
  #end
  #if ($value.getAttributeValue("rowspan"))
    #set ($rowspan = $value.getAttributeValue("rowspan"))
  #else
    #set ($rowspan = 1)
  #end
  <th colspan="$!colspan" rowspan="$!rowspan"
      valign="top" align="left">
    #if ($value.getText().length() != 0 || $value.hasChildren())
      $value.content
    #else
      &nbsp;
    #end
  </th>
#end

#macro ( projectanchor $name $value )
  #if ($value.startsWith("http://"))
    <a href="$value" class="externalLink">$name</a>
  #elseif ($value.startsWith("https://"))
    <a href="$value" class="externalLink">$name</a>
  #else  
    <a href="$relativePath$value">$name</a>
  #end
#end

#macro ( link $item )
  #set ($href = $value.getAttributeValue("href"))
  #set ($name = $value.getText() )
  #if ($href.startsWith("http://"))
    <a href="$href" class="externalLink">$name</a>
  #else
    <a href="$relativePath$href">$name</a>
  #end
#end

#macro ( metaauthor $author $email )
  <meta name="author" content="$author">
  <meta name="email" content="$email">
#end

#macro ( image $value )
  #if ($value.getAttributeValue("width"))
    #set ($width=$value.getAttributeValue("width"))
  #end
  #if ($value.getAttributeValue("height"))
    #set ($height=$value.getAttributeValue("height"))
  #end
  #if ($value.getAttributeValue("align"))
    #set ($align=$value.getAttributeValue("align"))
  #end
  #if ($value.getAttributeValue("alt"))
    #set ($align=$value.getAttributeValue("alt"))
  #end
  <img src="$relativePath$value.getAttributeValue("src")"
       width="$!width" height="$!height" align="$!align" alt="$!alt">
#end

#macro ( source $value)
<pre class="code">$escape.getText($value.getText())</pre>
#end


#macro ( makeMainNavigation )
  #set ( $tabs = $project.getChild("body").getChildren("menusection"))
  #if ( $project.getChild("body").getChild("menusection") )
    #set ( $currentIndex = $root.getChild("properties").getChild("index").getAttributeValue("value") )
    #if ( $currentIndex )
      #foreach ( $tab in $tabs )
        #set ($index = $tab.getAttributeValue("index"))
        #if ( $currentIndex.trim().equals( $index ) )
          #set ($menus = $tab.getChildren("menu"))
        #end
      #end
    #else
      #set ($menus = $project.getChild("body").getChild("menusection").getChildren("menu"))
    #end
  #else
    #set ($menus = $project.getChild("body").getChildren("menu"))
  #end
  #makeProject ( $menus )
#end

#macro (makeProject $menus)

  <div class="menucontainer">

    <div class="menu">
      <ul>
      #foreach ( $menu in $menus )
        <li><div class="menuheader">$menu.getAttributeValue("name")</div>
          <ul>
            #foreach ( $item in $menu.getChildren() )
              #set ($name = $item.getAttributeValue("name").trim())
              #set ($current = $root.getChild("properties").getChild("title").getText() )
                <li>
              #if ( $current.trim().equals( $name ) )
                <span class="sel"> $name</span>
              #else
                #projectanchor($name $item.getAttributeValue("href"))
              #end
                </li>
            #end
          </ul>
        </li>
      #end
      
        <li><div class="menuheader">PKI by PrimeKey</div>
          <p>
          <br/>
                <a href="https://www.primekey.se/technologies/products-overview/signserver-enterprise/" target="signserver">
                <img style="border:none; margin-left:20px" src="$relativePath/images/signserver_pki_by_primekey_w120.png" alt="SignServer by PrimeKey"/>
                </a>
          </p>
          <p>
                <a href="http://www.primekey.se/" target="primekey">
                <img style="border:none; margin-left:20px" src="$relativePath/images/logo-PrimeKey.png" alt="PKI by PrimeKey"/>
                </a>
          </p>
        </li>

      </ul>
    </div>
 	
  </div>
#end

#macro (header)
  <html lang="en">
    <!-- GENERATED FILE, DO NOT EDIT, EDIT THE XML FILE IN xdocs INSTEAD! -->
    <head>
      <META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>$project.getChild("title").getText() - $root.getChild("properties").getChild("title").getText()</title>
        <link type="text/css" href="$relativePath/page.css" rel="stylesheet">
        <link rel="shortcut icon" href="./images/pk-favIcon.png">
  #set ($authors = $root.getChild("properties").getChildren("author"))
  #foreach ( $au in $authors )
    #metaauthor ( $au.getText() $au.getAttributeValue("email") )
  #end
    </head>

    <body>

      <div class="logobar">
      <table width="100%">
      	<tr>
      	
      	<td>
      	<a href="http://www.ejbca.org/"><img src="$relativePath/images/ejbca_pki_by_primekey_logo.png" alt="EJBCA - Open Source PKI Certificate Authority" border="0"/></a>
      	</td>
      	<td style="text-align:right">
      	<div class="searchcaption">
		Search ejbca.org for:<br />
		<form id="searchForm" target="_blank" onsubmit="q.value = query.value + ' site:ejbca.org'" action="http://www.google.com/search" method="get">
		<input name="q" type="hidden">
		<nobr>
		<div style="height: 18px">
		<input name="query" id="searchBox" maxlength="255" />
		<input type="submit" value="Go" />
		</div>
		</nobr>
		</form>
      	</div>
		</tr>
		</table>
      </div>
      <div id="doc-version">
		<span title="Documentation applies to the EJBCA version shown here.">
#include( "VERSION" )
		</span>
      </div>

      #makeMainNavigation()
#end

#macro (footer)
      <p class="copyright" style="text-align:center;">
        &copy;&nbsp;2002-2015 PrimeKey Solutions AB. EJBCA<sup>&#174;</sup> is a registered trademark of PrimeKey Solutions AB.
        <script type="text/javascript"><!--
                document.write(" - "+"Last Published: " + document.lastModified);
              //  -->
        </script>
      </p>
<!--Piwik-->
    </body>
  </html>
#end
