#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. 
# This file is public domain software, originally written by Joey Hess.
#
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export JAVA_HOME=/usr/lib/jvm/java-1.5.0-sun
export JBOSS_HOME=/usr/share/jboss4
export PATH=${JAVA_HOME}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

.NOTPARALLEL=1

build: patch build-stamp 
build-stamp: 
	dh_testdir

	# Add here commands to compile the package.
	cp conf/ejbca.properties.sample 	conf/ejbca.properties
	cp conf/database.properties.sample 	conf/database.properties
	cp conf/protection.properties.sample	conf/protection.properties
	cp conf/web.properties.sample		conf/web.properties

	perl -pi -e "s/java.ver=14/java.ver=15/" conf/ejbca.properties
	ant
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	ant clean
	rm -f conf/ejbca.properties
	dh_clean

patch: patch-stamp
patch-stamp:
	dpatch apply-all
	dpatch cat-all >patch-stamp

unpatch:
	dpatch deapply-all
	rm -rf patch-stamp debian/patched


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

# libs, classes
	mkdir -p                           debian/tmp/usr/share/ejbca

# get build-system 
	cp build.xml                       debian/tmp/usr/share/ejbca/
	cp cmptcp.xmli			   debian/tmp/usr/share/ejbca/
	cp compile.xmli			   debian/tmp/usr/share/ejbca/
	cp crlservice.xmli		   debian/tmp/usr/share/ejbca/
	cp docs.xmli			   debian/tmp/usr/share/ejbca/
	cp jaxws.xmli			   debian/tmp/usr/share/ejbca/
	cp propertiesAndPaths.xmli         debian/tmp/usr/share/ejbca/
	cp test.xmli			   debian/tmp/usr/share/ejbca/
	cp xkms.xmli                       debian/tmp/usr/share/ejbca/

# get bin and libs
	cp -r bin/                         debian/tmp/usr/share/ejbca/
	cp -r lib/                         debian/tmp/usr/share/ejbca/
	cp -r dist/                        debian/tmp/usr/share/ejbca/
	cp -r ocsp-dist/                   debian/tmp/usr/share/ejbca/

# debian specific ejbca-setup
	cp debian/ejbca-setup              debian/tmp/usr/share/ejbca/

# conf
	mkdir -p                                  debian/tmp/etc/ejbca
	cp conf/ejbca.properties	          debian/tmp/etc/ejbca
	cp conf/database.properties	    	  debian/tmp/etc/ejbca
	cp conf/protection.properties	     	  debian/tmp/etc/ejbca
	cp conf/web.properties		   	  debian/tmp/etc/ejbca
	mkdir -p                           	  debian/tmp/usr/share/ejbca/conf
	ln -s /etc/ejbca/ejbca.properties         debian/tmp/usr/share/ejbca/conf
	ln -s /etc/ejbca/database.properties	  debian/tmp/usr/share/ejbca/conf
	ln -s /etc/ejbca/protection.properties	  debian/tmp/usr/share/ejbca/conf
	ln -s /etc/ejbca/web.properties		  debian/tmp/usr/share/ejbca/conf
	cp conf/cmp.properties.sample		  debian/tmp/usr/share/ejbca/conf
	cp conf/database.properties.sample	  debian/tmp/usr/share/ejbca/conf
	cp conf/ejbca.properties.sample           debian/tmp/usr/share/ejbca/conf
	cp conf/mail.properties.sample		  debian/tmp/usr/share/ejbca/conf
	cp conf/ocsp.properties.sample		  debian/tmp/usr/share/ejbca/conf
	cp conf/protection.properties.sample	  debian/tmp/usr/share/ejbca/conf
	cp conf/web.properties.sample		  debian/tmp/usr/share/ejbca/conf

# p12
	mkdir -p                                     debian/tmp/etc/ejbca/p12
	ln -s /etc/ejbca/p12                         debian/tmp/usr/share/ejbca/p12

# adminweb 
	mkdir -p                         debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/adminweb  debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/adminweb.war           debian/tmp/usr/share/ejbca/tmp/

# tmp/bin
	mkdir -p                         debian/tmp/usr/share/ejbca/tmp/bin/
	cp -r tmp/bin/ocsp-classes       debian/tmp/usr/share/ejbca/tmp/bin/
	cp -r tmp/bin/classes            debian/tmp/usr/share/ejbca/tmp/bin/
	cp -r tmp/bin/dd                 debian/tmp/usr/share/ejbca/tmp/bin/


# preprocessed classes (for later building of jars)
	cp -r tmp/preprocessed/cli       	debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/deploy    	debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/intresources/    debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/log       	debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/publicweb 	debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r tmp/preprocessed/upgrade   	debian/tmp/usr/share/ejbca/tmp/preprocessed/

# weirdo-appartment
	mkdir -p                         debian/tmp/usr/share/ejbca/tmp/preprocessed/java
	mkdir -p                         debian/tmp/usr/share/ejbca/src/java/

# appserver
	mkdir -p                         debian/tmp/usr/share/ejbca/src/appserver/
	cp -r tmp/preprocessed/appserver debian/tmp/usr/share/ejbca/tmp/preprocessed/
	cp -r src/appserver/jboss        debian/tmp/usr/share/ejbca/src/appserver/

# jaxws
	mkdir -p			debian/tmp/usr/share/ejbca/src/jaxws/
	cp -r src/jaxws/cli		debian/tmp/usr/share/ejbca/src/jaxws/
	cp src/jaxws/web.xml		debian/tmp/usr/share/ejbca/src/jaxws/
	cp src/jaxws/custom-client.xml	debian/tmp/usr/share/ejbca/src/jaxws/
	cp src/jaxws/custom-schema.xml	debian/tmp/usr/share/ejbca/src/jaxws/
	cp src/jaxws/sun-jaxws.xml	debian/tmp/usr/share/ejbca/src/jaxws/
	cp -r tmp/jaxws                		     debian/tmp/usr/share/ejbca/tmp/
	mkdir -p                                     debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws
	cp -r tmp/preprocessed/jaxws/cli             debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws
	cp tmp/preprocessed/jaxws/web.xml            debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws
	cp tmp/preprocessed/jaxws/custom-client.xml  debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws
	cp tmp/preprocessed/jaxws/custom-schema.xml  debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws
	cp tmp/preprocessed/jaxws/sun-jaxws.xml      debian/tmp/usr/share/ejbca/tmp/preprocessed/jaxws

# xkms
	mkdir -p                        debian/tmp/usr/share/ejbca/src/xkms
	cp -r src/xkms/cli		debian/tmp/usr/share/ejbca/src/xkms
	cp -r src/xkms/wsdl		debian/tmp/usr/share/ejbca/src/xkms
	cp src/xkms/web.xml		debian/tmp/usr/share/ejbca/src/xkms
	cp src/xkms/custom-client.xml	debian/tmp/usr/share/ejbca/src/xkms
	cp src/xkms/custom-schema.xml	debian/tmp/usr/share/ejbca/src/xkms
	cp src/xkms/custom-server.xml	debian/tmp/usr/share/ejbca/src/xkms
	cp src/xkms/sun-jaxws.xml	debian/tmp/usr/share/ejbca/src/xkms
	cp -r tmp/xkms					debian/tmp/usr/share/ejbca/tmp/
	cp -r tmp/xkmscli.jar				debian/tmp/usr/share/ejbca/tmp/
	mkdir -p                        		debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp -r tmp/preprocessed/xkms/cli			debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp -r tmp/preprocessed/xkms/wsdl		debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp tmp/preprocessed/xkms/web.xml		debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp tmp/preprocessed/xkms/custom-client.xml	debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp tmp/preprocessed/xkms/custom-schema.xml	debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp tmp/preprocessed/xkms/custom-server.xml	debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms
	cp tmp/preprocessed/xkms/sun-jaxws.xml		debian/tmp/usr/share/ejbca/tmp/preprocessed/xkms

# docs
	ant doc
	mkdir -p                         debian/tmp/usr/share/doc/ejbca
	cp -r tmp/htdocs/                debian/tmp/usr/share/doc/ejbca/htdocs
	cp -r doc/*                      debian/tmp/usr/share/doc/ejbca/
	cp debian/README		 debian/tmp/usr/share/doc/ejbca/README.Debian

# src TODO WE DONT WANT THIS IN THE BINARY PACKAGE !!!!
	cp -r src			debian/tmp/usr/share/ejbca/


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_installdebconf
#	dh_undocumented
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
