/* basic elements */
html {
	margin: 0px;
	padding: 0px;
}
body, ul, li, p {
	font-family: arial, sans-serif;
		font-size: 100%;
}
body { 
	color: #333; 
	background-color: #fff; 
	margin: 0; 
	padding: 0;
}
ul {
	list-style-type:square;
}
li {
	line-height: 130%;
}	
p { 
   margin: .2em 2em .5em 0; 
   text-align: left;
}

a {
	text-decoration : none;	 
}

a:link { color:#015a9c; text-decoration: none;} 
a:visited { color:#2170ab}
a:hover { text-decoration: underline;}

#news{margin:0 0 0em 0; padding:.8em; background-color:#f0f0f0; min-height:300px;}

div #twitter {
   float:left;
   margin:0 1em 1em 0;
}

/**possible to dispose of? **/

#toppic { padding-left:210px;}
#promotion {
	padding:0;
	margin:0;
	}
	#promotion td{
		padding:0;
		margin:0;
		vertical-align:top;
		}
.marg{padding-left:13px;}
.marg2{padding:0 0 .5em 0;}
.pagetitle{
	color:#005a9b;
	}
	
div.right {
	float: left;
}
/** end of dispose ?**/

acronym {
	border-bottom: none;
	}

.menucontainer {
    float: left;
    background-color: #ffffff;
    margin: 0px;
    width: 260px;
    height: 100%;
}

.menu {
    font-size : 120%;
    padding: 3px 8px 5px 3px;
}

.menu a { font-weight:normal; font-style: normal; color: #5e87bb; text-decoration : none; }
.menu a:link {   }
.menu a:visited { color:#999999; }
.menu a:hover { text-decoration: underline; }
.menu ul { margin: 0px 0px 0px 20px; padding: 0px; }
.menu li  {  list-style-type: none; font-weight : normal ; color:#5e87bb; }
.menu ul ul li .sel { padding: 0 0 4px 0px;  font-style:italic; text-decoration: underline; font-weight: bold;}
.menu ul ul li  { list-style-type: disc; font-weight : normal; color: #015a9c;}

.menuheader {
    white-space: nowrap;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 1px dashed #8ca8d0;
	margin-top: 10px;
	margin-bottom: 7px;
	padding: 2px;
	padding-left: 0px;
	color: #015a9c;
}

.sel {
}

.tab { font-size : 100%; border: 0; background-color: #294563;}
.tab a:link {   text-decoration: none;  }
.tab a:visited { text-decoration: none; color: #2A4A6D; }
.tab a:visited { text-decoration: none; color: #8ca8d0; }
.tab a:hover { color: #000066; text-decoration: underline; }

table .title { background-color: #FFFFFF; width:100%; border: 0px; }
.dida { font-size: 0.8em; }

.pre { white-space: pre;}
.nowrap { white-space: nowrap;}

.main {
    margin: 0 5px 0 280px;
}

.content {
    padding: 5px 5px 7px 10px;
}

.date{ font-size:0.7em; font-weight:bold;}

.content .ForrestTable { width: 100%; background-color: #7099C5; color: #ffffff; font-size : 100%;}
.content .ForrestTable caption { text-align: left; color: black; font-weight: bold; }
.content .ForrestTable th { text-align: center; }
.content .ForrestTable td { background-color: #f4f2f2; color: black; }

.content .externals { width: 80%; background-color: #7099C5; color: #ffffff; font-size: 100%;}
.content .externals caption { text-align: left; color: black; font-weight: bold; }
.content .externals th { width: 120px; text-align: right; }
.content .externals td { background-color: #f0f0ff; color: black; }

.frame {
  border-radius: 5px;
  border: solid #e8e8e8 1px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
}
div.frame{
	padding: 0;
	margin: 0;
	}
.frame .label {
  background: #8ca8d0;
  border-radius: 3px 3px 0 0;
  color: white;
  font-size:1.3em;
  font-weight: bold;
  padding: 8px 10px;
}
.label a { font-size:1.1em; font-weight:bold; font-style: normal; color: #015a9c; text-decoration : none; }
.label a:link {   }
.label a:visited { color: #015a9c;}
.label a:hover { text-decoration: underline; }

.frame .content {
  border-radius: 5px;
  padding: .5em 1em;
  background: #f0f0f0;
  color: black;
  line-height: 120%;
}
.frame .content hr{
	display: block;
	height: 1px;
    border: 0;
	border-top: 1px dotted #8ca8d0;
    margin: 0 0 1em 0; padding: 0;
	}
.warning .label {
  background: #C00;
  color: white;
}
.warning .content {
  background: #FFF0F0;
  color: black;
}
.fixme .label {
  background: #C6C600;
}

.fixme { margin-top: 15px; margin-bottom: 15px; padding: 5px; border: solid 1px #C6C600; background-color: #FAF9C3; }
.fixme .label { background-color: #C6C600; color: #ffffff; }

.code { background-color:#FCF1D1; border-color: #CFDCED; border-style: dashed; border-width: 1px; margin: 0px 5px 20px 5px; padding: 8px 10px 8px 10px; }
.codefrag {	font-family: "Courier New", Courier, monospace; }

.highlight { background-color: yellow; }


.dtdElement { width: 100%;	font-size: 100%; background-color : #ffffff; }

.dtdTag {    color: #990000; text-transform : uppercase;  font-style : normal;  font-size : 1.2em;  font-weight : bold; }


h1, h2, h3, h4, h5, h6 {
	font-family: arial, sans-serif;
    font-weight: bold;
    margin: 1em 0 1em;
    padding-bottom: 1px;
}

h1 {
    font-size: 1.6em;
    color: #333333;
    margin-top: 0em;    
}
h2 {
    font-size:  1.1em;
    color: #333333;
    margin-top: 0em;
}	

h3 { 
    font-size: 2em;
    letter-spacing: 1px;
    margin: .5em 3em 0 0;
    padding: 0;
    /*color: #015a9c;*/

}

h4 {
    font-size: .9em;
	font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px dashed #8ca8d0;
}

.section {

}

.subsection {
	margin-left: 25px;
}

.subsubsection {
	margin-left: 25px;	
}


.toc {
    /*font-family: arial,helvetica,sanserif;*/
	    font-family: georgia;
    background-color: #4C6C8F;
    color: #ffffff;
    font-weight: bold;
    padding: 2px;
}

.faq {
    font: italic normal 10pt georgia;
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #688B9A;
	border-bottom: 1px solid #688B9A;
    padding: 2px;
}

.navpath {
    font-family: arial,helvetica,sanserif;
    background-color: #CFDCED;
    padding: 2px 6px;
    margin: 0px 0px 0px 0px;
    font-size:.9em;
    border-bottom: 2px solid #4C6C8F;
}

.copyright {
    font-family: arial,helvetica,sanserif;
    font-size: .9em;
    background-color: #F1F1F1;
    clear: both;
    text-align: left;
    margin:0 0 10px 0;
    padding-left: 15px;
    border-top: thin solid #CCC;
    border-bottom: thin solid #CCC;
}

.bluebar {
    padding: 5px 5px 5px 10px;
    background-color: #006699;
    margin: 0px;
}

.lightbluebar {
    padding: 5px 5px 5px 10px;
    background-color: #CFDCED;
    margin: 0px;
    border-top: 1px solid #294563;
    border-bottom: 1px solid #294563;
}

.logobar {  
	background-color: #f0f0f0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 4pt 0px 0pt 15pt;
	padding: .5em 0 0 1.5em;
}

.searchcaption {
    font-family: Tahoma;
    font-size: 100%;
	line-height:150%;
    font-style: normal;
    margin: 0px;
    float: left;
    text-align: left;
    padding: 5px 0 1.5em 108px;
}

#searchBox {
    width: 235px;
	height:120%;
}
#searchForm {
    margin: 0px;
}
#goButton {
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 8pt;
}
@media print {
   .menu {
     display: none;
   }
}

a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(./images/external.png) right center no-repeat;
  padding-right: 15px;
}

.screenshots {

}
.screenshots tr td {
	width:300px;
}
.screenshots tr th {
}

#minitoc-area {
    margin: 0 10px 15px 5px;
    padding: 5px 0 5px;
}
.minitoc {
	margin: 0px 5px; 
	color: #559635;
	font-weight: normal;	
}
.minitoc li{
	color: #8ca8d0;
	}